{% extends 'modules/base/simple.html' %}
{% load module_tags static %}

{% block title %}
    {% define 'pageTitle' 'Own It: Apply To Real Life!' %}
    {% define 'nextBtnLabel' "Review What You've Learned" %}
    {{ block.super }}
{% endblock %}

{% block content_body %}
    <style type="text/css">
        #actions {
            width: 300px;
        }

        .actionIcon {
            float: left;
            padding-bottom: 35px;
            width: 50px;
        }

        .actionLabel {
            margin-left: 80px;
            padding-top: 10px;
        }
    </style>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#emailReport').click(function() {
            if (confirm('Do you want to continue sending email?')) {
                 var form = $(this).closest('form');
                console.log('Sending email');
                $.ajax({
                    type: 'POST',
                    url: '{% url 'module1_cheetah3_email' %}',
                    data: form.serialize(),
                    success: function (data) {
                        if (data.message) {
                            alert(data.message);
                        }
                    }
                });
            }
        });
    });
    </script>
    <h3>Get your Cheetah Sheet and your Problem Solver Profiles</h3>

    <div id="actions">
        <img src="{% get_static_url %}{% static 'decisions/img/printer.png' %}" class="actionIcon"/>
        <p class="actionLabel"><a id="printReport" onclick="frames['frame'].print(); return false;">Print a copy</a></p>

        <div style="clear: both;"></div>

        <img src="{% get_static_url %}{% static 'decisions/img/email.png' %}" class="actionIcon"/>
        <p class="actionLabel"><a id="emailReport">Send me an email</a></p>
    </div>

    {# This must be display: block, otherwise it will print an 'empty' page in Chrome #}
    <iframe src="{% url 'module1_cheetah3_print' %}" style="display: block; height: 0px; width: 0px;" name="frame"></iframe>
{% endblock %}