{% extends "account/base.html" %}

{% load  account socialaccount bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <h1>{% trans "Sign In" %}</h1>
    <p>If you have not created an account yet, then please <a href="{% url 'account_signup' %}">sign up</a> first.</p>
    <form class="login" method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button type="submit">{% trans "Sign In" %}</button>
    </form>
    {% if SITE_NAME != 'fp' and not mobile %}
        <p><a href="{% url 'mobile_login' %}">Login using mobile number</a></p>
    {% endif %}
{% endblock %}
