{% extends "account/base.html" %}

{% load i18n %}
{% load account bootstrap %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Solve this problem: enter your email address and you will be sent instructions to reset your password." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" value="{% trans 'Reset My Password' %}">{% trans 'Reset My Password' %}</button>
    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    {% if SITE_NAME != 'fp' and not mobile %}
        <p><a href="{% url 'mobile_forget_password' %}">Forgot password? Reset using mobile number.</a></p>
    {% endif %}

{% endblock %}
