{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Decision Dilemma{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
        #why_options div {
            margin-bottom: 10px;
        }

        label {
            font-size: large;
            border: 1px solid #dddddd;
            width: 100%;
            padding: 5px;
        }

        :checked + span {
            font-weight: bold;
        }
    </style>

    <h2 class="center">Decision Making Is Personal</h2>

    <p>Life has easy and difficult decisions but we each have a different idea of what is easy or difficult to decide.
        How you understand your situation and the facts may be different from how others see and understand them.</p>

    <p>Why were some simple decisions hard to make and some complex decisions easy?
        <span class="font-size: small">(Check at least one)</span></p>

    <div id="why_options" style="margin-top:20px;">
        {% for option in module.get_why_options %}
            <div>
                <label>
                    <input type="checkbox" name="why[]" value="{{ option }}"/>
                    <span>{{ option }}</span>
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="center">
        <input id="next" type="submit" value="Show Me An Example"></input>
    </div>
    {% get_back_link module nav.previousUrl %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% for chosen_why in why %}
                $(":checkbox[value='{{ chosen_why }}']").prop('checked', true);
            {% endfor %}
        });

        function validate() {
            if ($('#why_options').find(':checked').length > 0) {
                return true;
            } else {
                alert("Please select at least one.");
                return false;
            }
        }
    </script>
{% endblock %}
