{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Perspective-taking{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h2 class="center">
        Perspective-taking
    </h2>

    {% include 'module2/map_content.html' with display_mode='Perspective-taking' %}

    <h3>
        Perspective-taking is looking at a situation from a different point of view. To do
        that {{ sample_student.name|title }} is going directly
        to the colleges’ websites so they tell their own story.
    </h3>

    <div class="center" style="margin-top: 50px;">
        {% get_next_btn module "New Point of View" nav.nextUrl %}
    </div>
    {% get_back_link module nav.previousUrl %}
{% endblock %}
