<h3>List three ways the biases may impact your decision-making:</h3>
{% if mode == 'print' %}
    <ul>
        <li><span style="border-bottom: 1px solid black;">{{ my_bias.0 }}</li>
        <li><span style="border-bottom: 1px solid black;">{{ my_bias.1 }}</li>
        <li><span style="border-bottom: 1px solid black;">{{ my_bias.2 }}</li>
    </ul>
{% else %}
    <table class="table">
        <tbody>
        <tr>
            <td width="5">1.</td>
            <td><textarea name="my_bias[]" class="auto-text-area">{{ my_bias.0 }}</textarea></td>
        </tr>
        <tr>
            <td width="5">2.</td>
            <td><textarea name="my_bias[]" class="auto-text-area">{{ my_bias.1 }}</textarea></td>
        </tr>
        <tr>
            <td width="5">3.</td>
            <td><textarea name="my_bias[]" class="auto-text-area">{{ my_bias.2 }}</textarea></td>
        </tr>
        </tbody>
    </table>
{% endif %}
