{% extends 'modules/cheetah/sheet.html' %}
{% load static %}
{% block cheetah_content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            var minTextLength = 2;

            function validate() {
                var valid = true;

                /* Scan each text field and ensure that it has at least min chars length */
                return valid;
            }

            /* Validate the form and submit */
            $('#completeBtn').click(function () {
                var results = validate();
                if (results) {
                    $('form').submit();
                }
                return results;
            });

            $('#showProfileBtn').click(function () {
                /* Show modal */
                $('.modal').css('display', 'block');
                return false;
            });

            $('#closeBtn').click(function () {
                /* Hide modal */
                $('.modal').css('display', 'none');
                return false;
            });

            /* Causes the button clicks to fail */
            /*
            $(window).click(function (e) {
                $('.modal').css('display', 'none');
                return false;
            });*/
        });
    </script>

    <style type="text/css">
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        .modal-content {
            background-color: #eee;
            margin: auto;
            padding: 20px;
            /* border: 1px solid #888888; */
            width: 70%;
        }

        #pro_con {
            background-color: #eee;
        }

        #pro_con p {
            font-size: 1em;
        }

        .table .cheetahQuestions {
            width: 60%;
            margin-top: 10px;
        }

        .question {
            color: #1e2846;
            font-size: 18px;
            font-weight: 800 !important;
        }

        #why_options div {
            margin-bottom: 10px;
        }

        label {
            font-size: large;
            border: 1px solid #dddddd;
            width: 100%;
            padding: 5px;
        }

        :checked + span {
            font-weight: bold;
        }
    </style>

    <div class="space"></div>

    <div class="center">
        <button id="showProfileBtn">Show Cheetah Sheet 3</button>
    </div>

    <div id="pro_con" class="modal">
        <div class="modal-content">
            <img src="{% static 'decisions/img/cheetah_logo.png' %}" style="float: left; margin-right: 15px;" width="60"/>
            <h2>Cheetah Sheet 3: Define Success and Critical Concepts</h2>
            {% include 'module1/cheetah3/form.html' with mode='print' %}

            <p class="center">
                <button id="closeBtn">Click to Close</button>
            </p>
        </div>
    </div>

    <p>Apply what you’ve learned about mental shortcuts and bias to your pre-existing decision problem</p>

    {% include 'module2/cheetah4/form.html' %}

    <div class="space"></div>

    <div class="center">
        <button id="completeBtn" value="Complete Cheetah Sheet">Complete Cheetah Sheet</button>
    </div>
{% endblock %}