<h3>You are... The Adventurer!</h3>
<p>
    You make decisions quickly and you trust your gut feeling. When faced with a challenge, big or small, you’d rather
    do what feels right than spend your time thinking through all the choices. You know who you are, and you know what
    you want—so you aren’t afraid to go get it.
</p>
<h4>Strengths</h4>
<p>
    Being The adventurer comes with a lot of perks. One of your defining strengths is your confidence—you believe in
    yourself, and you know what you stand for. That makes it easy for you to judge if a decision is the right one for
    you. That’s a powerful thing! This confidence probably shows up in your life in a lot of ways, but its most obvious
    when you’ve got a big decision ahead of you. Another defining strength is that you are built for speed—you move
    quickly! You’re not afraid to go boldly toward what you want, and fast. That lets you get a lot done in a short
    period of time.
</p>
<h4>Blind Spots</h4>
<p>
    There are some downfalls to this decision-making style, too. Sometimes, your confidence makes you believe that
    things are going to go your way—and sometimes, they won't. This "optimism bias" makes you feel unstoppable, and
    sometimes, that can lead you into danger. Because you move quickly, you sometimes don’t always have an accurate
    sense for how long something really takes, and so this "planning fallacy" makes you run the risk of being behind and
    not actually accomplishing everything you wanted to. And finally, because have such strong beliefs in what is right
    and what is wrong, you aren't always able to look at the full picture. Sometimes, you'll see evidence that tells you
    that you’re going in the wrong direction, but your "confirmation bias" leads you to find a way to make it support
    what you think is right. Watch out for these biases that you have—if you know what they are, you can make sure to
    protect yourself from them!
</p>
<h4>Decision-Makers Like You!</h4>
<p>
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Malcolm_X" target="_blank">Malcolm X</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Barack_Obama" target="_blank">Barack Obama</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Oprah_Winfrey" target="_blank">Oprah Winfrey</a></li>
</ul>
</p>