<h3>You are... The Architect!</h3>
<p>
    In any situation, you believe that there's always another, better way. When you see two options, you immediately
    think of what a more powerful third option could be. You don't like to settle for the ordinary, and you like to go
    your own way. You keep everyone guessing—and usually, you surprise those around you with your decisions!
</p>
<h4>Strengths</h4>
<p>
    As aa Architect, your great strength is being able to see possibilities that other people may miss. When things seem
    too obvious, you get bored; you prefer to imagine and dream up new ways of doing things that no one has ever thought
    of. You are an innovator and an inventor. These traits make you a powerful decision-maker because to you, the best
    option is the one you create yourself. The people around you admire what a strong individual you are. You aren't
    afraid to do what might be unpopular if you believe it will give you the best results. This also makes you a natural
    leader.
</p>
<h4>Blind Spots</h4>
<p>
    But being The Architect does have its drawbacks. You have a tendency to believe that with a creativity spirit, you
    can accomplish anything. This optimism is great, but sometimes means that you fall into a "planning fallacy" where
    you think a decision will take you less time to make than it actually does. This makes you fall behind a lot.
    Because you tend to lean on your imagination, and not do thorough research, your opinions are sometimes shaped by
    limited information. Because you are drawn to exciting ideas, you often get attached to the most recent or bold
    details, even if they aren't ultimately that important. This "saliency bias" makes you make judgements, or create
    new opportunities, based on a superficial understanding of the decision you're trying to make. Finally, because you
    like to go our own way, you sometimes try too hard to be an original. This tendency, called "scarcity," makes you
    invest in being different more than in making the smartest decision.
</p>
<h4>Decision-Makers Like You!</h4>
<div class="bio">
    <div class="bio col-md-4">
        <div>
            <img src="/static/area_app/img/archetype/jobs.jpg"/>
        </div>
        <div>
            <a href="https://en.wikipedia.org/wiki/Steve_Jobs" target="_blank">Steve Jobs</a>
            - Entrepreneur and Inventor, Apple and Pixar
        </div>
    </div>
    <div class="bio col-md-4">
        <div>
            <img src="/static/area_app/img/archetype/beyonce.jpg"/>
        </div>
        <div>
            <a href="https://en.wikipedia.org/wiki/Beyoncé" target="_blank">Beyoncé</a>
            - Singer and Entertainment Icon
        </div>
    </div>
    <div class="bio col-md-4">
        <div>
            <img src="/static/area_app/img/archetype/lebron.jpg"/>
        </div>
        <div>
            <a href="https://en.wikipedia.org/wiki/Lebron_James" target="_blank">Lebron James</a>
            - NBA All-Star
        </div>
    </div>
</div>
