<h3>You are... The Listener!</h3>
<p>
    You’ve got a whole village of people in your life who you trust and who support you. When you are faced with a
    challenge or a decision, you know you can rely on your people. They love you, and you love them—and it means you
    always have great advice ready for you when you ask.
</p>
<h4>Strengths</h4>
<p>
    In life, there are few things more powerful than having a tight network of people who support you. As a Listener,
    your community is one of your biggest assets. You have people who you trust to help you make decisions and move
    forward in your life, and you know that you can always turn to them. That is a great position to be in. In general,
    you are a trusting person that believes in the people around you. Because of this trait, you have no trouble
    building relationships with people and continuing to expand this network of support that you have around you.
</p>
<h4>Blind Spots</h4>
<p>
    Sometimes, though, being a Listener means that you rely on other people too much to make decisions for you. Because
    you are loyal to the people you trust, you sometime have a blind spot and make decisions based on what—or who!—you
    like, rather than based on what’s actually best for you. This "liking bias" makes you listen to the people you like
    and overlook it when they might be wrong. When you lean on the suggestions of others too much, you stop thinking for
    yourself. This "social proof" means that you just do what others think, instead of thinking about what you actually
    want. This can be dangerous, because you could lose touch with what matters to you. Listening to others and hearing
    their opinions can help you make sense of things, but be careful—this "narrative bias" may lead you to oversimplify
    things that actually need more of your attention.
</p>
<h4>Decision-Makers Like You!</h4>
<p>
    TODO
</p>