<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Decisive!</title>
</head>
<body>
    <p>Welcome!</p>
    <p>Before getting started using the Decisive's Decision-Making Modules let's get a baseline on your decision-making and we'll chart your growth.</p>
    <br />
    <p>Step 1: Take a brief intake survey located <a href="https://forms.gle/WLQVCbvLUnZVa9rA7" target="_blank">here</a>.</p>
    <p>Step 2: Get started on the modules by clicking <a href="https://decisive.areamethod.com/">here</a>.</p>
    <br />
    <p>At any time, if you have questions, email <a href="mailto:decisive@areamethod.com">decisive@areamethod.com</a>.</p>
    <p>Enjoy learning how to make your big decisions better.</p>
    <br />
    <p>Decisive Team</p>
</body>
</html>
