{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load area_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Introduction to Decision Making{% endblock %}{% endblock %}
{% block content %}
    <div class="center">
        <h3>
            WHEW!
        </h3>
        <h3>
            That's a lot of decisions that we have to make!
        </h3>
    </div>

    <div class="center start">
        {% get_next_btn module "Keep Going" "game2/instructions" %}
    </div>
    {% get_back_link module "game1/game" %}
{% endblock %}
