{% extends 'decisions/base.html' %}
{% load bootstrap module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Self-Awareness{% endblock %}{% endblock %}
{% block content %}
    <h2 class="center">Self-Awareness</h2>

    {% include 'module1/map_content.html' with display_mode='Self-Awareness' %}

    <p>Just like real life you're about to make a lot of decisions!</p>

    <p>Click the <span class="button-instructions">Easy</span> button
        if the decision is an easy one for you. Click the <span class="button-instructions">Hard</span>
        button if it's a hard decision for you.</p>
    <div class="center start">
        <button id="next" type="button"><a href="#" onclick="return countdown()">Play Game</a></button>
    </div>
    {% get_back_link module nav.previousUrl %}
    <div style="display: none; background: rgba(54, 25, 25, .8); height: 100%; width: 100%; position: fixed; top: 0; left: 0; float: right; z-index: 99; text-align: center; padding-top: 20%"
         id="timer">
        <div style="font-size: 256px; color: #f6653c" id="time">3</div>
    </div>

    <script type="text/javascript">
        function countdown() {
            $('#timer').show()
            var timeleft = 3;
            var downloadTimer = setInterval(function () {
                timeleft--;
                $("#time").text(timeleft);
                if (timeleft <= 0) {
                    clearInterval(downloadTimer);
                    window.location.href = '{{ nav.nextUrl }}';
                }
            }, 1000);
            return false;
        }
    </script>
{% endblock %}
