{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}
    {{ student_class }}
{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
        th, td {
            padding: 10px;
        }
    </style>
    <form action="/class/{{ student_class.id }}" id="form" method="post">
        <div>
            <h3>{{ student_class }}</h3>
            <table border="1" style="margin: 30px; padding: 30px;">
                <tr>
                    <th>Instructor</th>
                    <td>{{ student_class.instructor.name }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ student_class.created_on }}</td>
                </tr>
                <tr>
                    <th>Details</th>
                    <td>
                        <table border="1" id="show">
                            <tr>
                                <th>Name</th>
                                <td>{{ student_class.name }}</td>
                            </tr>
                            <tr>
                                <th>Student Note</th>
                                <td>{{ student_class.intro_note }}</td>
                            </tr>
                            <tr>
                                <th>Start Module</th>
                                <td>{{ student_class.starting_module }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-left: 40%">
                                    <a href="#" onclick="return(edit());">Edit</a>
                                </td>
                            </tr>
                        </table>
                        <table border="1" id="edit" style="display:none;">
                            <tr>
                                <th>Name</th>
                                <td>
                                    <input type="text" name="name" value="{{ student_class.name }}" size="30"/>
                                </td>
                            </tr>
                            <tr>
                                <th>Student Note</th>
                                <td>
                                    <textarea name="intro_note" cols="30" rows="3">{{ student_class.intro_note }}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>Start Module</th>
                                <td>
                                    <select title="Starting Module" name="starting_module"">
                                    {% for i in "x"|rjust:num_modules %}
                                        <option value="{{ forloop.counter0 }}"
                                                {% if student_class.starting_module == forloop.counter0 %}
                                                selected="selected"{% endif %}>{{ forloop.counter0 }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-left: 40%">
                                    <input type="submit" class="btn" name="submit" value="Save"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Students</th>
                    <td>
                        <table border="1">
                            <tr>
                                <th>Student</th>
                                <th>Module</th>
                                <th>Page</th>
                                <th>Decision</th>
                                <th>Action</th>
                            </tr>
                            {% for student in student_class.students %}
                                <tr>
                                    <th><a href="/class/journal/{{ student.id }}">{{ student.course.user.name }}</a></th>
                                    <td>{{ student.current_module }}</td>
                                    <td>{{ student.current_page }}</td>
                                    <td>{{ student.decision }}</td>
                                    <td>
                                        <div>Send Note</div>
                                        <div>Restart</div>
                                        <div>Send to Expert</div>
                                        <div>
                                            <a href="/class/unenroll/{{ student.id }}">Unenroll</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        TODO - add missing students - enroll, beginning - only from their dream directors
                    </td>
                </tr>
                <tr>
                    <th>Completed</th>
                    <td>
                        {{ student_class.completed_on }} -
                        {% if student_class.completed_on %}
                            <a href="/class/{{ student_class.id }}/reopen">Reopen</a>
                        {% else %}
                            <a href="/class/{{ student_class.id }}/close">Close</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <a href="/class">All Classes</a>
    <div style="float: right;">
        <a href="/class/{{ student_class.id }}/delete" onclick="return(confirm('Are you sure?'))">Delete Class</a>
    </div>
    <script type="text/javascript">
    function edit()
    {
        $('#edit').show();
        $('#show').hide();
        return false;
    }
    {% if not student_class.name %}
        edit();
    {% endif %}
    </script>

{% endblock %}
