{% load module_tags static %}
<div class="row">
    <div class="col-xs-10 col-sm-10" style="margin-top: 0;">
    <h3>
        {# display_url and display_label are set in decisions/templatetags/module_tags #}
        {% if module.completed_on %}
            {{ module.display_label }}
        {% else %}
            <a href="{{ module.display_url }}">{{ module.display_label }}</a>
        {% endif %}
        (<a href="/{{ module.num }}/restart">Restart</a>)
    </h3>
    </div>
    {% if module.completed_on %}
    <div class="col-xs-2 col-sm-2">
        <img src="/static/decisions/img/Module{{ module.display_num }}_badge.png" height="50">
    </div>
    {% endif %}
</div>