{% load module_tags static %}
<div class="row">
    <div class="col-xs-10 col-sm-10" style="margin-top: 0;">
    <h3>
        {% with 'Module '|add:module.display_num|add:' : '|add:module.name as module_label %}
            {% if module.completed_on %}
                Module {{ module.display_num }}{{ module_label }}
            {% else %}
                <a href="/{{ module.num }}/{% if module.step %}{{ module.step }}{% endif %}">Module
                    {{ module.display_num }}{{ module_label }}</a>
            {% endif %}
        {% endwith %}
        {% if user.is_staff %}(<a href="/{{ module.num }}/restart">Restart</a>){% endif %}
    </h3>
    </div>
    {% if module.completed_on %}
    <div class="col-xs-2 col-sm-2">
        <img src="/static/decisions/img/Module{{ module.display_num }}_badge.png" height="50">
    </div>
    {% endif %}
</div>