{% extends 'base.html' %}
{% block title %}{% block h1 %}Your Action Map{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block content %}
    <div>
    <h3>Decision</h3>

        <div class="q">Formatting needed.</div>
        <div class="q">Should these be printable?  How do we expect students to take actions here?  Fill out online?  Email / text it to them?</div>
        {% for cheetah, weight in attribute_cheetahs|slice:":3" %}
            <h4>{{ cheetah }} <span style="font-size: small; color: lightgray;">{{ weight }}</span></h4>
            <pre>{% with 'cheetah/'|add:cheetah|add:'.html' as path %}{% include path %}{% endwith %}</pre>
        {% endfor %}
    {% include 'buttons.html' %}
    </div>
{% endblock %}
