{% extends 'base.html' %}
{% block title %}{% block h1 %}Cognitive Biases{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block content %}
    <div>
        <div class="q">Rewrite to be more student friendly.</div>
        <div class="q">Explain what inputs they gave led to these?  Or overkill?</div>

    {% for bias in biases|slice:":3" %}
        <h4>{{ bias.bias }} <span style="font-size: small; color: lightgray;">{{ bias.weight }}</span></h4>
        <div>{{ bias.description }}</div>
    {% endfor %}
    </div>
    <div>
    <h2 class="q">TODO - Login / Sign Up to see Cheetah Sheets and Template</h2>
    <div class="q">Add posting to social media here?</div>
    <a href="/cheetah_sheets" class="btn btn-lg" role="button">Continue to Cheetah Sheets</a>
    </div>
{% endblock %}
