{% extends 'base.html' %}
{% block title %}{% block h1 %}Your Vision of Success{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block extra_head %}
    <script src="https://rawgit.com/RubaXa/Sortable/master/Sortable.js"></script>
    <style type="text/css">
        .list-group-item {
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <h3>How can you feel confident that you are making the best decision for you?
        I feel most confident when I... (rank in order of importance)</h3>
    <div class="q">TODO: Randomize order</div>
    <input type="hidden" name="success" id="success" value="{{ success_order }}" />
    <div style="font-size: larger">
        <ul class="list-group sortable" id="successList" style="list-style: none;">
            <li class="list-group-item" data-id="pro_con">
                <span class="drag-handle">☰</span>
                Weigh the pros and cons and take my time to decide
            </li>
            <li class="list-group-item" data-id="acted">
                <span class="drag-handle">☰</span>
                Act on a strong plan based in evidence
            </li>
            <li class="list-group-item" data-id="trust">
                <span class="drag-handle">☰</span>
                Build more trust with my friends and people who give me advice
            </li>
            <li class="list-group-item" data-id="pride">
                <span class="drag-handle">☰</span>
                Feel proud of my instincts and know I can trust them
            </li>
            <li class="list-group-item" data-id="created">
                <span class="drag-handle">☰</span>
                Create and act on a new, better option for my decision than anything I consider
            </li>
        </ul>
    </div>

    {% include 'buttons.html' %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('[name="success"][value="{{ request.session.success }}"]').click();
        });

        function validate() {
            return true;
        }
        $('form').submit(validate);

        Sortable.create(successList, {
            store: {
                /**
                 * Get the order of elements. Called once during initialization.
                 * @param   {Sortable}  sortable
                 * @returns {Array}
                 */
                get: function (sortable) {
                    var order = $('#success').val();
                    return order ? order.split('|') : [];
                },

                /**
                 * Save the order of elements. Called onEnd (when the item is dropped).
                 * @param {Sortable}  sortable
                 */
                set: function (sortable) {
                    var order = sortable.toArray();
                    $('#success').val(order);
                }
            }
        });
    </script>
{% endblock %}
