<div>
    <a href="/">Problem Solved!</a>
</div>
<div>
    {% if s.decision %}
        <a href="/decision">What's your Decision? {{ s.decision }} ({{ s.decision_type }})</a>
    {% else %}
        Decision
    {% endif %}
</div>
<div>
    <a href="/critical_concepts">Critical Concepts</a>
</div>
<div>
    {% if s.questions_yes %}
        <a href="/edges_pitfalls">Your Decision-Making Style</a>
    {% else %}
        Your Decision-Making Style
    {% endif %}
</div>
<div>
    {% if s.archetypes %}
        <a href="/cognitive_biases">Your Decision Maker Profile</a>
    {% else %}
        Your Decision Maker Profile
    {% endif %}
</div>
<div>
    {% if s.cheetah_sheets %}
        <a href="/cheetah_sheets">Cheetah Sheets: {% for item in s.cheetah_sheets|slice:":3" %}{{ item.0 }}, {% endfor %}</a>
    {% else %}
        Cheetah Sheets
    {% endif %}
</div>
<div>
    {% if s.summary %}
        <a href="/summary">Summary</a>
    {% else %}
        Summary
    {% endif %}
</div>
