{% extends 'base.html' %}
{% block title %}{% block h1 %}What's your Decision?{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block extra_head %}
<style class="text/css">
.tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 15px;
    max-width: 500px;
    width: 500px;
    text-align: left;
}
</style>
{% endblock %}
{% block content %}
    <div style="width: 380px; float:right;">
        <p>Need some examples for the kinds of decisions that people like you have to make everyday? Click on the videos to hear from Naomi and Mitch.</p>
        <iframe width="180" height="315"
                src="https://www.youtube.com/embed/eI18uNKEJyo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                allowfullscreen></iframe>
        <iframe width="180" height="315"
                {% if request.session.partner == "apres" %}
                src="https://www.youtube.com/embed/AVKZOcV3hIQ?rel=0&amp;controls=0&amp;showinfo=0"
                {% else %}
                src="https://www.youtube.com/embed/CvkjxEoVKL8?rel=0&amp;controls=0&amp;showinfo=0"
                {% endif %}
                frameborder="0"
                allowfullscreen></iframe>
    </div>
    <h3>What type of decision are you making? Click all that apply.</h3>
    <div class="q">Line breaks to match below...</div>
    <div style="margin-top: 20px;" id="decision_types" class="row">
        <div>
            <label class="decision_type"><input type="checkbox" name="decision_type[]" value="family"/>
                Family</label>
            <span class="info" data-toggle="tooltip">[<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> See Example]</span>
        </div>
        <div>
            <label class="decision_type"><input type="checkbox" name="decision_type[]" value="friends"/>
                Friends</label>
            <span class="info" data-toggle="tooltip">[<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> See Example]</span>
        </div>
        <div>
            <label class="decision_type"><input type="checkbox" name="decision_type[]" value="school"/>
                School</label>
            <span class="info" data-toggle="tooltip">[<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> See Example]</span>
        </div>
        <div>
            <label class="decision_type"><input type="checkbox" name="decision_type[]" value="after school"/> After
                School</label>
            <span class="info" data-toggle="tooltip">[<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> See Example]</span>
        </div>
        <div>
            <label class="decision_type"><input type="checkbox" name="decision_type[]" value="money related"/>
                Money Related</label>
            <span class="info" data-toggle="tooltip">[<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> See Example]</span>
        </div>
        <div>
            <label class="decision_type"><input type="checkbox" name="decision_type[]" value="identity"/>
                Identity</label>
            <span class="info" data-toggle="tooltip">[<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> See Example]</span>
        </div>
        <div>
            <label class="decision_type"><input type="checkbox" name="decision_type[]" value="health"/>
                Health</label>
            <span class="info" data-toggle="tooltip">[<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> See Example]</span>
        </div>
        <div>
            <label><input type="checkbox" name="decision_type[]" value="other"/> Other: </label>
            <input type="text" name="decision_type_other" id="decision_type_other" size="20"
                   value="{{ request.session.decision_type_other }}"/>
        </div>
    </div>
    <h3>What's your decision?</h3>
    <h4>
        I am facing a<span id="types_starts_with_vowel" style="display:none">n</span> <span id="types"></span>
        challenge.
        <br/>
        I need to decide <input type="text" size="80" name="decision" id="decision"
                                value="{{ request.session.decision }}"/>.
        <br/>
        I have these options: <input type="text" size="76" name="options" id="options"
                                     value="{{ request.session.options }}"/>.
        <br/>
        I need to decide <select name="timeframe" id="timeframe">
        <option value=""></option>
        <option value="day">today</option>
        <option value="week">this week</option>
        <option value="month">this month</option>
        <option value="year">this year</option>
        <option value="sometime">sometime</option>
    </select>.
    </h4>
    {% include 'buttons.html' %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#timeframe').val('{{ request.session.timeframe }}');
            var decision_types = '{{ decision_types }}'.split(',');
            for (var i = 0; i < decision_types.length; i++) {
                $('[name="decision_type[]"][value="' + decision_types[i] + '"]').click();
            }
            $('.info').each(function(){
                var val = $(this).closest('div').find(':checkbox').attr('value');
                var example = type_examples[val];
                var text = get_decision_text(val, example['decision'], example['options'], example['timeframe']);
                $(this).attr('title', text);
            });
            $('[data-toggle="tooltip"]').tooltip();
        });

        var type_none = '[select type above]';
        $('#types').text(type_none);

        function updateTypes() {
            var types = '';
            var some_checked = false;
            $(':checkbox').each(function () {
                if ($(this).is(":checked")) {
                    some_checked = true;
                    var val = $(this).attr('value');
                    if (types) {
                        types += ' and ';
                    } else {
                        // an / a for the first one
                        if (val.startsWith('a') || val.startsWith('i')) {
                            $('#types_starts_with_vowel').show();
                        } else {
                            $('#types_starts_with_vowel').hide();
                        }
                    }
                    if (val == 'other') {
                        var other_type = $('#decision_type_other').val();
                        if (!other_type) {
                            other_type = '[type in details for "Other"]'
                        }
                        types += other_type
                    } else {
                        types += val;
                    }
                }
            });
            if (!types) {
                types = type_none;
            }
            $('#types').text(types);
        }

        $(':checkbox').click(updateTypes);
        $('#decision_type_other').keyup(updateTypes);

        var type_examples = {
            'none': {
                'decision': 'what is your decision?',
                'options': ' what are your options?',
                'timeframe': '',
            },
            'money related': {
                'decision': 'whether I need to get a new job so that I can make more money',
                'options': ' ask my current boss for a raise, or look for a job that pays more',
                'timeframe': 'week',
            },
            'friends': {
                'decision': 'which friend I should talk to about a personal problem',
                'options': 'Nylah, Naziyah, Brittany, and Amy',
                'timeframe': 'day',
            },
            'family': {
                'decision': 'if I should babysit my younger brother instead of going to Dream Team',
                'options': 'stay home with my brother so my mom can go to work, or ask her to stay with my brother so I can go to practice',
                'timeframe': 'day',
            },
            'school': {
                'decision': 'when I should get my homework done when I have a big basketball game tonight',
                'options': 'do it before the game, but risk being late and getting benched, or do it after the game, but risk being too tired to focus',
                'timeframe': 'day',
            },
            'after school': {
                'decision': 'what sport I should play in the fall',
                'options': 'soccer, tennis, swimming, or no sport',
                'timeframe': 'week',
            },
            'identity': {
                'decision': 'if I should come out to my parents',
                'options': 'tell both parents, tell just one parent, or don’t tell either parent',
                'timeframe': 'week',
            },
            'health': {
                'decision': 'if I should go to the doctor for my illness',
                'options': 'go to the doctor and get a check up, or wait and see if I feel better in a few days',
                'timeframe': 'day',
            },
        }

        function validate() {
            var type_selected = false;
            $(':checkbox:checked').each(function () {
                var val = $(this).attr('value');
                if (val == 'other' && !$('#decision_type_other').val()) {
                    alert("Please type in the Other type of decision");
                    return false;
                } else {
                    type_selected = true;
                }
            });
            if (!type_selected) {
                alert("Please select one or more types");
                return false;
            }
            if (!$('#decision').val()) {
                alert("Please type in what you need to decide");
                return false;
            }
            if (!$('#options').val()) {
                alert("Please type in your options");
                return false;
            }
            if (!$('#timeframe').val()) {
                alert("Please select when you need to decide");
                return false;
            }
            return true;
        }
        $('form').submit(validate);

    </script>

{% endblock %}
