{% extends 'base.html' %}
{% load area_tags %}
{% block title %}{% block h1 %}Your Decision-Making Style{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block content %}
    <div class="q">Need we randomize positive / negative?</div>
    <h3>Check all that apply to you to determine your decision-making style.</h3>
    {% for question in questions %}
        <div>
            <label>
                <input type="checkbox" name="question[]" value="{{ question }}"/>
                {{ question }}
            </label>
        </div>
    {% endfor %}

    {% include 'buttons.html' %}

    <script type="text/javascript">
        $(document).ready(function(){
            var question = "";
            {% for question in questions_yes %}
                question = "{{ question }}".replace('\'', '\\\'').replace('&#39;', '\\\'');
                $('[name="question[]"][value="' + question + '"]').click();
            {% endfor %}
        });
        function validate() {
            var selected = false;
            $(':checkbox:checked').each(function () {
                selected = true;
            });
            if (!selected) {
                alert("Please check at least one");
                return false;
            }
        }
        $('form').submit(validate);
    </script>

{% endblock %}
