{% extends 'base.html' %}
{% block title %}{% block h1 %}Problem Solved!{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block content %}
    <h3>It can be messy and challenging to figure out how to solve thorny problems. Where do you start?
        How can you feel confident that you are making the best decision for you?</h3>

    <h3>Whether you are making a decision about friends, family, money or school,
        <a href="https://www.amazon.com/Problem-Solved-Decisions-Confidence-Conviction/dp/163265086X/ref=sr_1_1?ie=UTF8&qid=1485620336&sr=8-1&keywords=problem+solved" target="_blank">Problem Solved!</a>
        will show you how to
        use the powerful <a href="http://areamethod.com" target="_blank">AREA Method</a> to make successful decisions
        with confidence and conviction.
    </h3>
    <h3>By using
        <a href="https://www.amazon.com/Problem-Solved-Decisions-Confidence-Conviction/dp/163265086X/ref=sr_1_1?ie=UTF8&qid=1485620336&sr=8-1&keywords=problem+solved" target="_blank">Problem Solved!</a>
        you will understand yourself better as a decision maker by...</h3>
    <h3>
        <ul>
            <li>Clarifying the problem you need to solve</li>
            <li>Prioritizing what matters to you in the outcome</li>
            <li>Getting action steps tailored to help you solve your problem</li>
            <li>Connecting with other decision makers like you</li>
            <li>Receiving an "Action Map" that puts it all together</li>
        </ul>
    </h3>
    <div style="margin: 50px;">
        <input type="submit" class="btn btn-lg btn-primary" name="submit" value="Make a Good Decision!"/>
    </div>

    <div class="q">In log in / pull up saves decisions / etc.</div>
    <div class="q">Amazon tracking for app vs areamethod.com (email Chris)</div>
    <div class="q"><a href="/cheetah_master">All Cheetah Sheets</a> - needs editing</div>

    <div>
        {% if user.email %}
            Logged in as {{ user.email }} <a href="/logout">Logout</a>
        {% else %}
            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a> {{ user.email }}
        {% endif %}
    </div>
{% endblock %}
