{% extends 'base.html' %}
{% block title %}{% block h1 %}{% endblock %}{% endblock %}
{% block content %}
    {% if request.session.partner == "apres" %}
        <p class="margin-top-30-mob center margin-0-auto">
            Looking for a job you'll love?
            With
            <a href="https://www.amazon.com/Problem-Solved-Decisions-Confidence-Conviction/dp/163265086X/ref=sr_1_1?ie=UTF8&qid=1485620336&sr=8-1&keywords=problem+solved"
               target="_blank">PROBLEM SOLVED</a>
            (powered by the <a href="http://areamethod.com" target="_blank">AREA Method</a>)
            you will:
        <ul>
            <li>Get clear on what problem you're solving</li>
            <li>Identify what matters most to you and what you'd count as success</li>
            <li>Take a personality quiz to learn how you make decisions</li>
            <li>Get into action with some clear next steps</li>
        </ul>
        </p>
        <p class="margin-top-30-mob center margin-0-auto">
            Should you look for full-time, part-time or project-based work?
            Should you look for an office job, a tele-commuting opportunity or one with flexibility?
            Do you want on-the-job training or professional development opportunities or focus on what you know?
            How do you make a good decision? Where do you start?
            How can you feel confident that you are making the best decision for you?
        </p>
    {% elif request.session.partner == "fp" %}
        <p class="margin-top-30-mob center margin-0-auto">
            Throughout life's journey, we make thousands of decisions everyday.
            They could be small decisions, like, figuring out when to do your homework on a busy day, or big decisions,
            like figuring out what you should do after high school.
            Sometimes, it's hard to know if you made the right choice.
            Well, this app,
            <a href="https://www.amazon.com/Problem-Solved-Decisions-Confidence-Conviction/dp/163265086X/ref=sr_1_1?ie=UTF8&qid=1485620336&sr=8-1&keywords=problem+solved"
               target="_blank">PROBLEM SOLVED</a> is here to help you do that!
        </p>
        <p class="margin-top-30-mob center margin-0-auto">
            With
            <a href="https://www.amazon.com/Problem-Solved-Decisions-Confidence-Conviction/dp/163265086X/ref=sr_1_1?ie=UTF8&qid=1485620336&sr=8-1&keywords=problem+solved"
               target="_blank">PROBLEM SOLVED</a>
            (powered by the <a href="http://areamethod.com" target="_blank">AREA Method</a>), you will:
        </p>
        <p>
        <ul>
            <li>Get clear on what problem you're solving</li>
            <li>Identify what matters most to you and what you'd count as success</li>
            <li>Take a personality quiz to learn how you make decisions</li>
            <li>Get into action with some clear next steps</li>
        </ul>
        </p>
        <p>
            Making decisions that you feel good about doesn't have to be an uphill climb. Are you ready to solve your
            problem?
        </p>
    {% else %}
        <p class="margin-top-30-mob center margin-0-auto" style="font-size: x-large">
            What kind of a {% include "problem_solver.html" %} are you? Take a quiz to find out!
        </p>
        <p class="margin-top-30-mob center margin-0-auto">
            Are you a
            <img src="/static/area_app/img/thinker.png" height="20"/>Thinker
            (Albert Einstein), or a
            <img src="/static/area_app/img/detective.png" height="20"/>Detective (Marie Curie)?
            Might you solve problems like famous
            <img src="/static/area_app/img/adventurer.png" height="20"/>Adventurers (Ernest Shackleton), or are you a
            <img src="/static/area_app/img/creative.png" height="20"/>Creative (Beyonce)?
        </p>
        <p class="margin-top-30-mob center margin-0-auto">
            Take this quiz, powered by Cheryl Strauss Einhorn’s decision making system
            <a href="http://www.areamethod.com/" target="_blank">PROBLEM SOLVED</a> and make big decisions better!
            Select what feels most right to you.
        </p>
        {% include "_quiz.html" %}
        <p class="clearfix"></p>
        <p class="margin-top-30-mob center margin-0-auto">
            Researchers say that we make 40,000 decisions on any given day, everything from when to wake up in the
            morning
            to whether or not to have that late night snack (and then what to have).
            Knowing your {% include "problem_solver.html" %} profile will help you learn about both your decision
            making strengths and potential blind spots to control for and counteract mental mistakes.
        </p>
        <p class="margin-top-30-mob center margin-0-auto">
            With
            <a href="https://www.amazon.com/Problem-Solved-Decisions-Confidence-Conviction/dp/163265086X/ref=sr_1_1?ie=UTF8&qid=1485620336&sr=8-1&keywords=problem+solved"
               target="_blank">PROBLEM SOLVED</a>
            (powered by the <a href="http://areamethod.com" target="_blank">AREA Method</a>)
            you will:
        <ul>
            <li>Take a personality quiz to learn how you make decisions</li>
            <li>Get clear on what problem you're solving</li>
            <li>Identify what matters most to you and what you'd count as success</li>
            <li>Get into action with some clear next steps</li>
        </ul>
        </p>
        <p class="margin-top-30-mob center margin-0-auto">
            What does your {% include "problem_solver.html" %} profile say about you? Cheryl explains:
        </p>
        <p class="margin-top-30-mob center margin-0-auto">
            The {% include "problem_solver.html" %} profiles reflect a few realities about how we make decisions and the
            mental shortcuts that help us make small decisions well but hinder
            our insight, understanding and creativity when solving high stakes problems.
            For while we are all flawed thinkers, swayed by everything from experience to authority, we need a way to pry open
            cognitive space to allow for new information and analysis when solving complex problems.
            We want to make sure that our own preconceptions
            and mental shortcuts aren't directing our attention away from unfamiliar, yet viable opportunities.
        </p>
        <p class="margin-top-30-mob center margin-0-auto">
            The quiz was derived from Cheryl's <a href="https://www.amazon.com/Problem-Solved-Decisions-Confidence-Conviction/dp/163265086X/ref=sr_1_1?ie=UTF8&qid=1476473016&sr=8-1&keywords=cheryl+strauss+einhorn" target="_blank">PROBLEM SOLVED</a>
            framework.
        </p>
        <p class="margin-top-30-mob center margin-0-auto" style="font-size: x-large; font-weight: bold;">
            A Good Process + Good Information = Great Decisions
        </p>
    {% endif %}
    <div style="margin-top: 50px; text-align: center;">
        {% if request.session.partner == "fp" %}
            <div id="signup">
                <table style="margin: 0 auto;">
                    <tr>
                        <th>Name:</th>
                        <td><input type="text" class="form-control" id="name" name="name" size="20"/></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><input type="text" class="form-control" id="email" name="email" size="20"/></td>
                    </tr>
                    <tr>
                        <th>Password:</th>
                        <td><input type="password" class="form-control" id="password" name="password" size="20"/></td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td><input type="text" class="form-control" id="phone" name="phone" size="20"/></td>
                    </tr>
                    <tr>
                        <th>Dream Director:</th>
                        <td><input type="text" class="form-control" id="dream-director" name="dream-director"
                                   size="20"/></td>
                    </tr>
                </table>
                <script type="text/javascript">
                    $(function () {
                        $("#dream-director").autocomplete({
                            source: "/dd",
                            minLength: 2,
                        });
                    });
                </script>
                <input type="submit" class="btn btn-lg btn-primary" name="submit"
                       value="Sign Up to Make a Good Decision!" style="margin: 20px;"/>
                <div>
                    <a href="#" onclick="$('#signin').show();$('#signup').hide();return false;">Sign In</a>
                </div>
            </div>

            <div id="signin" style="display: none;">
                <table style="margin: 0 auto;">
                    <tr>
                        <th>Email:</th>
                        <td><input type="text" class="form-control" id="email" name="email" size="20"/></td>
                    </tr>
                    <tr>
                        <th>Password:</th>
                        <td><input type="password" class="form-control" id="password" name="password" size="20"/></td>
                    </tr>
                </table>
                <input type="submit" class="btn btn-lg btn-primary" name="submit" value="Sign In"
                       style="margin: 20px;"/>
                <div>
                    <a href="#" onclick="$('#signup').show();$('#signin').hide();return false;">Sign Up</a>
                </div>
            </div>


            <div class="carousel slide" data-ride="carousel" id="quote-carousel"
                 style="height: 150px; margin-bottom: 20px; margin-top: 20px;">
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">
                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <p style="font-size: small">
                                    The app was really helpful in making my decision. The community that I will get
                                    around this app will be really helpful. I’ll get input on my decision from others,
                                    and other people with my archetype can help me get me get my ideas in place and my
                                    decisions on the right rack.
                                </p>
                                <small>Aicha, 10th Grader</small>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <p style="font-size: small">
                                    The app was very impactful to me because it was a way for me to actually get a sense
                                    of direction of what I want to do and the decision I want to make. They gave me a
                                    step by step process on things I should do…I feel like the app will be useful for
                                    everybody.
                                </p>
                                <small>Alberto, 10th Grader</small>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <p style="font-size: small">
                                    I felt the app was useful for young adults and teens that have trouble making
                                    decisions. They need a path or direction; they app could really help lead them step
                                    by step and connect them to other people who may excel where they struggle to make
                                    important decisions in their lives.
                                </p>
                                <small>Aldikhr, 10th Grader</small>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    //Set the carousel options
                    $('#quote-carousel').carousel({
                        pause: true,
                        interval: 10000,
                    });
                });
            </script>

        {% else %}
            <input type="submit" class="btn btn-lg btn-primary" name="submit" value="Make a Good Decision!"/>
        {% endif %}
    </div>

    <div class="q">In log in / pull up saves decisions / etc.</div>
    <div class="q">Amazon tracking for app vs areamethod.com (email Chris)</div>
    <div class="q"><a href="/cheetah_master">All Problem Solvers</a> - needs editing</div>

    <div style="display: none;">
        {% if user.email %}
            Logged in as {{ user.email }} <a href="/logout">Logout</a>
        {% else %}
            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a> {{ user.email }}
        {% endif %}
    </div>

    <button class="btn" style="background-color: #f6653c; color: #ffffff;">
        <div style="font-size: x-large">PROBLEM <span style="color:#000000">SOLVED</span></div>
        Make Big Decisions Better
    </button>

    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58da669822b5e1b4"></script>
{% endblock %}
