{% extends 'base.html' %}
{% load static %}
{% block title %}{% block h1 %}Your Vision of Success{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block extra_head %}
    <script src="{% static 'area_app/js/Sortable.js' %}"></script>
    <style type="text/css">
        .list-group-item {
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <p>
    Imagine you've already made your decision.
        Which of these statements are you most likely to say and feel proud of?
        Rank them in order.
    </p>
    <input type="hidden" name="success" id="success" value="{{ success_order }}" />
    <p>
        <ul class="list-group sortable" id="successList" style="list-style: none;">
            {% for item in success %}
            <li class="list-group-item" data-id="{{ item.0 }}">
                <span class="drag-handle">☰</span>
                {{ item.1 }}
            </li>
            {% endfor %}
        </ul>
    </p>

    {% include 'buttons.html' %}

    <script type="text/javascript">
        (function ($) {
        "use strict";

        // Fix for seiyria bootstrap slider conflicting with UI-Slider
        $.fn.slider = function () { return true; };

    })(jQuery);

        $(document).ready(function () {
            $('[name="success"][value="{{ request.session.success }}"]').click();
        });

        function validate() {
            return true;
        }
        $('form').submit(validate);

        Sortable.create(successList, {
            store: {
                /**
                 * Get the order of elements. Called once during initialization.
                 * @param   {Sortable}  sortable
                 * @returns {Array}
                 */
                get: function (sortable) {
                    var order = $('#success').val();
                    return order ? order.split('|') : [];
                },

                /**
                 * Save the order of elements. Called onEnd (when the item is dropped).
                 * @param {Sortable}  sortable
                 */
                set: function (sortable) {
                    var order = sortable.toArray();
                    $('#success').val(order);
                }
            }
        });
    </script>
{% endblock %}
