{% extends 'base.html' %}
{% block title %}{% block h1 %}Summary{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="q">What goes here? Save / Login / Share on social media?</div>

        <div>
            <h3 id="decision_text"></h3>
            <div>{% with 'archetype/'|add:archetype|add:'.html' as path %}{% include path %}{% endwith %}</div>
            <p>To make your decision, we have a few guides for you to use next.</p>
            <div class="q">Formatting needed. Should these be printable? How do we expect students to take actions here?
                Fill out online? Email / text it to them?
            </div>
            {% for cheetah in cheetahs|slice:":3" %}
                <h4>{{ cheetah }} <span style="font-size: small; color: lightgray;">{{ weight }}</span></h4>
                <pre>{% with 'cheetah/'|add:cheetah|add:'.html' as path %}{% include path %}{% endwith %}</pre>
            {% endfor %}
            <h3>
                I commit to solving my problem by {{ commitment }}
                in the next {{ commitment_days }}
                days and sharing my results to create a community of problem solvers.
            </h3>
        </div>

        <a href="/restart" class="btn btn-lg" role="button"
           onclick="return(confirm('Are you sure you want to discard your work?'))">New Decision</a>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var decision_text = get_decision_text('{{ type }}', '{{ decision }}', '{{ options }}', '{{ timeframe }}');
            $('#decision_text').text(decision_text);
        });
    </script>
{% endblock %}
