<ol>
    <li>
        Set up <a href="https://www.google.com/alerts" target="_blank">Google alerts/filters</a> for your target and competitors.
    </li>
    <li>
        Search government websites for reports and statistics.
    </li>
    <li>
        Check <a href="https://www.pacer.gov/findcase.html" target="_blank">Pacer</a> and other legal search databases like <a href="http://westlaw.com" target="_blank">Westlaw</a> and <a href="http://www.lexisnexis.com/en-us/search.page" target="_blank">LexisNexis</a>.
    </li>
    <li>
        Industry trade organizations and publications. Include a search for industry conference websites to see what topics the target's industry is discussing, assess who is asked to speak at industry conferences and which companies they work for to understand leaders in the field.
    </li>
    <li>
        Review academic journals.
    </li>
    <li>
        Background check websites like <a href="http://www.accurint.com/" target="_blank">Accurint.com</a> that collect public records and help detect fraud, verify identities and more.
    </li>
    <li>
        Use research-sharing websites like <a href="http://gartner.com" target="_blank">Gartner Group</a>, or <a href="http://www.consumerreports.org/" target="_blank">Consumer Reports</a>.
    </li>
    <li>
        Search online complaint sites such as the <a href="http://www.ripoffreport.com/" target="_blank">Ripoff Report</a> and the <a href="https://www.bbb.org/" target="_blank">Better Business Bureau</a>.
    </li>
    <li>
        Visit your public library.
    </li>
    <li>
        Search for industry history using <a href="http://wikipedia.org" target="_blank">Wikipedia</a>, annual reports and industry associations.
    </li>
</ol>
<p>
    It's also worth looking for articles and research insights about the broader topic at hand, beyond the target itself.
</p>