1.	Industry Journals, trade associations and conferences
i.	Even if you don’t attend, some conferences will list speakers and attendees on their web page
2.	Universities and Colleges
i.	In addition to professors, Ph.D. students are often easier to reach, well versed in critical issues, research and contacts
3.	LinkedIn
i.	You can search by company/entity to find potential contacts
4.	Industry reporters. Contact them and ask them who likes to talk about the industry
5.	Employees’ Unions
6.	Twitter
i.	Search @company or @industry and see who is talking about the industry
7.	Hoover’s and Dun and Bradstreet provide company capsules listing officers and directors of the company and competitors
8.	Lawsuits and the entities named in them, which you can find through court filings
