<ol>
    <li> Industry Journals, trade associations and conferences
        <ol>
            <li> Even if you don't attend, some conferences will list speakers and attendees on their web page</li>
        </ol>
    </li>
    <li> Universities and Colleges
        <ol>
            <li> In addition to professors, Ph.D. students are often easier to reach, well versed in critical issues,
                research and contacts
            </li>
        </ol>
    </li>
    <li> LinkedIn
        <ol>
            <li> You can search by company/entity to find potential contacts</li>
        </ol>
    </li>
    <li> Industry reporters. Contact them and ask them who likes to talk about the industry
    </li>
    <li> Employees' Unions
    </li>
    <li> Twitter
        <ol>
            <li> Search @company or @industry and see who is talking about the industry</li>
        </ol>
    </li>
    <li> Hoover's and Dun and Bradstreet provide company capsules listing officers and directors of the company and
        competitors
    </li>
    <li> Lawsuits and the entities named in them, which you can find through court filings
    </li>
</ol>