<ol>
    <li> Experts from other fields
    </li>
    <li> Customers
    </li>
    <li> Alumni of your alma mater who are in the industry
    </li>
    <li> Government and regulatory agencies
    </li>
    <li> Headhunters who cover the industry (their whole job is networking)
    </li>
    <li> Lawyers who have worked for the company or industry
    </li>
    <li> Accountants who specialize in the industry
    </li>
    <li> Strategy consultants
    </li>
    <li> Employees in back office departments, like payroll, processing, IT
    </li>
</ol>