<p>
    Talking with people who are knowledgeable about the decision you need to make can be very useful, especially if you
    know what to ask them. To help you think about the kinds of questions to ask, below is a list of general questions
    that focus on getting people to talk about helping you make your decision.
</p>
<h3>Direct questions:</h3>
<ol>
    <li>
        What do you think I should focused on as I make this decision?
    </li>
    <li>
        What do you think is the most important part of my decision to think through?
    </li>
    <li>
        Do you have any concerns about this decision?
    </li>
</ol>

<h3>Broad questions:</h3>
<ol>
    <li>
        What should I know about the decision itself?
    </li>
    <li>
        Is there a way to collect facts that could help me make my decision?
    </li>
</ol>

<h3>Theoretical questions:</h3>
<ol>
    <li>
        If you were making this decision, how would you think about it? Why?
    </li>
    <li>
        If we took money out of the equation, would you still make the same decision, or take the same action? (This
        question focuses on getting beyond the economics of the issue.) Follow up with:
    </li>
    <li>
        Is there more than one possible answer to the question?
    </li>
</ol>

<p>
    Now that you've got these good questions, figure out whose opinions you value the most, who knows you as a decision
    maker and who might be knowledgeable about the decision you need to make. Listen carefully to their answers and
    you'll be on your way to better understanding your decision's critical issues.
</p>