<p>
    For the Thinker, who likes to consider all of the options, you might want to talk with other people who you think
    give good advice. But how do you choose who to talk to and what to ask them? Try the AREA Interview Formula: GP+GQ =
    IQ, or Good Prospects plus Great Questions equals Interview Quality. You identify people who are qualified to answer
    your questions about the decision you need to make, and you ask them the best questions you can come up with to
    arrive at a conversation that will help you think through your decision.
</p>
<p>Consider:</p>
<ol>
    <li>
        Make a list of who you know who might know something about the decision you need to make.
    </li>
    <li>
        Make a list of what you need to know to make your decision and evaluate your options.
        <ol>
            <li>What do I want to find out and why?</li>
            <li>What difference would that information make?</li>
        </ol>
    </li>
    <li>
        Come up with 5 questions that will help you get this information. Consider for each question you write:
        <ol>
            <li>How do I expect to use the information I gather?</li>
            <li>What would I do if I had an answer to that/those question/s?</li>
        </ol>
    </li>
</ol>
<p>
    The goal of this Cheetah Sheet is to help you specify how you will use the information you collect. If you haven’t
    figured that out before you begin to ask questions then there is little reason to expect that you'll be able to
    figure out how to use it after the findings are in. The goal is to use your time wisely and the time of the people
    who you reach out to talk to.
</p>