Direct questions:
1.	How does the entity achieve its goals?
2.	What do you think is the most important part of your entity’s story?
3.	Can you describe an average day? This might be a day for the person, or for the role he/she plays inside the organization. The question can reveal the interviewee’s priorities. At times what someone does means more than what the person says.
4.	Do you have any concerns about the entity?

Broad questions:
1.	What should I know about the industry or sector?
2.	Is there a way to bring data to bear on this topic?

Theoretical questions:
1.	If you had to do it over again, would you do it differently and how so? Why?
2.	If you took money out of the equation, would you still make the same decision, or take the same action? (This question focuses on getting beyond the economics of the issue.) Follow up with:
3.	Is there more than one possible answer to the question?
