<p>
    Sometimes, it really helps to get advice from other people before making a decision. But how do you know who to talk
    to and what to ask? We've got a great formula to help you plan how to have these conversations. You'll practice it
    in this Problem Solver. What's the formula? When you take GP (Good Prospects, or the people you interview) + GQ
    (Great Questions), you get IQ (Interview Quality). So just remember = GP + GQ = IQ.
</p>
<p style="font-weight: bold">
    Problem Solver Tip: For this Problem Solver, get a small notebook that you can carry with you to your interview so
    you can take notes as you go. Write down your interview questions in the notebook ahead of time!
</p>
<ol>
    <li>
        Start with a big sheet of construction paper. Draw a line down the middle. On one half of the page, write
        "Information I need." On the other half, write "people I know."
    </li>
    <li>
        First, start out by thinking about what you need to know. What information do you want to find out by talking to
        someone else? Why is that information useful to you? Let's get really specific.
    </li>
    <li>
        Next, make a list of all the people who you know that might be able to give you information about your decision.
    </li>
    <li>
        Then, look at both your lists. Which people would be able to give you information about what you need to know?
    </li>
    <li>
        Now that you've picked the right people to talk to, you need to write your questions. Based on the information
        you want to know, come up with five questions that you want to ask the people in your interview.
    </li>
</ol>
<p>
    Now that you've completed this Problem Solver, reach out to the people on your list and ask them if they could meet
    with you. With these good interview prospects and great questions, you can be sure that your interviews will be high
    quality!
</p>