<p>
    One useful tool to prevent a decision from failing is to conduct a pre-mortem. It's the opposite of a post-mortem,
    often used in medicine to allow health professionals and the family to learn what caused a patient's death. The joke
    is that with a post-mortem, everyone benefits except, of course, the patient.
</p>
<p>
    A pre-mortem, by contrast, is done before a decision rather than after it, so that you can improve your decision
    making. The pre-mortem works on the the assumption that your decision <em>the "patient"</em> has died, and it asks
    what
    did go wrong. The task is to help you see how your decision might fail so that you can develop a plan to prevent
    failure from occurring.
</p>
<ol>
    <li>
        Write down a list of ways that your decision might fail.
    </li>
    <li>
        What actions might you take if one, or several of the events that could cause failure begin to play out?
    </li>
    <li>
        At what point might you need to reevaluate the decision?
    </li>
    <li>
        What steps could you take to prevent those failures from occurring?
    </li>
</ol>
<p>
    In conducting your pre-mortem, one reason for failure may not be enough. Make sure to consider all the issues
    relevant to your decision so that you have an expansive view of potential pitfalls. Then make sure to write down how
    you plan to prevent the failures you've identified from occurring and you'll be well on your way to making sure that
    you don't ignore bad news as it occurs and are better setup for your decision to succeed.
</p>