<p>
    This useful analysis tool dates back to a letter Benjamin Franklin wrote to his friend Joseph Priestly in 1772,
    who was wrestling with a thorny problem. The exercise asks you to begin to combine your disparate pieces of research
    into two different coherent and cohesive narrative arguments to understand and analyze both sides of the issue. What
    might be the rationale for making a decision? What is the rationale for not making it?
</p>
<ol>
    <li>
        Begin by writing out two lists, one list says yes, a "Pro" list, that says you will make your decision based
        upon one of your options. Then, write a second "Con" list saying that you why you won't choose that option.
    </li>
    <li>
        Each list should address the same points so each time you list a reason on your "Pro" list to make the decision,
        write why that same reason might not work out on your "Con" list. Use evidence to support each reason so you're
        not making an assumption or judgment.
        These lists will help you to see where your thinking and your instincts might be flawed.
    </li>
    <li>
        When you're done sum your analysis.
    </li>
    <li>
        Repeat this exercise for all of your options.
    </li>
    <li>
        Make your decision!
    </li>
</ol>
<p>
    By completing this exercise you will have two clear lists that help you match evenly the reasons for making a
    decision and the reasons for not making it, or making it differently. Which list has the best reasons for making the
    decision?
</p>