<p>
    Back in 1772, Benjamin Franklin was helping his friend solve a problem. He told his friend to make a list of the
    benefits and the risks of the options he had in front of him. Over 200 years later, we're still using "pro" and
    "con" lists to make decisions. In this Problem Solver, you'll look at both sides of your options before making a
    decision.
</p>
<p style="font-weight: bold">
    Problem Solver Tip: Pick a marker you really like for your "pro" list, and a color you don't like as much for your
    "con" list.
</p>
<ol>
    <li>
        On a piece of paper, write down the options you have for your decision. Try to keep the list to 3-4 options.
    </li>
    <li>
        Now, grab a fresh piece of paper. On the top of the paper, write down one of your options. Then, write "Pro" on
        one half of the page, and "Con" on the other half of the page.
    </li>
    <li>
        Next, you want to ask yourself this question: "Should I pick this option?" In the "Pro" side of the page, make a
        list of all of the really specific, evidence-based reasons why you should pick that option.
    </li>
    <li>
        On the "Con" side of the page, make a list of all of the really specific, evidence-based reasons why you should
        not pick that option.
    </li>
    <li>
        Repeat steps 2-4 for all of your options.
    </li>
    <li>
        Then, lay all your lists out on a table. Do some options have more "pros" than "cons"? Which option seems to
        have the most benefits? Which option do you want to pick?
    </li>
</ol>
<p>
    Once you've made and compared your lists, you can pick a decision based on careful thinking and considering all the
    options. With pro-con lists, you take the guessing out of making a decision and use evidence instead! decision?
</p>