<ol>
    <li> Begin by writing out two brief memos, one that is framed in the affirmative saying what you should decide and
        the other statement making a case against the decision.
    </li>
    <li> Next, write two separate narrative essays, one to support each thesis and list all of your reasons and evidence
        for each case. Be careful that both the Pro and Con cases are responsive to all major arguments addressing each
        point for both theses. If you make a specific case for your decision in the Pro case, respond to it in the Con
        case. This will help you to see where the argument might be flawed.
    </li>
    <li> When you’re done writing each compelling case, write up an analysis of your findings.
    </li>
</ol>