<p>
    This exercise asks you to create two different scenarios to show possible future outcomes. In the first scenario,
    you'll imagine what would happen if everything goes as planned—this is the happy ending option. The second scenario,
    you'll imagine what would happen if everything goes terribly wrong—this is the total failure option. Then, you'll
    look at your two stories and decide what you want to make sure you do, and what you want to avoid, as you make your
    decision. The goal here is to imagine the different pathways to solving your problem, and use those to pick the
    right direction!
</p>
<ol>
    <li>
        Imagine your "Happy Ending" for your decision. What is it?
    </li>
    <li>
        Now imagine how does it happen, step by step. Don’t skip any steps.
    </li>
    <li>
        Does it make sense? Keep asking yourself and what happened next? Resist the temptation to skip to the end of the
        "story" without imagining the challenges or journey on the way. By describing the steps to a successful outcome
        for your decision you may realize that many things have to happen to get to your happy ending. If you can't
        figure out how to get from A to B, maybe B isn't as realistic as you thought.
    </li>
    <li>
        Now write the same story but have your decision "fail".
    </li>
    <li>
        Make a list of three actions steps to make sure that some of the really good things from your "Happy Ending
        Story" come true.
    </li>
    <li>
        Make a list of three action steps to make sure you avoid some of the bad things from your "Fail" story from
        happening.
    </li>
</ol>
<p>
    Now that you've done this challenge, you've identified the risks and the opportunities, and now you can manage the
    uncertainty.
    Ensure the "good", protect against the "bad" and set practical steps for a successful decision.
</p>