<ol>
    <li>Behavior Questions - what someone does or has done. These kinds of questions will yield descriptions of actual
        experiences, activities, and actions.
    </li>
    <li>Opinion Questions - what someone thinks about a topic, action, or event. These questions tell us about people’s
        goals, intentions, desires and values.
    </li>
    <li>Feeling Questions - how someone responds emotionally to a topic. These questions elicit information about the
        emotional responses of people to their experiences and thoughts.
    </li>
    <li>Knowledge Questions - to find out what factual information the respondent has. These are things that one knows
        about the research target and your Critical Concept’s. While you may argue that all knowledge is a set of
        beliefs rather than facts, the issue here is to find out what the person being questioned considers to be
        factual.
    </li>
</ol>