<p>
    You may already know people who might be able to help you with your decision. But what should ask them to make sure
    that you get answers that are useful?
    To figure that out consider that there are four major kinds of questions that are commonly asked and each kind will
    get you different answers.
    Read about them and think about: What kinds of answers will be most useful to me in making my decision?
</p>
<p>
    The four major kinds of questions are:
</p>
<ol>
    <li>
        Behavior Questions - what someone does or has done. These kinds of questions will give you answers that tell you
        about actual experiences, activities, and actions.
    </li>
    <li>
        Opinion Questions - what someone thinks about a person, place or thing. These questions will give you answers
        that shed light on other people's goals, intentions, desires and values.
    </li>
    <li>
        Feeling Questions - how someone responds emotionally to a topic. These questions will give you answers about
        others' emotional responses to their experiences and thoughts.
    </li>
    <li>
        Knowledge Questions - to find out what factual information other people have. These questions will give you
        answers that have evidence and facts about the decision you need to make.
    </li>
</ol>
<p>
    The goal of making you aware of different types of questions is to help you use your time wisely when you decide to
    reach out to other people about your decision. By knowing the four main types of questions you can better think
    about what you really need to know and then ask the right question to the right person to get the answers you need
    to make an informed decision.
</p>