<p>
    Sometimes you want to understand how the outside world thinks about the decision you have to make. To do that, you
    might search online for newspaper and other articles so that you can get an idea what’s been written about the topic
    you are interested in. As you do that, keep in mind the following questions so that you can get the most out of your
    search:
</p>
<ol>
    <li>
        What is the article's main idea or purpose?
    </li>
    <li>
        Does it make sense?
    </li>
    <li>
        Where has the article been published? Is it from a source you trust?
    </li>
    <li>
        Do you find evidence of bias? Check word choice and tone. Is there more than one view presented?
    </li>
    <li>
        How did your searches make you feel about your decision? More confident? If so, great! If not, it’s time to
        bounce your options and findings off of a friend or an adult you trust.
    </li>
</ol>
<p>
    This exercise guides you through a literature review to help you understand how the outside world perceives your
    target and what issues other people are focused on. Understanding what others are focused on can guide you to the
    key debates or issues impacting your decision.
</p>