<p>
    When you've got a few options in front of you, sometimes it helps to look online to see what advice or information
    you can get from experts. In this Problem Solver, you'll practice figuring out how to search for exactly what you
    want, and to make sure that you're getting the best information you can. Are you ready?
</p>
<p style="font-weight: bold">
    Problem Solver Tip: When searching on the internet, it helps to have a pen and paper out or a Word/Google Document
    pulled up so that you can write things down quickly.
</p>
<ol>
    <li>
        Before you start exploring the internet, you need to be really clear on what you want to know. In your notes,
        think about what specific information you'd like to know about your decision. Write that down.
        <ul>
            <li>
                Example: I want to know whether or not my parents should adopt a golden retriever puppy. Specifically, I
                want to know if they are good with little children and if they shed a lot.
            </li>
        </ul>
    </li>
    <li>
        Next, think about the most important words that you'd want to search for to get your information. You don't want
        to put a whole sentence into Google, so think about the 3-4 word phrases that describes what you want to know.
        <ul>
            <li>
                Example: Golden Retriever adoption; golden retriever personality; golden retriever shedding
            </li>
        </ul>
    </li>
    <li>
        Then, go to <a href="http://google.com" target="_blank">google</a> and enter in your 3-4 word phrases. You
        should get a lot of different results.
    </li>
    <li>
        Because there is a lot of information on the internet, make sure to read ~8-10 different articles for every
        phrase you put in. If all of the articles are saying the same thing, it's more likely you're getting reliable
        information.
    </li>
    <li>
        When you're looking at information online, you'll encounter a range of sources. Look for articles from
        newspapers—but make sure you check to see if you are reading a news story, or an "Opinion" story. Both can be
        useful sources of information, but an "Opinion" is based on how the writer interprets the facts while a news
        story just shares information.
    </li>
    <li>
        After doing your search and taking notes, take a step back. Ask yourself—did your search help you get the
        information you wanted at the beginning? Did it influence your thinking about what decision you should make? Do
        you feel more, or less confident? If you feel less confident, talk out what you learned with a friend or a
        mentor.

    </li>
</ol>
<p>
    Through this Problem Solver, you got the chance to dig into the internet and see what other people have to say about
    your decision. Understanding how the world sees your decision can help you make a better choice that is grounded in
    facts and evidence from the world around you!
</p>