{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Critical Concepts and the Facts
{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <style type="text/css">
        tr {
            vertical-align: top;
        }

        .ui-dialog-titlebar-close {
            display: none;
        }
    </style>
    <script type="text/javascript">
        function validate() {
            if ($('#fact').val().length < 2) {
                alert("Please provide your fact.");
                $('#fact').focus();
                return false;
            }
            if ($('#source').val().length < 2) {
                alert("Please provide your source.");
                $('#source').focus();
                return false;
            }
            if ($('#bias').val().length < 2) {
                alert("Please provide your bias.");
                $('#bias').focus();
                return false;
            }
            return true;
        }

        $('document').ready(function () {
            $("#dialog").dialog({
                modal: false,
                autoOpen: false,
                buttons: {
                    Close: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

        function biases() {
            $('#dialog').dialog('open');
            return false;
        }
        ;

    </script>
    <input type="hidden" name="num" value="{{ num }}"/>
    <h2 class="center">
        Cheetah Sheet:<br/> Critical Concepts and the Facts
    </h2>

    <h3>
        <ul>
            <li>List facts that you could gather that might support each of your Critical Concepts.</li>
            <li>List sources of information that might provide the facts you’d like to collect.</li>
            <li>Look the lists you’ve created above. Can you identify any assumptions or biases you are making?
                If so, write them down and then suggest a way to address them with facts.
            </li>
        </ul>
    </h3>
    <table style="width: 100%">
        <tr>
            <td>
                <h3>{{ sample_student.name|title }}'s Decision:<br/>"Should I go away to college?"</h3>
            </td>
            <td>
                <h3>Your Decision:<br/>"{{ decision }}"</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{ sample_student.name|title }}'s Critical Concept {{ n }}:<br/>
                    {{ sample_student_cheetah_data.cc }}
                </h3>
            </td>
            <td>
                <h3>Your Critical Concept {{ n }}:<br/>
                    {{ cc_current }}
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{ sample_student.name|title }}'s Fact:</h3>
                {{ sample_student_cheetah_data.facts }}
            </td>
            <td>
                <h3>Your Fact:</h3>
                <textarea name="fact" id="fact" cols="40" rows="3">{{ fact }}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{ sample_student.name|title }}'s Source of Information:</h3>
                {{ sample_student_cheetah_data.source  }}
            </td>
            <td>
                <h3>Your Source of Information:</h3>
                <textarea name="source" id="source" cols="40" rows="3">{{ source }}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{ sample_student.name|title }}'s Bias?</h3>
                {{ sample_student_cheetah_data.bias  }}
                </h3>
            </td>
            <td>
                <h3>Your Bias?
                    <span style="font-size: small">(<a href="#" tabIndex="-1"
                                                       onclick="return biases()">Remind Me</a>)</span>
                </h3>
                <textarea name="bias" id="bias" cols="40" rows="3">{{ bias }}</textarea>
            </td>
        </tr>
    </table>

    <div class="center space">
        <button type="submit">Submit</button>
    </div>
    <a href="{{ back }}" id="back">Back</a>

    <div id="dialog" title="Biases">
        {% for bias in biases %}
            <h3>{{ bias.label }}</h3>
        {% endfor %}
    </div>
{% endblock %}
