{% load static %}
<h3>
    <img src="{% static 'area_app/img/listener.png' %}"/>
    {% if list != 'true' %}
        You are...
    {% endif %}
    <span style="white-space: nowrap;">
    The Listener!
    </span>
</h3>
<p>
    You have people whom you trust to help you make decisions and move forward in your life, and you know that you can
    always turn to them. But sometimes it's difficult to identify the best people to help you make your decision and to
    ask them the right questions, ones that will get you the information and analysis that you really need.
</p>
