{% load static %}
<h3>
    <img src="{% static 'area_app/img/visionary.png' %}"/>
    {% if list != 'true' %}
        You are...
    {% endif %}
    <span style="white-space: nowrap;">
    The Visionary!
    </span>
</h3>
<p>
    You see possibilities that other people may miss. However, because you are drawn to exciting ideas, you often get
    attached to the most recent or bold information or ideas, even if they aren't ultimately the most important. This
    can lead you to make decisions based on superficial information.
</p>
