/** Colors **/
.orange {
    color: #f6653c;
}

.red {
    color: #f2502a;
}

.orange-bg {
    color: #ffffff;
    background-color: #f6653c;
}

.yellow {
    color: #ffc253;
}

.green {
    color: #1dcd9f;
}

.blue {
    color: #1e2846;
}

.light-blue {
    color: #52c0d8;
}

#back {
    float: left;
    background-color: inherit;
    margin-top: 50px;
    font-size: x-small;
    color: #52c0d8;
    text-align: center;
    width: 100%;
    font-style: italic;
}

#back:before {
    content: "< ";
}

#next, #answers button, button {
    font-size: 18pt;
    font-weight: 400;
    height: 55px;
    padding: 14px 25px 18px 25px;
    border-radius: 27.5px;
    text-align: center;
    text-transform: uppercase;
    background-color: #f6653c;
    color: #ffffff;
    border: 0;
    min-width: 220px;
}

#next:hover, #answers button:hover, button:hover {
    position: relative;
    top: -5px;
    background-color: #f6653c;
    box-shadow: 0px 5px #f2502a;
}

#next:active, #answers button:active, #next:focus, #answers button:focus, button:focus {
    background-color: #f6653c !important;
}

button a, button a:hover, button a:visited, button a:link, button a:active {
    text-decoration: none;
    color: #ffffff;
}

#and {
    display: block;
    margin-left: 5px;
    margin-top: 10px;
}

#todo-button {
    padding: 3px 8px;
    text-align: center;
    background-color: #f6653c;
    color: #ffffff;
    border-radius: 5px;
}

#next {
    margin-top: 50px;
}

.color {
    color: #f6653c;
}

#list li:last-child {
    list-style-type: none;
}

.anim {
    display: none;
}

.center {
    text-align: center;
}

.button-instructions {
    font-size: 100%;
    font-weight: 500;
    text-transform: uppercase;
}

.huge {
    font-size: 36px;
    margin: 30px;
}

.emphasis {
    text-decoration: underline;
}

.start, .start2 {
    opacity: 0.0;
}

.directions {
    margin: 20px;
    padding: 20px;
    padding-left: 40px;
    border: 1px dotted #1dcd9f;
}

.directions li {
    font-weight: 500;
    font-size: 120%;
}

p {
    margin-top: 20px;
}

@font-face {
    font-family: 'Museo_Slab_500_2';
    src: url('/static/decisions/css/Museo_Slab_500_2-webfont.woff2') format('woff2'),
    url('/static/decisions/css/Museo_Slab_500_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header, .footer {
    font-family: 'Museo_Slab_500_2';
    color: #f6653c;
    background-color: #ffffff;
    letter-spacing: 2px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 150%;
}

.footer {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer a {
    color: #f6653c;
}

.main {
    font-family: 'Avenir';
    background-color: #eeeeee;
    line-height: 150%;
}

.main div:first-child {
    margin-top: 20px;
}

h1 {
    color: #52c0d8;
    font-size: 48px;
    font-weight: 800;
}

h2 {
    color: #52c0d8;
    font-size: 26px;
    font-weight: 600;
}

h3 {
    color: #1e2846;
    font-size: 18px;
    font-weight: 800 !important;
}

h4 {
    color: #52c0d8;
    font-size: 16px;
    font-weight: 200;
}

.map .pin {
    position: relative;
}

label {
    font-weight: inherit;
}

.selected {
    border: 4px solid #52c0d8;
}

input[type=text], input[type=email] {
    border: none;
    border-bottom: 1px solid black;
    background-color: #eeeeee;
}

li {
    font-family: 'Avenir';
    font-size: small;
    line-height: 150%;
    margin-top: 10px;
}

.space {
    margin-top: 40px;
}

.row {
    clear: both;
    width: 100%;
}

.email {
    text-align: center;
    border: 1px dotted black;
    padding: 3px;
}

hr {
    height: 1px;
    background-color: #52c0d8;
}

/* Used to center the badge */
#badge_container {
    height: 100px;
    width: 67px;
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.badge_img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#badge_label {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 32px;
    font-weight: bold;
    left: 25px;
    top: 1px;
}

/* Used for highlighting Master Terms */
/* _simple - just the highlight without the tooltip */
.master_term, .master_term_simple {
    color: #f6653c;
    display: inline;
    position: relative;
    border-bottom: 2px dotted #f6653c;
    margin-top: 100px;
    font-weight: bold;
}

/* Does not work on iPhones/iPads */
/*
.master_term:hover:after {
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
}

.master_term:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}*/

/* Boostrap tooltips
   Ref: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_ref_js_tooltip_css&stacked=h
 */
.master_term + .tooltip > .tooltip-inner {
  background-color: #f6653c;
  color: #FFFFFF;
  border: 1px solid #f6653c;
  padding: 15px;
  font-size: 20px;
}
/* Tooltip on top */
.master_term + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid green;
}
/* Tooltip on bottom */
.master_term + .tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid blue;
}
/* Tooltip on left */
.master_term + .tooltip.left > .tooltip-arrow {
  border-left: 5px solid red;
}
/* Tooltip on right */
.master_term + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid black;
}

/* Map Pin Positions - these positions assume a wide enough view
 */
.pin0 {
    margin-top: 50px;
    margin-left: -250px;
}

.pin1 {
    margin-top: 10px;
    margin-left: -160px;
}

.pin2 {
    margin-top: 45px;
    margin-left: -155px;
}

.pin3 {
    margin-top: 20px;
    margin-left: -80px;
}

/* Dynamic text area */
/* Ref: https://w3epic.com/create-auto-resize-textarea-jquery/ */
.auto-text-area {
    min-height: 14px;
    width: 85%;
    overflow: hidden;
    resize: none;
    padding: 4px;
    font-size: 14px;
    border: 1px solid black;
}

.pre_title, .post_title {
}

.module_title {
    font-size: 55px;
    font-weight: 900;
    line-height: 1em;
    letter-spacing: -7px;
}

/* http://www.dynamicdrive.com/forums/entry.php?293-3-Ways-to-Resize-Scale-Web-Images-in-Responsive-Design */
.fixed-ratio-resize {
    max-width: 100%;
    height: auto;
    width: auto\9; /* IE8 */
}