/** Colors **/
.orange {
    color: #f6653c;
}
.red {
    color: #f2502a;
}
.orange-bg {
    color: #ffffff;
    background-color: #f6653c;
}
.yellow {
    color: #ffc253;
}
.green {
    color: #1dcd9f;
}
.blue {
    color: #1e2846;
}
.light-blue {
    color: #52c0d8;
}

#back {
    float: left;
    background-color: inherit;
    margin-top: 50px;
    font-size: x-small;
    color: #52c0d8;
    text-align: center;
    width: 100%;
    font-style: italic;
}

#back:before {
    content: "< ";
}

#next, #answers button, button {
    font-size: 18pt;
    font-weight: 400;
    height: 55px;
    padding: 14px 25px 18px 25px;
    border-radius: 27.5px;
    text-align: center;
    text-transform: uppercase;
    background-color: #f6653c;
    color: #ffffff;
    border: 0;
    min-width: 300px;
}

#next:hover, #answers button:hover, button:hover {
    position: relative;
    top: -5px;
    background-color: #f6653c;
    box-shadow: 0px 5px #f2502a;
}

#next:active, #answers button:active, #next:focus, #answers button:focus, button:focus {
    background-color: #f6653c!important;
}

button a, button a:hover, button a:visited, button a:link, button a:active {
    text-decoration: none;
    color: #ffffff;
}

#and {
    display: block;
    margin-left: 5px;
    margin-top: 10px;
}

#todo-button {
    padding: 3px 8px;
    text-align: center;
    background-color: #f6653c;
    color: #ffffff;
    border-radius: 5px;
}

#next {
    margin-top: 50px;
}

.color {
    color: #f6653c;
}

#list li:last-child {
    list-style-type: none;
}

.anim {
    display: none;
}

.center {
    text-align: center;
}

.button-instructions {
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;
}

.huge {
    font-size: 36px;
    margin: 30px;
}

.emphasis {
    text-decoration: underline;
}

.start, .start2 {
    opacity: 0.0;
}

.directions {
    margin: 20px;
    padding: 20px;
    padding-left: 40px;
    border: 1px dotted #1dcd9f;
}

.directions li {
    font-weight: 500;
    font-size: 120%;
}

p {
    margin-top: 20px;
}

@font-face {
    font-family: 'Museo_Slab_500_2';
    src: url('/static/decisions/css/Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('/static/decisions/css/Museo_Slab_500_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header, .footer {
    font-family: 'Museo_Slab_500_2';
    color: #f6653c;
    background-color: #ffffff;
    letter-spacing: 2px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 150%;
}

.footer {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer a {
    color: #f6653c;
}

.main {
    font-family: 'Avenir';
    background-color: #eeeeee;
    line-height: 150%;
}

.main div:first-child {
    margin-top: 20px;
}

h1 {
    color: #52c0d8;
    font-size: 48px;
    font-weight: 800;
}

h2 {
    color: #52c0d8;
    font-size: 26px;
    font-weight: 600;
}

h3 {
    color: #1e2846;
    font-size: 24px;
    font-weight: 600;
}

h4 {
    color: #52c0d8;
    font-size: 16px;
    font-weight: 200;
}

.map {
    margin: 30px;
}

.map .pin {
    position: relative;
}

label {
    font-weight: inherit;
}

.selected {
    border: 4px solid #52c0d8;
}

input[type=text], input[type=email] {
    border: none;
    border-bottom: 1px solid black;
    background-color: #eeeeee;
}

li {
    font-family: 'Avenir';
    font-size: small;
    line-height: 150%;
    margin-top: 10px;
}