#back {
    float: left;
    background-color: inherit;
    margin-top: 50px;
    font-size: x-small;
}

#next, #answers button {
    font-size: x-large;
    padding: 10px 25px;
    border-radius: 10px;
    text-align: center;
    background-color: #f6653c;
    color: #ffffff;
}

#and {
    display: block;
    margin-left: 5px;
    margin-top: 10px;
}

button {
    padding: 3px 8px;
    text-align: center;
    background-color: #f6653c;
    color: #ffffff;
    border-radius: 5px;
}

#next {
    margin-top: 50px;
}

#next:hover {
    background-color: #f6956c;
}

.color {
    color: #f6653c;
}

#list li:last-child {
    list-style-type: none;
}

.anim {
    display: none;
}

.center {
    text-align: center;
}

#next a {
    color: #ffffff;
}

#next a:hover {
    text-decoration: none;
}

.button-instructions {
    font-size: x-large;
    font-weight: 900;
}

.huge {
    font-size: 36px;
    margin: 30px;
}

.emphasis {
    text-decoration: underline;
}

.start, .start2 {
    opacity: 0.0;
}

body {
    font-size: larger;
    font-family: "Open Sans Condensed", Helvetica, Arieal, sans-seif !important;
    font-weight: 700;
    font-style: normal;
}

.directions {
    margin: 20px;
    padding: 20px;
    padding-left: 40px;
    background-color: lightcyan;
    border: 1px dotted lightblue;
}

p {
    margin-top: 20px;
}