{% extends 'decisions/base.html' %}
{% load static account socialaccount bootstrap i18n %}
{% block title %}{% block h1 %}Module 0 - Problem Solver Profile{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
        h3 img {
            height: 60px;
        }

        .archetype {
            display: inline;
            position: relative;
            border-bottom: 2px dotted #aaaaff;
        }

        .archetype:hover:after {
            background: #333;
            background: rgba(0, 0, 0, .8);
            border-radius: 5px;
            bottom: 26px;
            color: #fff;
            content: attr(title);
            left: 20%;
            padding: 5px 15px;
            position: absolute;
            z-index: 98;
        }

        .archetype:hover:before {
            border: solid;
            border-color: #333 transparent;
            border-width: 6px 6px 0 6px;
            bottom: 20px;
            content: "";
            left: 50%;
            position: absolute;
            z-index: 99;
        }

        .archetype img {
            height: 18px;
            margin-bottom: 0px;
        }

        #next {
            margin-top: 10px;
        }
    </style>
    <script type="text/javascript">
        function countdown() {
            $('#timer').show();
            var timeleft = 3;
            var downloadTimer = setInterval(function () {
                timeleft--;
                $("#time").text(timeleft);
                if (timeleft <= 0) {
                    clearInterval(downloadTimer);
                    $('form').submit();
                }
            }, 1000);
            return true;
        }
    </script>
    <p class="margin-top-30-mob center margin-0-auto"
       style="font-size: 210%; line-height: 120%; font-weight: bold; margin-bottom: 30px;">
        What kind of a {% include "problem_solver.html" %} are you?
    </p>
    <p class="margin-top-30-mob center margin-0-auto">
        Are you a
        <span class="archetype" title="Albert Einstein">
        <img src="{% static "area_app/img/thinker.png" %}"/>Thinker</span>
        or a
        <span class="archetype" title="Marie Curie">
        <img src="{% static "area_app/img/detective.png" %}"/>Detective</span>?
        Might you solve problems like famous
        <span class="archetype" title="Ernest Shackleton">
        <img src="{% static "area_app/img/adventurer.png" %}"/>Adventurers</span>
        or
        <span class="archetype" title="Oprah Winfrey">
        <img src="{% static "area_app/img/listener.png" %}"/>Listeners</span>?
        Or are you a
        <span class="archetype" title="Beyoncé">
        <img src="{% static "area_app/img/creative.png" %}"/>Visionary</span>
        going your own way?
    </p>
    <p>
        We make thousands of decisions every day - from when to wake up to whether to have a late night snack - and we
        make them quickly, and largely unconsciously. But what happens when we face a high stakes decision? Knowing your
        PROBLEM SOLVER Profile will help you learn about your decision-making strengths and your potential blind spots
        when solving high stakes problems.
    </p>
    <p>
        The problem solver profile is not prospective, it tells you what you tend to do when making decisions. By
        learning more about you as a decision maker you can make big decisions better.
    </p>
    <div class="center start">
        <button id="next" type="button"><a href="#" onclick="return countdown()">Get Your Profile</a></button>
    </div>
    <a href="/0/" id="back">Back</a>
    <div style="display: none; background: rgba(54, 25, 25, .8); height: 100%; width: 100%; position: fixed; top: 0; left: 0; float: right; z-index: 99; text-align: center; padding-top: 20%"
         id="timer">
        <div style="font-size: 256px; color: #f6653c" id="time">3</div>
    </div>
{% endblock %}
