{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load area_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Explore Your Results{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
        .area {
            color: #1dcd9f;
        }

        .noarea {
            color: #cccccc !important;
        }
    </style>
    <h2 class="center">Explore Your Results</h2>

    {% include "module1/results/table.html" with textcolor_area="1dcd9f" textcolor_noarea="cccccc" display_mode='area' %}

    <div class="center">
    {% get_next_btn module "Decision Dilemmas" nav.next %}
    </div>
    {% get_back_link module nav.previous %}
{% endblock %}
