{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load area_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Defining Critical Concepts{% endblock %}{% endblock %}
{% block content %}
    <h1 class="center">
        Critical Concepts
    </h1>
    <h3>
        To make big decisions better, start at the end. What you are solving for?
        By beginning where you want to end up, you can get there more easily.
    </h3>
    <h3>
        The few factors that you are solving for are called Critical Concepts.
    </h3>
    <div class="center">
    {% get_next_btn module "Meet Nylah" "cc/nylah" %}
    </div>
    {% get_back_link module "decisions/sample" %}
{% endblock %}
