{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load area_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Cheetah Sheet 3: Starting My Decision Hunt{% endblock %}{% endblock %}
{% block content %}
    <div class="center">
        <img src="/static/decisions/img/cheetah.png" width="450"/>
    </div>

    <h2 class="center">Cheetah Sheet 3: Starting My Decision Hunt</h2>

    <div class="center">
    <h3>
        <p>Here is your decision problem and Critical Concepts together:</p>

        <input type="text" name="decision" class="cc decision center" style="border-bottom: 2px solid lightgray;"
               size="40" value="{{ module.decision }}" readonly="readonly"/>

       {% for concept in cc %}
        <p>&bull; {{ concept }}</p>
    {% endfor %}
    </h3>
    </div>

    <h3 class="email">
        <a target="_blank" class="" onclick="email_sent = true;"
           href="mailto:{{ to }}?subject=Please Be My Decision Buddy!&body={{ mail_body }}">
            Click here to send an email to your decision buddy {{ module.decision_buddy }}<br/> and yourself
            that has a few questions to help you get started.
        </a>
    </h3>

    <div class="center">
        <button id="next" type="button"><a href="summary" onclick="return(validate())">Finish!</a></button>
    </div>

    {% get_back_link module nav.previous %}
    <script type="text/javascript">
    var email_sent = false;

    function validate()
    {
        if (!email_sent) {
            alert("Please click to send the email.");
            return false;
        }
        return true;
    }
    </script>
{% endblock %}
