{% extends 'modules/base/intro.html' %}

{% block pre_title %}Introduction to{% endblock %}

{% block module_title %}
    <div>
        <span class="green">D</span>
        <span class="yellow">E</span>
        <span class="light-blue">C</span>
        <span class="red">I</span>
        <span class="yellow">S</span>
        <span class="light-blue">I</span>
        <span class="green">O</span>
        <span class="red">N</span>
        -
        <span class="green">M</span>
        <span class="yellow">A</span>
        <span class="light-blue">K</span>
        <span class="red">I</span>
        <span class="green">N</span>
        <span class="yellow">G</span>
    </div>
{% endblock %}

{% block module_subtitle %}
    <p>This module introduces you to how many decisions you make<br/>every day and how to make big
        decisions better.</p>{% endblock %}