{% extends 'modules/base/map.html' %}

{% block pre_instructions %}
    <p>In Module 1 you learned about yourself as a decision-maker and received your
        <a class="master_term" href="#"
           data-toggle="tooltip"
           data-placement="top"
           title="identifies some of your decision-making strengths and points out potential pitfalls">Problem
        Solver Profile</a>.
        This Profile identifies some of your decision-making strengths and points out potential pitfalls. This module
        introduces you to how many decisions you make every day and how to make big decisions better.
    </p>
{% endblock %}