{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load area_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Review: Problem Solver Profile
{% endblock %}{% endblock %}
{% block content %}

    <h1 class="center">
        Review: Problem Solver Profile
    </h1>

    <h3 class="center">You have learned:</h3>

    <h3>
        <div>&bull; 5 Problem Solver Profile Archetypes</div>
        <div>&bull; Strengths and Blind Spots associated with each Profile</div>
        <div>&bull; The Profiles are not proscriptive. They represent how the Profiles tend to make decisions</div>
    </h3>

    <h3 class="center">You have completed:</h3>

    <h3>
        <div>&bull; A decision making quiz</div>
        <div>&bull; A reflection upon your Problem Solver Profile</div>
        <div>&bull; A reflection on other kinds of Problem Solver Profiles</div>
    </h3>

    <div class="start">
        {% get_next_btn module "Got It" "map" %}
    </div>
    {% get_back_link module "intro" %}
{% endblock %}