{% extends 'decisions/base.html' %}
{% load bootstrap module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Spot Bias{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <style type="text/css">
        #yes {
            color: green;
            font-size: 200%;
        }

        #no {
            color: red;
            font-size: 200%;
        }
    </style>

    <h2 class="center">
        Defining Bias
    </h2>
    <div class="center" style="margin: 50px;">
    </div>
    <p>Can you recognize the biases you just learned in real-life situations where they occur?</p>
    <p>The biases and their definitions will appear one at a time.</p>
    <p>You’ll see each bias twice: Once you will be asked which statement IS representative of the bias and once you will be asked which statement DOESN’T represent the bias.</p>

    <div class="center start">
        {% get_next_btn module "Spot Bias" nav.nextUrl %}
    </div>
    {% get_back_link module nav.previousUrl %}
{% endblock %}
