{% load static %}
<h3>
    <img src="{% static 'area_app/img/visionary.png' %}"/>
    {% if list != 'true' %}
        You are...
    {% endif %}
    The Visionary!
</h3>

{% if pro_con %}
    <h4>Strengths</h4>
    <p>
        As a Visionary, your great strength is being able to see possibilities
        that other people may miss. When things seem too obvious, you get
        bored; you prefer to imagine and dream up new ways of doing things
        that no one has ever thought of. You are an innovator and an inventor.
        These traits make you a powerful decision-maker because to you, the
        best option is the one you create yourself. The people around you
        admire what a strong individual you are. You aren't afraid to do what
        might be unpopular if you believe it will give you the best results.
        This also makes you a natural leader.
    </p>
    <h4>Blind Spots</h4>
    <p>
        Being the Visionary does have its drawbacks. You have a tendency to
        believe that with a creative spirit, you can accomplish anything. This
        can lead to "optimism bias" where you are over confident in your judgment.

        Optimism can also lead to "planning fallacy" where you think making
        a decision will take you less time to make than it actually does. This
        means that you can fall behind.

        Because you tend to lean on your imagination, rather than do research,
        your opinions are sometimes shaped by limited information. Because you
        are drawn to exciting ideas, you often get attached to the most recent
        or bold information or ideas, even if they aren't ultimately the most
        important.

        This "saliency bias" leads you to make you make judgements based on a
        superficial understanding of the decision you're trying to make. Finally,
        because you like to go our own way, you sometimes try too hard to be an
        original. This tendency to overvalue originality because it's rare,
        called the "scarcity bias," leads you invest in being different as
        opposed to making the smartest decision.
    </p>

    {% if show_nav %}
        {% include 'module0/nav/sounds_like_you.html' with show_nav=show_nav %}
    {% endif %}

{% else %}
    <div class="flip">
        <div class="front">
            <p class="quote">"Everything around you that you call life, was made up by people that were no smarter than
                you." -Steve Jobs</p>
            <p> In any situation, you believe that there's always another, better way. When you see two options, you
                immediately think of what a more powerful third option could be. You don't like to settle for the
                ordinary, and you like to go your own way. You keep everyone guessing—and usually, you surprise those
                around you with your decisions!</p>

            <p style="cursor: pointer; color: blue; text-decoration: underline;">Click to view more details...</p>
        </div>
        <div class="back">
            <h4>{% include "problem_solver.html" %}S Like You!</h4>
            <div class="bio">
                <div class="bio col-md-4">
                    <div>
                        <img src="{% static 'area_app/img/archetype/jobs.jpg' %}"/>
                    </div>
                    <div>
                        <div class="archetype-name">
                            <a href="https://en.wikipedia.org/wiki/Steve_Jobs" target="_blank">Steve Jobs</a>
                        </div>
                        Entrepreneur and Inventor, Apple and Pixar
                    </div>
                </div>

                <div class="bio col-md-4">
                    <div>
                        <img src="{% static 'area_app/img/archetype/beyonce.jpg' %}"/>
                    </div>
                    <div>
                        <div class="archetype-name">
                            <a href="https://en.wikipedia.org/wiki/Beyoncé" target="_blank">Beyoncé</a>
                        </div>
                        Singer and Entertainment Icon
                    </div>
                </div>

                <div class="bio col-md-4">
                    <div>
                        <img src="{% static 'area_app/img/archetype/lebron.jpg' %}"/>
                    </div>
                    <div>
                        <div class="archetype-name">
                            <a href="https://en.wikipedia.org/wiki/Lebron_James" target="_blank">Lebron James</a>
                        </div>
                        NBA All-Star
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p>
                What makes Beyoncé a Visionary?
                Beyoncé is a legendary musician who continually stretches and changes what she's doing musically. She
                began as part
                of the group Destiny’s Child and then went solo. Most recently, she's taken to political commentary in
                her music,
                using her album Lemonade to make a statement that connected one woman's troubles to the broader
                struggles faced
                by women of color.
            </p>

            {% include 'module0/nav/tell_me_more.html' %}

        </div> <!-- // back -->
    </div> <!-- // flip -->
{% endif %}
