{% extends 'modules/cheetah/print.html' %}
{% load module_tags static %}
{% block title %}
    {% define 'cheetah_sheet_num' cheetah_sheet.num %}
    {% define 'cheetah_sheet_title' cheetah_sheet.title %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {# From Cheetah Sheet 4 #}
    <h3>Which biases might block you your decision-making?</h3>
    <ul>
        {% for myChoice in my_bias %}
            {% for biases in module.get_biases %}
                {% if myChoice == biases.key %}
                    <li><span style="border-bottom: 1px solid black;">{{ biases.label }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>

    {% include 'module2/cheetah5/form.html' with mode='print' %}

    <hr noshade="noshade"/>
    {# From Game1 #}
    <h2>Mental Shortcuts and Bias</h2>
    {% include 'module2/game1/table.html' %}

    <hr noshade="noshade"/>
    {# From Game2 #}
    <h2>Spot Bias</h2>
    <table>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>
                    <strong>{{ question.question|safe }}</strong><br />
                    <strong>Correct Answer: </strong>
                    {% if question.bias_answer == 0 %}
                        {{ question.answer0|safe }}<br />{{ question.explanation0|safe }}
                    {% else %}
                        {{ question.answer1|safe }}<br />{{ question.explanation1|safe }}
                    {% endif %}
                    <br />
                    <strong>Incorrect Answer: </strong>
                    {% if question.bias_answer != 0 %}
                        {{ question.answer0|safe }}<br />{{ question.explanation0|safe }}
                    {% else %}
                        {{ question.answer1|safe }}<br />{{ question.explanation1|safe }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}