<table class="table">
    <thead>
    <tr>
        <th colspan="2">CCs as a question</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="5">1.</td>
        <td><textarea name="practice_cc2[]" class="auto-text-area">{{ practice_cc2.0 }}</textarea></td>
    </tr>
    <tr>
        <td>2.</td>
        <td><textarea name="practice_cc2[]" class="auto-text-area">{{ practice_cc2.1 }}</textarea></td>
    </tr>
    <tr>
        <td>3.</td>
        <td><textarea name="practice_cc2[]" class="auto-text-area">{{ practice_cc2.2 }}</textarea></td>
    </tr>
    </tbody>
</table>