{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Module 1 AREA Method{% endblock %}{% endblock %}
{% block content %}
<style type="text/css">
.area {
    color: #1dcd9f;
}

.noarea {
    color: #cccccc !important;
}
</style>
    <h3>
        The ideal AREA for decision-making is where you are confident that you know how to solve your problems.
        The <span class="area">highlighted</span> AREA is also the name of the decision making system you are learning.
    </h3>
    {% include "decisions/module1/game_results_table.html" with textcolor_area="1dcd9f" textcolor_noarea="cccccc" %}
    <div class="center">
        <button id="next" type="button"><a href="directions">How Does AREA Help?</a></button>
    </div>
    <a href="game_results" id="back">Back</a>
{% endblock %}
