{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - AREA Method Buddy{% endblock %}{% endblock %}
{% block content %}
    <h3>
        Identify a Decision Making Buddy to help you through making your big decision better!
    </h3>
    <h3>
        Choose someone who has:
    </h3>
    <h3>
        <div>&bull; Self-awareness as a decision-maker</div>
        <div>&bull; Empathy and understanding with others involved in your decision</div>
        <div>&bull; A toolkit to make complex decisions</div>
    </h3>
    <h3 class="center" style="margin-top: 50px;">
        Decision Buddy's Name:
        <input type="text" name="decision_buddy" value="" size="30" class="cc"/><br/><br/>
        Decision Buddy's Email:&nbsp;
        <input type="email" name="decision_buddy_email" value="" size="30" class="cc"/>
    </h3>
    <div class="center" style="margin-top: 50px;">
        <input id="next" type="submit" name="submit" value="Submit Answers"/>
    </div>
    <a href="challenge" id="back">Back</a>
    <script type="text/javascript">
        function validate() {
            var valid = true;
            $('.cc').each(function () {
                if ($(this).val().length < 2) {
                    if (valid) {
                        alert("Please provide your decision buddy's name and email address.");
                    }
                    valid = false;
                }
            });
            return valid;
        }
    </script>
{% endblock %}
