{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Defining Critical Concepts{% endblock %}{% endblock %}
{% block content %}
    <h1 class="center">
        Critical Concepts
    </h1>
    <h3>
        To make big decisions better identify what you are solving for.
        The few factors that you are solving for are called Critical Concepts.
    </h3>
    <div class="center">
        <button id="next" type="button"><a href="nylah_decision">Meet Nylah</a></button>
    </div>
    <a href="sample" id="back">Back</a>
{% endblock %}
