{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Deriving Critical Concepts{% endblock %}{% endblock %}
{% block content %}
    <p>
        Take the big decision you just identified and let's turn the problem upside down: What constitutes success for
        you personally?
    </p>
    <p class="directions">{{ decision }}</p>
    <p>
        "YOUR CRITICAL CONCEPTS" - solving for and telling the story of YOUR success.
    </p>
    <table class="table">
        <tbody>
        <tr>
            <td>1.</td>
            <td><input type="text" name="cc[]" class="cc" value="" size="50"/></td>
        </tr>
        <tr>
            <td>2.</td>
            <td><input type="text" name="cc[]" class="cc" value="" size="50"/></td>
        </tr>
        <tr>
            <td>3.</td>
            <td><input type="text" name="cc[]" class="cc" value="" size="50"/></td>
        </tr>
        </tbody>
    </table>
    <p class="center">
        <input type="submit" id="next" name="submit" value="Submit Critical Concepts"/>
    </p>
    <a href="decision" id="back">Back</a>
    <script type="text/javascript">
        function validate() {
            var valid = true;
            $('.cc').each(function () {
                if ($(this).val().length < 5) {
                    if (valid) {
                        alert("Please provide 3 critical concepts.");
                    }
                    valid = false;
                }
            });
            return valid;
        }

        $('form').submit(validate);
    </script>
{% endblock %}
