{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Commitment Contract{% endblock %}{% endblock %}
{% block content %}
    <p>
        Now that you have defined the decision that you need to make and your critical concepts, commit to answering the
        following questions from
        TODO-LINK: <a href="#" onclick="alert('TODO'); return false;">Cheetah Sheet 1 Getting to Know Your Target</a>
        and sharing them with your Decision Buddy, <a href="mailto:{{ decision_buddy_email }}?subject=Please Be My Decision Buddy!">{{ decision_buddy }}</a>.
        <ul>
            <li>What are the critical entities involved in your decision?</li>
            <li>Who are the...</li>
        </ul>
    </p>
    <p>
        <button><a href="summary">I Commit!</a></button>
    </p>
{% endblock %}
