{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Commitment Contract{% endblock %}{% endblock %}
{% block content %}

    <h3 class="center" style="margin: 40px; font-weight: normal;">
        <input type="text" name="decision" class="cc decision center" style="border-bottom: 2px solid lightgray;"
               size="40" value="{{ decision }}" readonly="readonly"/>
    </h3>

    <h2>Critical Concepts</h2>
    {% for concept in cc %}
        <h3>&bull; {{ concept }}</h3>
    {% endfor %}

    <h3>
        Now that you have defined the decision that you need to make and your critical concepts, commit to answering the
        following questions from
        TODO-LINK: <a href="#" onclick="alert('TODO'); return false;">Cheetah Sheet 1 Getting to Know Your Target</a>
        and sharing them with your Decision Buddy, <a
            href="mailto:{{ decision_buddy_email }}?subject=Please Be My Decision Buddy!">{{ decision_buddy }}</a>.
    </h3>

    <h3>1. What are the critical entities involved in your decision?</h3>
    <h3>2. Who are the people I plan on talking to in order to learn more about my decision?</h3>
    <h3>3. What do I expect to learn from each of them?</h3>
    <h3>4. What are my strengths or potential weaknesses that I want to watch out for when making my big decision?</h3>

    <div class="center">
        <button id="next" type="button"><a href="summary">I Commit!</a></button>
    </div>
    <a href="buddy" id="back">Back</a>
{% endblock %}
