{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Selecting a Decision{% endblock %}{% endblock %}
{% block content %}
    <p>
        Now let's have you think about making a big decision better!
        Is there an issue that is bothering you that is unresolved?
    </p>
    <p>
        Hint: Think of a decision that would benefit from a process and needs some time and attention like the questions
        you've seen.
    </p>
    <h4>
        <input type="text" name="decision" class="cc decision" size="40"/>
    </h4>
    <h4>
        &#10004;
        Do I need facts or evidence?
    </h4>
    <h4>
        &#10004;
        Would it be useful to learn from other people?
    </h4>
    <h4>
        &#10004;
        Do I need to develop better self awareness about how I understand my problem?
    </h4>
    <h4>
        &#10004;
        Have I posed it as a question?
    </h4>
    <p>
        <input type="submit" id="next" class="btn btn-lg btn-primary" name="submit" value="Submit Decision"/>
        <a href="exploring_cc" id="back">Back</a>
    </p>
    <script type="text/javascript">
        function validate() {
            var valid = true;
            $('.cc').each(function () {
                if ($(this).val().length < 10) {
                    if (valid) {
                        alert("Please provide a decision.");
                    }
                    valid = false;
                }
            });
            return valid;
        }

        // TODO - validate that it ends in a "?"

        $('form').submit(validate);
    </script>
{% endblock %}
