{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Selecting a Decision{% endblock %}{% endblock %}
{% block content %}
    <h2 class="center">What's Your Decision?</h2>
    <h3>
        What is a decision <b>YOU</b> need to make?
    </h3>
    <div>
        Hint: Think of a decision that would benefit from a process and needs some time and attention like the examples
        you've seen.
    </div>

    <h3>
    To select your decision ask yourself:
    </h3>

    <h3>
        <span class="light-blue" style="font-size: larger;">&#10004;</span>
        Do I need facts or evidence?
        <br/>
        <span class="light-blue" style="font-size: larger;">&#10004;</span>
        Would it be useful to learn from other people?
        <br/>
        <span class="light-blue" style="font-size: larger;">&#10004;</span>
        Have I posed it as a question?
    </h3>

    <h3 class="center" style="margin-top: 50px;">
        <input type="text" name="decision" class="cc decision" size="40" placeholder="Type Your Decision Here" value="{{ decision }}"/>
    </h3>

    <div class="center">
        <input type="submit" id="next" name="submit" value="Submit Decision"/>
    </div>
        <a href="exploring_cc" id="back">Back</a>
    <script type="text/javascript">
        function validate() {
            var valid = true;
            $('.cc').each(function () {
                if ($(this).val().length < 10) {
                    if (valid) {
                        alert("Please provide a decision.");
                    }
                    valid = false;
                }
            });
            return valid;
        }

        // TODO - validate that it ends in a "?"
    </script>
{% endblock %}
