{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Deriving Critical Concepts{% endblock %}{% endblock %}
{% block content %}
    <h4>
    Where should I go to college?
    </h4>
    <ul id="list">
        <li id="2">
            If you had to decide where to go to college. What might be your Critical Concepts?
            <button id="and" type="button" onclick="return nextbtn()">go on...</button>
        </li>
        <li id="3" class="anim">There's no one right answer. Think of answers that are "RIGHT" for you personally.</li>
        <li id="4" class="anim">You can choose from the selection on the page or you can write your own answers.</li>
        <li id="5" class="anim">Remember there is no one right answer but there likely is a right answer for YOU personally.</li>
        <li id="6" class="anim">The answers about what constitutes success for you personally tell you how to focus your research so you make a
        decision that achieves that success.</li>
        <li class="anim">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Nylah's Answer</th>
            <th>Your Answer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td>My family is happy with my decision.</td>
            <td><input type="text" name="cc[]" class="cc" value="" size="30"/></td>
        </tr>
        <tr>
            <td>2.</td>
            <td>I'm able to afford it.</td>
            <td><input type="text" name="cc[]" class="cc" value="" size="30"/></td>
        </tr>
        <tr>
            <td>3.</td>
            <td>It has a good graphic design program.</td>
            <td><input type="text" name="cc[]" class="cc" value="" size="30"/></td>
        </tr>
        </tbody>
    </table>
    </p>
    <p class="center">
        <button id="next">Submit Answers</button>
    </p>
        </li>
    </ul>
    <a href="sample" id="back">Back</a>
    <script type="text/javascript">
        function validate() {
            var valid = true;
            $('.cc').each(function () {
                if ($(this).val().length < 5) {
                    if (valid) {
                        alert("Please provide 3 answers.");
                    }
                    valid = false;
                }
            });
            return valid;
        }

        $('form').submit(validate);
    </script>
{% endblock %}
