{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Explanation{% endblock %}{% endblock %}
{% block content %}
    <ul style="list-style-type: none; clear: both; margin-top: 100px;" id="list">
        <li id="2">
            The thing about decision making is that often there's no right answer, HOWEVER, there is likely a right answer for YOU.            <button id="and" type="button" onclick="return nextbtn()">and...</button>
            <div class="center">
                <button type="button" onclick="return nextbtn()">I Agree</button>
                <span style="margin: 30px;">
                </span>
                <button type="button" onclick="return nextbtn()">No Way</button>
            </div>
        </li>
        <li id="4" class="anim">
            Life has easy and difficult questions and we each have a different idea of what is easy
            and difficult for us.
            <div class="center" id="extrabutton">
                <button type="button" onclick="$('#extrabutton').hide(); return nextbtn()">Show Me an Example</button>
            </div>
        </li>
        <li class="anim">
            We might have the very same decision - say where to live - be easy at some point
            in our lives and yet difficult at another point in time.
            <div class="center directions" style="margin-top: 40px; white-space: nowrap;">
            Select which life looks good to you.
                <br/>
            <img id="b1" src="/static/decisions/img/apartment.jpg" height="150px" style="border: 2px solid orange; margin: 10px;" onclick="return nextbtn()"/>
            <img id="b2" src="/static/decisions/img/suburbs.jpg" height="150px" style="margin: 10px;" onclick="return nextbtn()"/>
            </div>
        </li>
        <li class="anim">
            <button id="next" type="button"><a href="sample">Let's Make Another Decision</a></button>
        </li>
    </ul>
    <a href="area" id="back">Back</a>
{% endblock %}
