{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Details{% endblock %}{% endblock %}
{% block content %}
    <h3 class="center" style="margin: 100px;">
        The thing about decision making is that often there's no right answer,
        however, there is likely a right answer for <i>YOU</i>.
    </h3>
    <div class="center" style="white-space: nowrap;">
        <button type="button"><a href="details2?details=yes">I Agree</a></button>
        <span style="margin: 30px;"> </span>
        <button type="button"><a href="details2?details=no">No Way</a></button>
    </div>
    <a href="area" id="back">Back</a>
{% endblock %}
