{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Details{% endblock %}{% endblock %}
{% block content %}
    <h3 style="margin: 100px;">
        Life has easy and difficult decisions and we each have a different idea of what is easy
        and difficult for us.
    </h3>
    <div class="center">
        <button type="button" id="next"><a href="details3">Show Me an Example</a></button>
    </div>
    <a href="details" id="back">Back</a>
{% endblock %}
