{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Directions for Reflection{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
    #why_options div {
        margin-bottom: 10px;
    }

    label {
        font-size: large;
        border: 1px solid #dddddd;
        width: 100%;
        padding: 5px;
    }

    :checked + span {
        font-weight: bold;
    }
    </style>
    <!--
    <p>
        So let's look again at your results.
    </p>
    {% include "decisions/module1/game_results_table.html" %}
    <p>
        For the questions you didn't know how to answer, why not?
    </p>
    -->
    <div style="font-weight: 700; font-size: 150%; margin-top: 50px;">
        Why were some easy questions difficult and some difficult questions easy for you?
        <span class="font-size: small">(Check at least one)</span>
    </div>
    <div id="why_options" style="margin-top:20px;">
    {% for option in why_options %}
        <div>
            <label>
                <input type="checkbox" name="why[]" value="{{ option }}"/>
                <span>{{ option }}</span>
            </label>
        </div>
    {% endfor %}
    </div>
    <p class="center">
        <input id="next" type="submit" value="Submit"></input>
    </p>
    <a href="area" id="back">Back</a>
    <script type="text/javascript">
        function validate() {
            if ($('#why_options').find(':checked').length > 0) {
                return true;
            } else {
                alert("Please select at least one.");
                return false;
            }
        }

        $('form').submit(validate);
    </script>
{% endblock %}
