{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Directions for Reflection{% endblock %}{% endblock %}
{% block content %}
    <h3>Module 1 - Directions for Reflection</h3>
    <p>
    Why were some questions easy and difficult?</p>
    <p>For the ones you didn't know how to answer, why not?</p>
    <p>
        Because life has easy and difficult questions. We each have a different idea of what is easy and difficult for us. We can all use a process.</p>
    </p>
    <p><button><a href="sample">So how do you solve complex problems?</a></button></p>
{% endblock %}
