{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Directions for Reflection{% endblock %}{% endblock %}
{% block content %}
    <!--
    <p>
        So let's look again at your results.
    </p>
    {% include "decisions/module1/game_results_table.html" %}
    <p>
        For the questions you didn't know how to answer, why not?
    </p>
    -->
    <p>
        Why were some easy questions difficult and some difficult questions easy for you?
        <span class="font-size: small">(Check at least one)</span>
    </p>
    <div id="why_options">
    {% for option in why_options %}
        <div>
            <label style="font-size: large">
                <input type="checkbox" name="why[]" value="{{ option }}"/>
                {{ option }}
            </label>
        </div>
    {% endfor %}
    </div>
    <p class="center">
        <input id="next" type="submit" value="Submit"></input>
    </p>
    <a href="area" id="back">Back</a>
    <script type="text/javascript">
        function validate() {
            if ($('#why_options').find(':checked').length > 0) {
                return true;
            } else {
                alert("Please select at least one.");
                return false;
            }
        }

        $('form').submit(validate);
    </script>
{% endblock %}
