{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Explanation{% endblock %}{% endblock %}
{% block content %}
    <audio autoplay>
        <source src="/static/decisions/audio/1-12.m4a" type="audio/aac">
        Your browser does not support audio
    </audio>
    <style type="text/css">
        ul {
            width: 400px;
        }

        li {
            opacity: 0;
            left: 100%;
            position: relative;
        }
    </style>
    <h3>Module 1 - Explanation</h3>
    <p>
        The AREA Method is a decision making system that will build your:
    </p>
    <ul>
        <li id="1" style="display:none;">Introduction</li>
        <li id="2" class="anim">Self awareness as a decision-maker</li>
        <li id="3" class="anim">Empathy and understanding with the others involved in your decisions</li>
        <li id="4" class="anim">Toolkit to solve complex problems</li>
        <li id="5" class="anim">Confidence that you can make decisions better</li>
        <li id="6" class="anim">Conviction that your decisions will help you reach your goals</li>
        <li>
            <button id="next"><a href="video">Let's look again...</a></button>
        </li>
    </ul>
    <a href="area" id="back">Back</a>

    <script type="text/javascript">
        var base_duration = 4000;
        $('ul').each(function (i) {
            var li_count = $(this).children().length,
                hide_timeout = ((i + 1) * base_duration * li_count);
            $(this).children().each(function (ii) {
                var li = $(this),
                    show_timeout = (i * li_count * base_duration) + (ii * base_duration);
                window.setTimeout(function () {
                    li.animate({left: 0, opacity: 1})
                }, show_timeout);
                /*
                window.setTimeout(function () {
                    li.animate({left: '100%', opacity: 0})
                }, hide_timeout * 10);
                */
            });
        });
    </script>
{% endblock %}
