{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Deriving Critical Concepts{% endblock %}{% endblock %}
{% block content %}
    <p>
        AREA calls those few factors Critical Concepts - critical because they determine whether your decision will
        succeed for you personally.
    </p>
    <p class="directions">
        You are no longer solving for a complex decision now you are solving for and telling the story of YOUR success.
        <br />
        Let's practice you envisioning your success in a few decision problems.
    </p>
    <p>
        Need help? Click here to see Nylah's answers.
    </p>

    <h3>Do I get an after school job?</h3>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Your Answer</th>
            <th>Nylah's Answer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td><input type="text" name="cc1[]" class="cc" value="" size="30"/></td>
            <td>
                <button onclick="$(this).hide(); $(this).closest('td').find('div').show(); return false;" tabindex="-1">Show Nylah's Answer</button>
                <div style="display: none;">TODO</div>
            </td>
        </tr>
        <tr>
            <td>2.</td>
            <td><input type="text" name="cc1[]" class="cc" value="" size="30"/></td>
            <td>
                <button onclick="$(this).hide(); $(this).closest('td').find('div').show(); return false;" tabindex="-1">Show Nylah's Answer</button>
                <div style="display: none;">TODO</div>
            </td>
        </tr>
        <tr>
            <td>3.</td>
            <td><input type="text" name="cc1[]" class="cc" value="" size="30"/></td>
            <td>
                <button onclick="$(this).hide(); $(this).closest('td').find('div').show(); return false;" tabindex="-1">Show Nylah's Answer</button>
                <div style="display: none;">TODO</div>
            </td>
        </tr>
        </tbody>
    </table>

        <h3>Do I tell a friend a difficult truth?</h3>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Your Answer</th>
            <th>Nylah's Answer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td><input type="text" name="cc2[]" class="cc" value="" size="30"/></td>
            <td>
                <button onclick="$(this).hide(); $(this).closest('td').find('div').show(); return false;" tabindex="-1">Show Nylah's Answer</button>
                <div style="display: none;">TODO</div>
            </td>
        </tr>
        <tr>
            <td>2.</td>
            <td><input type="text" name="cc2[]" class="cc" value="" size="30"/></td>
            <td>
                <button onclick="$(this).hide(); $(this).closest('td').find('div').show(); return false;" tabindex="-1">Show Nylah's Answer</button>
                <div style="display: none;">TODO</div>
            </td>
        </tr>
        <tr>
            <td>3.</td>
            <td><input type="text" name="cc2[]" class="cc" value="" size="30"/></td>
            <td>
                <button onclick="$(this).hide(); $(this).closest('td').find('div').show(); return false;" tabindex="-1">Show Nylah's Answer</button>
                <div style="display: none;">TODO</div>
            </td>
        </tr>
        </tbody>
    </table>

    </p>
    <p class="center">
        <input type="submit" id="next" name="submit" value="Submit Answers"/>
    </p>
    <a href="deriving_cc" id="back">Back</a>
    <script type="text/javascript">
        function validate() {
            var valid = true;
            $('.cc').each(function () {
                if ($(this).val().length < 5) {
                    if (valid) {
                        alert("Please provide 3 answers for each topic.");
                    }
                    valid = false;
                }
            });
            return valid;
        }

        $('form').submit(validate);
    </script>
{% endblock %}
