{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Explanation{% endblock %}{% endblock %}
{% block content %}
    <script type="text/javascript">
        var base_duration = 4000;
        /**
        $('ul').each(function (i) {
            var li_count = $(this).children().length,
                hide_timeout = ((i + 1) * base_duration * li_count);
            $(this).children().each(function (ii) {
                var li = $(this),
                    show_timeout = (i * li_count * base_duration) + (ii * base_duration);
                window.setTimeout(function () {
                    li.animate({left: 0, opacity: 1})
                }, show_timeout);
            });
        });
        */
    </script>
    <h4>
        The AREA Method is a decision making system that will build your:
    </h4>
    <ul id="list">
        <li id="2">Self awareness as a decision-maker
            <button id="and" type="button" onclick="return nextbtn()">and...</button>
        </li>
        <li id="3" class="anim">Empathy and understanding with the others involved in your decisions</li>
        <li id="4" class="anim">Toolkit to make complex decisions</li>
        <li id="5" class="anim">Confidence that you can make decisions better</li>
        <li id="6" class="anim">Conviction that your decisions will help you reach your goals</li>
        <li class="anim">
            <button id="next" type="button"><a href="instructions">Shall We Play A Game?</a></button>
        </li>
    </ul>
    <a href="area" id="back">Back</a>
{% endblock %}
