{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Decision Dilemmas - End!{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h4 class="center" style="margin: 50px;">How'd you do and how did it feel?</h4>
    <p>
        Your results will be grouped based on how
        <span class="button-instructions">Easy</span> or
        <span class="button-instructions">Hard</span> you found each decision to make and whether you were
        <span class="button-instructions">Confident</span> or
        <span class="button-instructions">Unsure</span> about them.
    </p>
    <p>
        Some decisions that seem easy can be hard to make while other hard ones are right in our comfort zone.
    </p>
    <p class="center">
        <button id="next"><a href="game_results">Show Me!</a></button>
    </p>
    <a href="game2" id="back">Back</a>
{% endblock %}
