{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Decision Dilemmas - End!{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h1 class="center">How'd you do and how did it feel?</h1>
    <div class="center">
        Your results will be grouped based on how
        <span class="button-instructions">Easy</span> or
        <span class="button-instructions">Hard</span> you found each decision to make and whether you were
        <span class="button-instructions">Confident</span> or
        <span class="button-instructions">Unsure</span> about them.
    </div>
    <h3 style="margin-top: 50px; margin-bottom: 50px;">
        "Sit and wait or take action?" might seem easy but sometimes we're unsure of what to do.
    </h3>
    <div class="center">
        Some decisions that seem easy can be hard to make while other hard ones are right in our comfort zone.
    </div>
    <div class="center start">
        <button id="next" type="button"><a href="game_results">Show Me My Results!</a></button>
    </div>
    <a href="game2" id="back">Back</a>
{% endblock %}
