{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Decision Making Game{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
        #clock {
            background: url(https://rene-henrich.de/content/01-animation/02-chatterfall-introduction-animations/stopwatch.gif);
            background-size: 180px 180px;
            background-repeat: no-repeat;
            position: relative;
            float: none;
            width: 100%;
            text-align: center;
            vertical-align: top;
            height: 180px;
            margin-left: 40%;
        }

        #timer {
            font-weight: 900;
            color: #f6653c;
            text-transform: uppercase;
            margin: 0;
            position: absolute;
            top: 59%;
            left: 88px;
            font-size: 2rem;
            transform: translate(-50%, -50%);
        }
    </style>
    <script type="text/javascript">
        function countdown() {
            $('#timer').show()
            var timeleft = 45;
            var downloadTimer = setInterval(function () {
                timeleft--;
                $("#time").text(timeleft);
                if (timeleft <= 0) {
                    clearInterval(downloadTimer);
                    $('form').submit();
                }
            }, 1000);
            return true;
        }

        {% if attr == 'easy' %}
            countdown();
        {% endif %}

        var questions = {
            {% for question in questions %}
                '{{ forloop.counter }}': '{{ question }}',
            {% endfor %}
        }

        function answer(val) {
            $('#answer_' + $('#question_index').text()).val(val);
            return next_question();
        }

        function easy() {
            return answer('0');
        }

        function hard() {
            return answer('1');
        }

        var question_num = 0;
        var num_questions = 15; // TODO - live
        var animation_direction = 'left';

        function shuffle(a) {
            var j, x, i;
            for (i = a.length; i; i--) {
                j = Math.floor(Math.random() * i);
                x = a[i - 1];
                a[i - 1] = a[j];
                a[j] = x;
            }
            return a;
        }

        var random_order = [];
        for (i = 1; i <= num_questions; i++) {
            random_order.push(i);
        }
        shuffle(random_order);

        function next_question() {
            $('#game').css('position', 'absolute');
            question_num++;
            if (question_num > num_questions) {
                $('form:last').submit();
                return true;
            }
            if (animation_direction == 'right') {
                animation_direction = 'left';
            } else {
                animation_direction = 'right';
            }
            var question_index = random_order[question_num];
            $('#question_index').text(question_index);
            $('#question').text(questions[question_index]);
            if (animation_direction == 'right') {
                $('#game').css('left', '60%');
                $('#game').animate({'left': '30%'}, function () {
                    $('#game').css('position', 'inherit');
                });
            } else {
                $('#game').css('left', '0%');
                $('#game').animate({'left': '30%'}, function () {
                    $('#game').css('position', 'inherit');
                });
            }
            $('#timer').click();
            return false;
        }

        $(document).ready(function () {
            $('#game').width($('h2').width());
            next_question();
        });
    </script>

    {% if attr == 'easy' %}
        <div class="center">
            <div id="clock">
                <div id="timer">
                    <span style="font-size: 64px; width: 70px; height: 70px;" id="time">&nbsp; &nbsp;</span>
                </div>
            </div>
        </div>
    {% endif %}

    <h2 style="font-size: xx-large;">Deciding...</h2>
    <div style="height: 150px; margin-top: 30px;">
        <div id="game" style="position: absolute; font-size: 24px; text-align: center; overflow: visible">
            <div id="question_wrapper">
                <div id="question" style="font-size: xx-large; line-height: 1.5em; text-align: left"></div>
                <span id="question_index" style="display: none"></span>
                <div id="answers" style="margin-left: 5%; margin-top: 20px; white-space: nowrap;">
                    <button onclick="$(this).blur(); return easy();">{{ labels.0 }}</button>
                    &nbsp;
                    <button onclick="$(this).blur(); return hard();">{{ labels.1 }}</button>
                </div>
            </div>
        </div>
    </div>

    <a href="instructions" id="back" style="margin-top: 100px;">Back</a>

    {% for question in questions %}
        <input type="hidden" name="answer[{{ forloop.counter0 }}]" id="answer_{{ forloop.counter }}" value=""/>
    {% endfor %}
{% endblock %}
