{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Decision Dilemmas - Explained!{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h3>Decision Dilemmas - Explanation</h3>
    <p>
        Some decisions that seem easy can be hard to make while other hard ones are right in our comfort zone.
    </p>
    <p class="directions">
        "Sit and wait or take action?" might seem easy but sometimes we're unsure of what to do.
    </p>
    <p>
        Having a process for making decisions will give you more confidence making them.
    </p>
    <p class="center start2">
        <button id="next" type="button"><a href="explain">How Does the AREA Method Help?</a></button>
    </p>
    <a href="game_results" id="back">Back</a>
{% endblock %}
