{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Introduction to Decision Making 2{% endblock %}{% endblock %}
{% block content %}
    <div class="center">
        <div>
            WHEW!
            That's a lot of decisions that we have to make!
        </div>
        <div>
            Sometimes we are confident we know how to make decisions,<br/> sometimes not so much.
        </div>
        <h1>
            Ready for Round 2?
        </h1>
    </div>
    <ol class="directions">
        <li>For each decision select <span class="button-instructions">Confident</span> or
            <span class="button-instructions">Unsure</span>.
        </li>
        <li>In this round there's no countdown clock.</li>
    </ol>
    <p class="center start">
        <button id="next" type="button"><a href="game2">Play Game</a></button>
    </p>
    <a href="/decisions/1/game" id="back">Back</a>
{% endblock %}
