{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Introduction to Decision Making{% endblock %}{% endblock %}
{% block content %}
    <p>
        Just like real life you're about to make a lot of decisions!
        Sometimes we don't know how taxing this is!
        On the next page you will be given a countdown clock and a list of decisions that you might have to make.
        Try to answer every question before it runs off the screen.
        They will come right at you-just like they do in real life!
        Determine how comfortable you are making each decision.
        Click the "Easy" button if it's easy or the "Hard" button if it's a hard decision for you.
        There are no right answers. But there are right answers for you.
    </p>
    <p>
        <button id="next"><a href="#" onclick="return countdown()">Play Game</a></button>
        <a href="/decisions/1" id="back">Back</a>
    </p>
    <div style="display: none; background: rgba(54, 25, 25, .5); height: 100%; width: 100%; position: fixed; top: 0; left: 0; float: right; z-index: 99; text-align: center; padding-top: 10%"
         id="timer">
        <div style="font-size: 128px;" id="time">3</div>
    </div>

    <script type="text/javascript">
        function countdown() {
            $('#timer').show()
            var timeleft = 3;
            var downloadTimer = setInterval(function () {
                timeleft--;
                $("#time").text(timeleft);
                if (timeleft <= 0) {
                    clearInterval(downloadTimer);
                    window.location.href='game';
                }
            }, 1000);
            return true;
        }
    </script>
{% endblock %}
