{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Introduction to Decision Making{% endblock %}{% endblock %}
{% block content %}
    <h3>Module 1 - Introduction to Decision Making</h3>
    <p>
        On the next page you will be given a list of decisions that you make every day.
        Select how <img src="https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/96/smiling-face-with-heart-shaped-eyes_1f60d.png" height="64"/> easy or
        <img src="http://www.emoji.co.uk/files/apple-emojis/smileys-people-ios/38-worried-face.png" height="64"/> difficult each decision is to make,
        and how much you
        <img src="https://emojipedia-us.s3.amazonaws.com/thumbs/160/google/40/thumbs-up-sign_1f44d.png" height="64"/> like, or
        <img src="http://www.emoji.co.uk/files/apple-emojis/symbols-ios/846-warning-sign.png" height="64"/> dislike each decision.
        Try to answer as many as possible in the time given!
    </p>
    <p><button><a href="game">3.. 2.. 1.. Go!</a></button></p>
{% endblock %}
