{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Introduction to Decision Making{% endblock %}{% endblock %}
{% block content %}
    <h3>Module 1 - Introduction to Decision Making</h3>
    <p>This module introduces you to how many decisions you make every day and how to make big decisions better.</p>
    <div style="width: 100%; text-align: center; margin: 10px;">
        <img src="https://i.pinimg.com/236x/c7/78/7b/c7787b8f260a88c95ba564626c143181.jpg"/>
    </div>
    <p>
        <button><a href="1/instructions">Make Big Decisions Better!</a></button>
        <a href="/decisions" style="float:right">Back</a>
    </p>
{% endblock %}
