{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Introduction to Decision Making{% endblock %}{% endblock %}
{% block content %}
    <h3>Module 1 - Introduction to Decision Making</h3>
    <p>This module will introduce you to how many decisions are made every day! Select this module to continue!</p>
    <img src="https://i.pinimg.com/236x/c7/78/7b/c7787b8f260a88c95ba564626c143181.jpg"/>
    <p>
        <button><a href="1/instructions">Start Module!</a></button>
        <a href="/decisions" style="float:right">Back</a>
    </p>
{% endblock %}
