{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Sample{% endblock %}{% endblock %}
{% block content %}
    <h3>
        Take a question like "Should I go away to college?" This has no right answer but it probably has a right answer
        for YOU.
    </h3>

    <div class="center">
        <img src="/static/decisions/img/college.jpg" height="200px" style="margin: 0px;"/>
    </div>

    <h3>
        Instead of answering that question which may be difficult AREA inverts decision making to focus on your vision
        of success.
    </h3>

    <h3>Answer this: How would you know that you've made a <b>good</b> decision for <b>you</b>?
        <span style="font-size: 100%"> List three things.</span>
    </h3>

    <table class="table">
        <tbody>
        <tr>
            <td>1.</td>
            <td><input type="text" name="cc_nylah[]" class="cc" value="" size="60"/></td>
        </tr>
        <tr>
            <td>2.</td>
            <td><input type="text" name="cc_nylah[]" class="cc" value="" size="60"/></td>
        </tr>
        <tr>
            <td>3.</td>
            <td><input type="text" name="cc_nylah[]" class="cc" value="" size="60"/></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <p class="center">
        <button id="next" type="submit">See Nylah's Decision</button>
    </p>
    <a href="details" id="back">Back</a>
    <script type="text/javascript">
        function validate() {
            var valid = true;
            $('.cc').each(function () {
                if ($(this).val().length < 3) {
                    if (valid) {
                        alert("Please provide three things.");
                    }
                    valid = false;
                }
            });
            return valid;
        }
    </script>
{% endblock %}
