{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Sample{% endblock %}{% endblock %}
{% block content %}
    <p>
        Take a question like "Should I go away to college?" This has no right answer but it probably has a right answer
        for YOU.
    <div class="center">
        <img src="/static/decisions/img/college.jpg" height="200px" style="margin: 0px;"/>
    </div>
    </p>
    <p>
        Instead of answering that question which may be difficult AREA inverts decision making to focus on your vision
        of success.
    </p>
    <p class="directions">Answer this: How would you know that you've made a <b>good</b> decision for <b>you</b>? List three things.</p>
    <p>
        Let's take Nylah for example.
        She's a senior living in an apartment in Brooklyn with her mom and dad and two younger sisters.
    <div class="center">
        <img src="/static/decisions/img/nylah.png" height="100px" style="margin: 5px;"/>
        <img src="/static/decisions/img/family.jpg" height="100px" style="margin: 5px;"/>
        <img src="/static/decisions/img/brooklyn.jpg" height="100px" style="margin: 5px;"/>
    </div>
    </p>
    <p>
        When she uses the AREA Method and asks herself how she'd know that she's made a good decision about which
        college to go to she realizes that three things have to happen for the decision to succeed.
    </p>
    <p class="directions">Nylah's question: "How will I know that I've made a <b>good</b> decision?"</p>
    {% include 'decisions/module1/nylah_cc.html' %}
    <p class="center start">
        <button id="next"><a href="defining_cc">Why Start With Where You Want To End Up?</a></button>
    </p>
    <a href="details" id="back">Back</a>
{% endblock %}
