{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Summary{% endblock %}{% endblock %}
{% block content %}
    <h3>Module 1 Complete!</h3>
    <p>
    <img src="https://i.pinimg.com/236x/c7/78/7b/c7787b8f260a88c95ba564626c143181.jpg" style="float:right;"/>
    Congratulations! You received the Module 1 badge! You have learned:
        <ul>
            <li>How varied our decisions are and how many of them there are at any one time! </li>
            <li>Process and Confidence can help your decision making</li>
            <li>AREA Method and inverting decision making to tell the story of your success </li>
            <li>How to identify critical concepts to reach your vision of success </li>
            <li>Identified a problem you want to solve + it's critical concepts</li>
            <li>Identified a Decisions Buddy to support you.</li>
            <li>Accepted the challenge to… </li>
        </ul>
    </p>
    <p class="center">
    <button id="next" type="button"><a href="/decisions">Modules List</a></button>
    </p>
{% endblock %}
