{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 1 - Summary{% endblock %}{% endblock %}
{% block content %}

    <div class="center">

    {% include 'decisions/_map.html' with top=90 left=70 %}

    <h1 class="center">Module 1 Complete!</h1>

    <h3 class="center">
        Congratulations! You received the Module 1 badge!
    </h3>

        <img src="/static/decisions/img/Module1_badge.png" />

        <h3>You have learned:</h3>
    </div>

    <h3>
        <div>&bull; That every day we make a lot of decisions.</div>
        <div>&bull; Some easy decisions are hard and some hard decisions are easy.</div>
        <div>&bull; The AREA Method can help by teaching us to identify our Critical Concepts.</div>
    </h3>

    <h3 class="center">You have identified:</h3>

    <h3>
        <div>&bull; A decision you want to make and it's Critical Concepts.</div>
        <div>&bull; A Decision Buddy, {{ decision_buddy }}, to support you.</div>
        <div>&bull; Questions to lead you to make a big decision better!</div>
    </h3>

    <div class="center">
        <button id="next" type="button"><a href="/decisions">Modules List</a></button>
    </div>

    <a href="commitment" id="back">Back</a>
{% endblock %}
