{% load module_tags %}
{% get_module_badge 2 %}

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<p>You have learned:</p>
<ul>
    <li>Self-awareness about the different kinds of decisions made every day.</li>
    <li>Decision Toolkit Skills: Your <a class="master_term" href="#" data-toggle="tooltip" data-placement="top"
                                         title="Vision of Success is your definition of success">Vision of Success</a>
        and <a class="master_term" href="#" data-toggle="tooltip" data-placement="top"
               title="Critical Concepts are the things that need to happen to know that the decision has succeeded for you personally">Critical
            Concepts</a>.
    </li>
    <li>Confidence to make better decisions.</li>
</ul>

<p>You have identified:</p>
<ul>
    <li>A decision you want to make.</li>
    <li>Your <a class="master_term" href="#" data-toggle="tooltip" data-placement="top"
                title="Vision of Success is your definition of success">Vision of Success</a> and your <a
            class="master_term" href="#" data-toggle="tooltip" data-placement="top"
            title="Critical Concepts are the things that need to happen to know that the decision has succeeded for you personally">Critical
        Concepts</a>.
    </li>
    <li>A Decision Buddy, <strong><em>{{ decision_buddy }}</em></strong>, to support you.</li>
</ul>