{% load module_tags %}
{% get_module_badge 2 %}

<p>You have learned:</p>
<ul>
    <li>Self-awareness about the different kinds of decisions made every day.</li>
    <li>Decision Toolkit Skills: Your <span class="master_term_simple">Vision of Success</span> and <span class="master_term_simple">Critical Concepts</span>.</li>
    <li>Confidence to make better decisions.</li>
</ul>

<p>You have identified:</p>
<ul>
    <li>A decision you want to make.</li>
    <li>Your <span class="master_term_simple">Vision of Success</span> and your <span class="master_term_simple">Critical Concepts</span>.</li>
    <li>A Decision Buddy, {{ decision_buddy }}, to support you.</li>
</ul>