{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Why Might We Develop Biases?{% endblock %}{% endblock %}
{% block content %}
    <h2 class="center">
        Why Might We Develop Biases?
    </h2>
    <p>See why we need our biases? Researchers tell us we make 40,000 decisions every day!</p>
    <p><span class="master_term_simple">Biases</span> are judgements or assumptions about a person, place or thing that is often based on past experience.</p>
    <p>Our biases help us rely on what we think we know, or on the judgement of others who we like or trust.</p>
    <p>So how much did your biases impact you in the quiz?</p>

    {% get_next_btn module "Get Your Results" nav.nextUrl %}
    {% get_back_link module nav.previousUrl %}
{% endblock %}