{% extends 'modules/base/intro.html' %}

{% block pre_title %}
    <h1>Introduction to</h1>
{% endblock %}

{% block module_title %}
    <div>
        <span class="green">M</span>
        <span class="yellow">E</span>
        <span class="light-blue">N</span>
        <span class="red">T</span>
        <span class="yellow">A</span>
        <span class="light-blue">L</span>
        &nbsp;
        <span class="green">S</span>
        <span class="red">H</span>
        <span class="green">O</span>
        <span class="yellow">R</span>
        <span class="light-blue">T</span>
        <span class="red">C</span>
        <span class="green">U</span>
        <span class="yellow">T</span>
        <span class="light-blue">S</span>
    </div>
{% endblock %}

{% block module_subtitle %}
    <p>You’re Not As Open-Minded As You Think</p>
{% endblock %}