{% extends 'modules/base/map.html' %}

{% block pre_instructions %}
    <p>In Module 2 you identified a decision you need to make, your <a class="master_term" href="#" data-toggle="tooltip" data-placement="top"
                                         title="What must happen in the outcome of the decision for you to know that the decision was successful">Vision of Success</a>
        and your <a class="master_term" href="#" data-toggle="tooltip" data-placement="top"
               title="Critical Concepts are the one, two or three things that you need to solve for to get to your Vision of Success">Critical
            Concepts</a>. While
        that’s a great start, in order to problem-solve you want to be able to open your mind to new information and
        insight. Sadly, we’re not as open-minded as we think. </p>
{% endblock %}
