{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Bias{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <style type="text/css">
        label {
            font-size: large;
            border: 1px solid #dddddd;
            width: 100%;
            padding: 5px;
        }

        :checked + span {
            font-weight: bold;
        }

        td {
            margin: 3px;
            padding: 3px;
            height: 100%;
        }

        label {
            height: 100%;
        }

        #canvas {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            pointer-events: none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.perspective').click(function () {
                var unchecked = $('.perspective').not(':checked');
                if (unchecked.length < 1) {
                    $('#next_btn').show();
                    $('#more').hide();

                    /** If we want confetti:
                     $('#canvas').show();
                     StartConfetti();
                     */
                }
            });
        });

        function clickPerspectives() {
            $('#perspectives').show();
            $('#next_btn').hide();
            $('#perspectives_button').hide();
            setTimeout(function () {
                $('#more').show();
            }, 6000);
            return false;
        }
    </script>
    <script type="text/javascript" src="/static/decisions/js/confetti.js"></script>
    <canvas id="canvas"></canvas>
    <h2 class="center">Perspective Taking</h2>
    <div class="center">
        {% include 'decisions/_map.html' with top=30 left=160 %}
    </div>
    <h3>
        Nylah's going directly to the colleges to let them tell their own stories.
        That's called Perspective Taking.
    </h3>

    <p class="center" id="perspectives_button" style="margin-top: 50px;">
        <button onclick="return clickPerspectives()">
            Investigate Different Perspectives
        </button>
    </p>

    <div id="perspectives" style="display: none;">
        <h3>Why do you want to sit in someone else's perspective?</h3>
        <div style="margin-bottom: 20px;">Check all that apply.</div>
        <div>
            <label>
                <input type="checkbox" name="perspective" class="perspective"/>
                Allow the other person or organization to tell its own story
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="perspective" class="perspective"/>
                Promote empathy
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="perspective" class="perspective"/>
                Build self awareness and face your own biases
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="perspective" class="perspective"/>
                Promote understanding
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="perspective" class="perspective"/>
                Understand what motivated the person or organization
            </label>
        </div>

        <div id="more" style="display: none; margin-top: 10px;">
            <h2>Keep going - more apply...</h2>
        </div>


        <div id="next_btn" style="display: none; margin-top: 50px;">
            <h1 class="center">YES!</h1>
            <h3>
                Perspective Taking teaches you how to engage with, and learn from, others. By walking in their shoes,
                you gain distance on your own thoughts. That distance helps you be more aware and manage your own bias.
            </h3>
            <div class="center">
                <a href="nylah6">
                    <button id="next" type="button">Learn More</button>
                </a>
            </div>
        </div>
    </div>
    <a href="nylah51" id="back">Back</a>
{% endblock %}
