{% load static %}
<h3>
    <img src="{% static 'area_app/img/listener.png' %}"/>
    {% if list != 'true' %}
        You are...
    {% endif %}
    The Listener!
</h3>
<p class="quote">"For everyone of us that succeeds, it's because there's somebody there to show you the way out." -Oprah
    Winfrey</p>
<p>
    You've got a whole village of people in your life who you trust and who support you. When you are faced with a
    challenge or a decision, you know you can rely on your people. They love you, and you love them - and it means you
    always have great advice ready for you when you ask.
</p>
<h4>Strengths</h4>
<p>
    In life, there are few things more powerful than having a tight network of people who support you. As a Listener,
    your community is one of your biggest assets. You have people who you trust to help you make decisions and move
    forward in your life, and you know that you can always turn to them. That is a great position to be in. In general,
    you are a trusting person who believes in the people around you. You have no trouble
    building relationships with people and continuing to expand your network of support.
</p>
<h4>Blind Spots</h4>
<p>
    Being a Listener means that you may rely too heavily on other people to make decisions for you. Because you are
    loyal to those you trust, you can have a blind spot and make decisions based on what—or who!—you like, rather than
    on what's actually best. This is called the "liking bias." In addition because you like to listen to others, hearing
    their stories may lead you to the “narrative bias,” where you overvalue storylines and undervalue data. When you pay
    too much attention to what others are thinking and doing, you stop thinking for yourself. This "social proof bias"
    means that just do what others recommend, instead of thinking about what you actually want.
</p>
<h4>{% include "problem_solver.html" %}S Like You!</h4>
<div class="bio">

    <div class="bio col-md-4">
        <div>
            <img src="{% static 'area_app/img/archetype/mandela.jpg' %}"/>
        </div>
        <div>
            <div class="archetype-name">
            <a href="http://en.wikipedia.org/wiki/Nelson_Mandela" target="_blank">Nelson Mandela</a>
            </div>
            Anti-Apartheid Revolutionary
        </div>
    </div>

    <div class="bio col-md-4">
        <div>
            <img src="{% static 'area_app/img/archetype/gandhi.jpg' %}"/>
        </div>
        <div>
            <div class="archetype-name">
            <a href="https://en.wikipedia.org/wiki/Mahatma_Gandhi" target="_blank">Mahatma Gandhi</a>
            </div>
            Pacifist Leader of India
        </div>
    </div>

    <div class="bio col-md-4">
        <div>
            <img src="{% static 'area_app/img/archetype/oprah.jpg' %}"/>
        </div>
        <div>
            <div class="archetype-name">
            <a href="https://en.wikipedia.org/wiki/Oprah_Winfrey" target="_blank">Oprah Winfrey</a>
            </div>
            Media Personality and Icon
        </div>
    </div>

</div>
<div class="clearfix"></div>
<p>
    Why is Mahatma Gandhi a listener?
    Mahatma Gandhi was able to change India through non-violence because of his ability to listen to others and
    understand the needs of his people and their arguments. In turn his listening enabled him to be persuasive, able to
    reason and negotiate between conflicting parties, whether it was Muslims and Hindus, or between the British
    government and its Indian subjects.
</p>
