{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Finding Facts{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <script type="text/javascript" src="/static/decisions/js/jquery.flip.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".flip").flip({
                trigger: 'click'
            });

            var flipper = null;

            $(".flip").on('flip:done', function () {
                if (flipper == null) {
                    flipper = $(this);
                }
                $('.flip').each(function () {
                    if ($(this).attr('id') == flipper.attr('id')) {
                    }
                    else if ($(this).data("flip-model").isFlipped) {
                        $(this).flip(false);
                    }
                });
                setTimeout(function () {
                    flipper = null;
                }, 600);
            });
            $('.back').css('display', 'block');
        });
    </script>
    <style type="text/css">
        .reveal {
            width: 100%;
        }

        .reveal td {
            text-align: center;
            width: 30%;
            padding: 5px;
        }

        .front, .flip {
            height: 180px;
        }

        .back {
            display: none;
        }

        .back p {
            display: inline-block;
            vertical-align: middle;;
            line-height: normal;
        }

        .front h2, .back h3 {
            text-align: center;
            cursor: pointer;
        }

        .back h3 {
            padding-top: 10px;
            cursor: pointer;
        }

        .sel {
            padding-top: 10px;
            margin-top: 10px;
            padding-bottom: 10px;
            background-color: #cccccc;
            border: 2px dashed #1e2846;
        }
    </style>
    <div class="center">
        <h2 class="center">Finding Facts</h2>
        <h3>Click each box below to see {{ sample_student.name|title }} beat bias by getting facts from the websites of
            OSU and Bates.</h3>
        <table class="reveal">
            <tr>
                <td colspan="2">
                    <div class="flip" id="optimism">
                        <div class="front">
                            <h2>Is graphic design a major at each college?</h2>
                        </div>
                        <div class="back">
                            <h3>
                                OSU has three  design majors to choose from, Bates has courses but not a major.
                            </h3>
                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <div class="flip" id="projection">
                        <div class="front">
                            <h2>What courses are required to graduate?</h2>
                        </div>
                        <div class="back">
                            <h3>
                                A handful at OSU, no requirements at Bates.
                            </h3>
                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <div class="flip" id="liking">
                        <div class="front">
                            <h2>How each college helps with internships and jobs?</h2>
                        </div>
                        <div class="back">
                            <h3>
                                Both OSU and Bates have online job boards but OSU is more targeted to the career.
                            </h3>
                        </div>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    <p class="center">
    {% get_next_btn module "More Facts" nav.nextUrl %}
    </p>
    {% get_back_link module nav.previousUrl %}
{% endblock %}