{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Practicing Bias Remedies{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
        #answer0, #answer1, #answer2, #answer3 {
            height: inherit !important;
            text-transform: none !important;
            line-height: 120%;
            width: 100%;
        }

        .yes {
            color: green;
            font-size: 75px;
        }

        .no {
            color: red;
            font-size: 75px;
        }
    </style>

    <script type="text/javascript">
        var isModalOpen = false;
        var questions = [
            {% for question in questions %}
                {
                    'title': "{{ question.title }}",
                    'question': "{{ question.question|safe }}",
                    'answer0': "{{ question.answer0|safe }}",
                    'answer1': "{{ question.answer1|safe }}",
                    'answer2': "{{ question.answer2|safe }}",
                    'answer3': "{{ question.answer3|safe }}",
                    'bias_answer': "{{ question.bias_answer|safe }}",
                    'definition': "{{ question.definition|safe }}",
                    'explanation0': "{{ question.explanation0|safe }}",
                    'explanation1': "{{ question.explanation1|safe }}",
                    'explanation2': "{{ question.explanation2|safe }}",
                    'explanation3': "{{ question.explanation3|safe }}"
                {% if forloop.last %}
                    }
                {% else %}
                    },
                {% endif %}
            {% endfor %}
        ];

        var question_num = 0;
        var num_questions = questions.length;
        var animation_direction = 'left';
        var random_order = [];
        for (i = 0; i < num_questions; i++) {
            random_order.push(i);
        }

        function answer(val) {
            var question_ndx = $('#question_index').text();
            // What should the answer be?
            var expected = questions[question_ndx]['bias_answer'];
            var explanation = questions[question_ndx]['explanation' + val];

            // Store the answer regardless of whether it was right or wrong
            $('#answer_' + question_ndx).val(val);

            if (expected == val) {
                explanation = questions[question_ndx]['explanation' + expected];
                showModal('&#10003;', 'yes', explanation);

                // Show next question
                question_num++;
                return next_question();
            } else {
                showModal('&#10008;', 'no', explanation);
                return false;
            }
        }

        function next_question() {
            $('#game').css('position', 'absolute');
            console.log("question_num: " + question_num + " num_questions:" + num_questions);

            if (question_num >= num_questions) {
                console.log("Done with all questions. Form submit");
                if (!isModalOpen) {
                    $('form:last').submit();
                    return true;
                }
                return false;
            }

            if (animation_direction == 'right') {
                animation_direction = 'left';
            } else {
                animation_direction = 'right';
            }
            var question_index = random_order[question_num];
            $('#question_index').text(question_index);
            var display_num = question_num;
            display_num++;

            $('#question').text(questions[question_index]['question']);
            $('#definition').text(questions[question_index]['definition']);

            if (animation_direction == 'right') {
                $('#game').css('left', '60%');
                $('#game').animate({'left': '30%'}, function () {
                    $('#game').css('position', 'inherit');
                });
            } else {
                $('#game').css('left', '0%');
                $('#game').animate({'left': '30%'}, function () {
                    $('#game').css('position', 'inherit');
                });
            }
            return false;
        }

        function showModal(checkIcon, className, message) {
            $('#checkIcon').html(checkIcon);
            $('#checkIcon').attr('class', className);
            $('#message').html(message);
            $('.modal').css('display', 'block');

            isModalOpen = true;
        }

        $(document).ready(function () {
            $('#game').width($('h2').width());
            next_question(false);

            $('#closeBtn').click(function () {
                if (question_num >= num_questions) {
                    $('form:last').submit();
                    return true;
                } else {
                    /* Hide modal */
                    $('.modal').css('display', 'none');
                    isModalOpen = false;
                    return false;
                }
            });
        });
    </script>

    <h2 class="center">Practicing Bias Remedies</h2>

    <div class="modal">
        <div class="modal-content">
            <p><span id="checkIcon" style="font-size: 75px;"></span><span id="message"></span></p>
            <p class="center">
                <button id="closeBtn">Click to Close</button>
            </p>
        </div>
    </div>

    <div style="height: 500px; margin-top: 30px;">
        <p>Below is a statement that beats <span id="definition"></span></p>
        <div id="game" style="position: absolute; font-size: 24px; text-align: center; overflow: visible">
            <div id="question_wrapper">
                <div id="question" style="font-weight: bold; text-align: center"></div>
                <span id="question_index" style="display: none"></span>
                <p style="text-align: left;">How does it work? From the Bias Remedies below choose which action corresponds with the statement above.</p>
                <div id="answers" style="margin-left: 5%; margin-top: 20px;">
                    <button onclick="$(this).blur(); return answer('0');" id="answer0">Be more conscious and aware of your actions</button>
                    <div>&nbsp;</div>
                    <button onclick="$(this).blur(); return answer('1');" id="answer1">Check for facts</button>
                    <div>&nbsp;</div>
                    <button onclick="$(this).blur(); return answer('2');" id="answer2">Get a second opinion</button>
                    <div>&nbsp;</div>
                    <button onclick="$(this).blur(); return answer('3');" id="answer3">Get feedback on your strengths and blind spots</button>
                </div>
            </div>
        </div>
    </div>

    {% for question in questions %}
        <input type="hidden" name="answer[{{ forloop.counter0 }}]" id="answer_{{ forloop.counter }}" value=""/>
    {% endfor %}

    <div class="center">
        <button id="next" type="button" style="display: none;"><a href="{{ nav.nextUrl }}">You Got Them All!</a></button>
    </div>
    {% get_back_link module nav.previousUrl %}
{% endblock %}
