{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - What are the Upsides/Downsides?
{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
        #next {
            display: none;
        }

        .results {
            font-size: 1.5em;
            padding: 10px 0px 30px 0px;
        }
    </style>

    <h2 class="center">
        What are the Upsides/Downsides?
    </h2>
    <p>Here are a few of the statements from the quiz you just took. Read how bias has an upside and a downside by
        clicking on both buttons.</p>

    <div id="upsideDownside1">
        <h3 id="question1">When you go down the cereal aisle, you automatically look for the cereal you want</h3>
        <div id="results1" class="results"></div>

        <div class="center">
            <button id="upsideBtn1"
                    onclick="showNext(1, '#upsideDownside2', 'Upside: Help you get what you want quickly'); return false;">
                Upside
            </button>
            <span style="padding-left: 30px;"></span>
            <button id="downsideBtn1" onclick="showNext(1, '#upsideDownside2', 'Downside: Don’t see all of the choices in the aisle'); return false;">Downside</button>
        </div>
    </div>

    <div id="upsideDownside2">
        <h3 id="question2">When you head to school in the morning you don’t even think about the route you’ll take</h3>
        <div id="results2" class="results"></div>

        <div class="center">
            <button id="upsideBtn2"
                    onclick="showNext(2, '#upsideDownside3', 'Upside: Knowing the route you can use the time to think about other things'); return false;">
                Upside
            </button>
            <span style="padding-left: 30px;"></span>
            <button id="downsideBtn2" onclick="showNext(2, '#upsideDownside3', 'Downside: Don\'t fully notice your environment'); return false;">Downside</button>
        </div>
    </div>

    <div id="upsideDownside3">
        <h3 id="question3">If you just passed your driver’s license test you think you’re a good driver</h3>
        <div id="results3" class="results"></div>

        <div class="center">
            <button id="upsideBtn3" onclick="showNext(3, '#next', 'Upside: You understand and have been tested on the rules of the road'); return false;">Upside</button>
            <span style="padding-left: 30px;"></span>
            <button id="downsideBtn3"
                    onclick="showNext(3, '#next', 'Downside: Overconfidence can be dangerous'); return false;">Downside
            </button>
        </div>
    </div>

    <script type="text/javascript">
        var fadeInMs = 2000;
        var fadeOutMs = 1000;
        function showNext(id, nextId, msg) {
            // Show the message
            $('#results' + id).text(msg);

            // Show the next item
            $(nextId).show();
        }
    </script>

    {% get_next_btn module "Bias Remedies" nav.nextUrl %}
    {% get_back_link module nav.previousUrl %}
{% endblock %}