{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Bias Remedies
{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
    #next {
        display: none;
    }
    </style>


    <h2 class="center">
        Bias Remedies
    </h2>
    <p>Since biases only serve you well sometimes let’s take this question from your earlier quizzes and consider how to keep them from blocking you. </p>

    <p>You just passed your driver’s license tes and you think you’re a good driver</p>

    <p>Which of the five bias remedies might you apply to check your assumption?</p>

    <div id="why_options">
        {% for remedy in module.get_bias_remedies %}
            <div>
                <label>
                    <input type="checkbox" name="remedy[]" value="{{ forloop.counter0 }}"/> {{ remedy.key }}
                </label>

            </div>
        {% endfor %}
    </div>

    <div id="bias_remedies"></div>

    <script type="text/javascript">
        var keys = [
            {% for remedy in module.get_bias_remedies %}
                "{{ remedy.key }}",
            {% endfor %}
        ];

        var comments = [
            {% for remedy in module.get_bias_remedies %}
                "{{ remedy.comment }}",
            {% endfor %}
        ];

        $(document).ready(function () {
            function refresh_list() {
                var clicked = 0;
                var buffer = "<h3>Bias Remedies</h3><ul>";
                $("input[name='remedy[]']:checked").each(function () {
                    var val = $(this).val();
                    buffer += '<li>' + keys[val] + '</li>';
                    clicked++;
                });
                buffer += "</ul>";
                $('#bias_remedies').html(buffer);

                if (clicked == keys.length) {
                    $('#next').show();
                }
            }

            $('input[type=checkbox]').change(function() {
               if ($(this).is(':checked')) {
                   var val = $(this).val();
                   alert(comments[val]);
               }

               refresh_list();
            });
        });
    </script>

    {% get_next_btn module "Cheetah Pause" nav.nextUrl %}
    {% get_back_link module nav.previousUrl %}
{% endblock %}