{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Edit Critical Concepts{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h2 class="center">
        Update Critical Concepts
    </h2>
    <h3>
        From Module 1, your decision is: "{{ decision }}"
    </h3>

    <h3>Update Your Critical Concepts:</h3>
    <table class="table" style="width: 60%; margin-left: 20%; margin-top: 50px;">
        <tbody>
        <tr>
            <td>1.</td>
            <td><input type="text" name="cc[]" class="cc" value="{{ cc.0 }}" size="50"/></td>
        </tr>
        <tr>
            <td>2.</td>
            <td><input type="text" name="cc[]" class="cc" value="{{ cc.1 }}" size="50"/></td>
        </tr>
        <tr>
            <td>3.</td>
            <td><input type="text" name="cc[]" class="cc" value="{{ cc.2 }}" size="50"/></td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
        </tr>
        </tbody>
    </table>

    <div class="center space">
        <button type="button" onclick="$(this).form().submit();">Update Critical Concepts</button>
    </div>
    <a href="steps2" id="back">Back</a>
{% endblock %}
