{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Explanation{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
    .main div {
        margin-top: 20px;
    }
    #canvas {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        pointer-events: none;
    }
    </style>
    <script type="text/javascript" src="/static/decisions/js/confetti.js"></script>
    <canvas id="canvas"></canvas>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.low').click(function(){
            var title = $(this).text();
            $(this).text('Too Low!');
            return false;
        });
        $('.yes').click(function(){
            var title = $(this).text();
            $(this).text('Yes!');
            $('#canvas').show();
            StartConfetti();
            $('#next').show();
            return false;
        });
    });
    </script>
    <div class="center">
    {% include 'decisions/_map.html' with top=20 left=250 %}
        <h3>
            Why might we develop biases?
        </h3>
        <h3>
            Guess how many decisions researchers tell us we make in a single day?
        </h3>

        <div><button class="low">500</button></div>
        <div><button class="low">15,000</button></div>
        <div><button class="yes">40,000</button></div>

        <div>
            <button id="next" type="button" style="display: none;"><a href="bias">Learn More</a></button>
        </div>
    </div>
    <a href="game_end" id="back">Back</a>
{% endblock %}
