{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Game 2 Introduction{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h2 class="center">
        Bias In Action!
    </h2>
    <div class="center" style="margin: 50px;">
    </div>
    <h3>
        Now that you've matched each definition to it bias, can you match the quiz scenario to the bias they
        refer to?
    </h3>
    <h3>
        If you get it right, it will flash in green.  If not, it will flash red and you'll be asked it again later.
    </h3>
    <div class="center start">
        <button id="next" type="button"><a href="game2">Spot Bias!</a></button>
    </div>
    <a href="game_results" id="back">Back</a>
{% endblock %}
