{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Cognitive Biases{% endblock %}{% endblock %}
{% block content %}
    <p>
        We're very good at fooling ourselves into believing that we can avoid biases.
        Take this quiz and test yourself!
    </p>
    <p class="directions">
        Answer each of the following questions based on what you would do!
        Look for an image of a door to <i>walk</i> through and click that to move on!
    </p>
    <p class="center start">
        <button id="next" type="button"><a href="#" onclick="return countdown()">Test Your Assumptions</a></button>
    </p>
    <a href="/decisions/1" id="back">Back</a>
    <div style="display: none; background: rgba(54, 25, 25, .8); height: 100%; width: 100%; position: fixed; top: 0; left: 0; float: right; z-index: 99; text-align: center; padding-top: 40%"
         id="timer">
        <div style="font-size: 256px; color: #f6653c" id="time">3</div>
    </div>

    <script type="text/javascript">
        function countdown() {
            $('#timer').show()
            var timeleft = 3;
            var downloadTimer = setInterval(function () {
                timeleft--;
                $("#time").text(timeleft);
                if (timeleft <= 0) {
                    clearInterval(downloadTimer);
                    window.location.href='game';
                }
            }, 1000);
            return false;
        }
    </script>
{% endblock %}
