{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}AREA Method Module 2 - Cognitive Bias, You're Not As Open Minded As You Think
{% endblock %}{% endblock %}
{% block content %}
    <div class="center">
    {% include 'decisions/_map.html' with top=20 left=250 %}
    </div>
    <h3>
        There is nothing higher stakes that we do each day than make choices.
        You have started on your journey to make your big decisions better.
    </h3>
    <h3>
        Module 2 introduces you to cognitive bias, the mental shortcuts we all rely on but that don't go away when
        solving complex problems.
    </h3>
    <div class="start">
        <p class="center">
            <button id="next" type="button"><a href="2/instructions">I'm Ready to Make Big Decisions Better!</a></button>
        </p>
    </div>
    <a href="/decisions" id="back">Back</a>
{% endblock %}
