{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}AREA Method Modules{% endblock %}{% endblock %}
{% block content %}
    <h3>AREA Method Modules</h3>
    <p>“The quality of your decisions determines the quality of your life”</p>
    <p>With this app you will learn how to make your big decisions better!</p>
    <p>TODO - more description / introduction to the course</p>
    <p><a href="1">Module 1 - Introduction to Decision Making</a></p>
    <p><a href="2">Module 2 - Cognitive Bias, You’re Not As Open Minded As You Think</a></p>
{% endblock %}
