{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Managing Mental Shortcuts{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h3>
        Making sense of all these biases may be overwhelming - but don't worry!
        Learn to manage mental shortcuts.
    </h3>
    <div class="center">
        <img src="/static/decisions/img/nylah.png" style="height: 200px;"/>
        <img src="/static/decisions/img/bubble.png" style="height: 80px; margin-left: -160px; margin-top: -130px;"/>
    </div>
    <h3>
        How does Nylah manage for mental shortcuts when deciding about college?
    </h3>
    <div class="center start">
        <button id="next" type="button"><a href="nylah2">What would Nylah do?</a></button>
    </div>
    <a href="game_results" id="back">Back</a>
{% endblock %}
