{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Facts Versus Opinions{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h2 class="center">
        Facts Beat Bias
    </h2>

    <h3>
    Both facts and opinions have value but by checking for facts first, you can weigh the opinions against the facts. If, you collect opinions first, it may bias how you interpret the facts.
    </h3>

    <div class="center" style="margin-top: 50px;">
        <a href="nylah51" class="start">
            <button type="button" id="next">Where Can I Find Facts?</button>
        </a>
    </div>
        &nbsp;
    <a href="nylah4" id="back">Back</a>
{% endblock %}
