{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Bias{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <style type="text/css">
        #facts_options div {
            margin-bottom: 10px;
        }

        label {
            font-size: large;
            border: 1px solid #dddddd;
            width: 100%;
            padding: 5px;
        }

        :checked + span {
            font-weight: bold;
        }

        td {
            margin: 3px;
            padding: 3px;
        }
    </style>

    <h2 class="center">
        Nylah's Facts
    </h2>

    <h3>
        Nylah's sources here will be the school websites for Bates and Ohio State.
    </h3>

    <div>
        <h3 style="margin-top: 20px;">
            What other kinds of facts and figures might Nylah search for?
            Choose below the information you think Nylah will find helpful:
        </h3>

        <tr id="facts_options" style="margin-top:20px;">
        <table width="100%">
            {% for option_list in facts %}
                <tr>
                {% for option in option_list %}
                <td>
                    <label>
                        <input type="checkbox" name="facts[]" value="{{ option }}"/>
                        <span> {{ option }}</span>
                    </label>
                </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        </div>

        <div class="center">
            <button type="submit">Submit</button>
        </div>

    </div>

    <a href="nylah5" id="back">Back</a>
{% endblock %}
