{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Nylah's Facts{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <style type="text/css">
        label {
            font-size: large;
            border: 1px solid #dddddd;
            width: 100%;
            padding: 5px;
        }

        :checked + span {
            font-weight: bold;
        }

        td {
            margin: 3px;
            padding: 3px;
            height: 100%;
        }

        label {
            height: 100%;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.perspective').click(function () {
                var unchecked = $('.perspective').not(':checked');
                if (unchecked.length < 1) {
                    $('#next_btn').show();
                    $('#more').hide();
                }
            });
        });

        function clickPerspectives()
        {
            $('#perspectives').show();
            $('#next_btn').hide();
            $('#perspectives_button').hide();
            setTimeout(function(){$('#more').show();}, 6000);
            return false;
        }
    </script>
    <h2 class="center">Nylah's Facts</h2>
    <h3>For "I'm able to afford it," which are facts Nylah might have found?</h3>

    <p class="center" id="perspectives_button" style="margin-top: 50px;">
        <button onclick="return clickPerspectives()">
            Show potential facts
        </button>
    </p>

    <div id="perspectives" style="display: none;">
        <div style="margin-bottom: 20px;">Check all that apply.</div>
        <div>
            <label>
                <input type="checkbox" name="perspective" class="perspective"/>
                Fact 1
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="perspective" class="perspective"/>
                Fact 2
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="perspective" class="perspective"/>
                Fact 3
            </label>
        </div>

        <div id="more" style="display: none; margin-top: 10px;">
            <h2>Keep going - all of them are facts!</h2>
        </div>


    <div class="center" id="next_btn" style="display: none; margin-top: 30px;">
        <a href="nylah_cc_assumptions">
            <button id="next" type="button">What Else Does Nylah Need?</button>
        </a>
    </div>

    <a href="nylah_cc" id="back">Back</a>
{% endblock %}
