{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Review{% endblock %}{% endblock %}
{% block content %}

    <h1 class="center">
        Review: Critical Concepts
    </h1>

    <div class="center">
            <img src="/static/decisions/img/Module1_badge.png" />
    </div>
    <h3 class="center">
        You are learning:
    </h3>

    <h3>
        <div>&bull; Every day we make a lot of decisions.</div>
        <div>&bull; Some easy decisions are hard and some hard decisions are easy.</div>
        <div>&bull; The AREA Method can help you make big decisions better.</div>
        <div>&bull; AREA Method begins by identifying Critical Concepts.</div>
    </h3>

    <h3 class="center">You have identified:</h3>

    <h3>
        <div>&bull; A decision you want to make.</div>
        <div>&bull; What matters to you in the outcome: your Critical Concepts.</div>
    </h3>

    <h3 class="center">You have completed:</h3>

    <h3>
        <div>&bull; Questions to begin your AREA journey.</div>
    </h3>

    <div class="center">
        <button id="next" type="button"><a href="/decisions/2/map">On to Module 2</a></button>
    </div>

    <a href="commitment" id="back">Back</a>
{% endblock %}
