{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Moving into Action{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h2 class="center">
    Cheetah Sheet:<br/> Your Critical Concepts and the Facts
    </h2>
    <h3>
        From Module 1, your decision was: "{{ decision }}"
    </h3>
    
    <h2>Your Vision of Success (Critical Concepts)</h2>
    {% for concept in cc %}
        <h3>&bull; {{ concept }}</h3>
    {% endfor %}

    <div class="center start2 space">
        <button type="button"><a href="steps3">Let's Provide Evidence</a></button>
    </div>
    <a href="nylah8" id="back">Back</a>
{% endblock %}
