{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Moving into Action{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <h3>
        Now it's your turn! Here you are starting out on your decision journey to make big decisions better with
        The AREA Method.
    </h3>
    <h3>
        You're already turning your approach to decision making upside down - instead of asking yourself
        <i>How do I solve my problem?</i> you are focusing on what success actually looks like!
    </h3>
    <h3>
        Telling the story of your success builds:
        <ul>
            <li>Self awareness as a decision-maker</li>
            <li>Empathy and understanding for how others make decisions</li>
            <li>A personalized decision-making process</li>
            <li>Self confidence in the decisions you make</li>
            <li>Conviction that you are capable of finding the best path to success
                and making the decisions to get you there</li>
        </ul>
    </h3>
    <div class="center start2 space">
        <button type="button"><a href="steps2">Let's Go!</a></button>
    </div>
    <a href="nylah8" id="back">Back</a>
{% endblock %}
