{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module 2 - Summary{% endblock %}{% endblock %}
{% block content %}

    <div class="center">

    {% include 'decisions/_map.html' with top=90 left=70 %}

    <h1 class="center">Module 2 Complete!</h1>

    <h3 class="center">
        Congratulations! You received the Module 2 badge!
    </h3>

        <img src="/static/decisions/img/Module2_badge.png" />

        <h3>You have learned:</h3>
    </div>

    <h3>
        <div>&bull; What is bias.</div>
        <div>&bull; Why we need it.</div>
        <div>&bull; What are some examples of bias.</div>
        <div>&bull; How I may spot bias and undo it, by learning the difference between hard evidence and my own assumptions.</div>
        <div>&bull; How to apply these lessons to a challenge: my own big decisions.</div>
    </h3>

    <div class="center">
        <button id="next" type="button"><a href="/decisions">Modules List</a></button>
    </div>

    <a href="commitment" id="back">Back</a>
{% endblock %}
