@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif !important;
    line-height: 220%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

@media screen and (max-width: 750px) {
    .logo {
        width: 243px;
        height: 42px;
    }

    .progre img {
        width: 222px;
        height: 8px;
    }

    p, ul, ul li {
        font-size: 13px;
        line-height: 19px;
        font-family: 'Open Sans', sans-serif;
        color: #495057
    }

    .face {
        width: 200px;
        height: 45px;
    }

    .creat {
        background-color: #3d5b9b;
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
        width: 200px;
        height: 45px;
        padding-top: 12px
    }

    .creat a {
        color: #fff;
    }

    .footer div {
        margin-top: -30px;
    }

    /*DECISION*/
    h2 {
        font-size: 26px;
        font-weight: bold;
        color: #3d96ff
    }

    h3 {
        font-size: 13px;
        font-weight: bold;
        color: #3d96ff;
    }

    .info {
        margin-top: -10px;
        margin-left: 10px;
        color: #9adae5;
        font-size: 16px;
    }

    .btnv {
        background-color: #3d5b9b;
        color: #FFFFFF;
        margin: 15px 0;
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
        width: 150px;
        min-height: 45px;
        border: none;
        text-align: center;
        padding-top: 6px;
        cursor: pointer;
    }

    .btnv:hover {
        color: #fff;
        background-color: #ff730a;
    }

    .btnv.active {
        background-color: #00dddb;
    }

    .btnv input {
        color: #bbedf9;
        font-size: 18px;
        text-align: center;
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }

    .boeder {
        border-bottom: #bbedf9 solid 1px;
    }

    .inpu {
        width: 100%;
        border: #bbedf9 solid 1px;
        padding: 15px;
    }

    .decide {
        background-color: #3d5b9b;
        color: #FFFFFF;
        border: none;
        margin: 5px 0;
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
        width: 135px;
        height: 45px;
    }

    .back_btn {
        color: #00dddb;
        background-color: #fff;
        margin: 15px 0;
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
        width: 135px;
        border: #00dddb solid 2px;
        height: 45px;
    }

    .back_btn:hover {
        color: #000;
        background: none !important;
    }

    .back_btn:focus {
        background: none !important;
    }

    .con_btn {
        color: #fff;
        background-color: #00dddb;
        margin: 15px 0;
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
        width: 135px;
        border: #00dddb solid 2px;
        height: 45px;
    }

    .con_btn:hover {
        color: #000;
        background: #00dddb !important;
    }

    .list {
        font-size: 13px !important;
        line-height: 19px !important;
        font-family: 'Open Sans', sans-serif;
        color: #495057;
        padding: 0;
    }

    .list ul li {
        padding-left: 20px !important;
    }

    .list1 ul li {
        padding-left: 40px !important;
        background-image: url(../img/li.png);
        background-repeat: no-repeat;
        background-position: 10px 20px;
    }

    .modal-body {
        padding: 0;
    }

    .modal-content {
        border-radius: 0 !important;
    }

    .modal-footer {
        border-top: 0;
    }

    .succ {
        background-color: #3d96ff;
        width: 320px;
        height: 270px;
        padding-top: 80px;
        color: #fff;
    }

    .succ p {
        color: #fff
    }

    .succ button {
        border: #fff solid 2px;
        background: none;
        color: #fff;
        width: 80px;
        height: 35px;
        border-radius: 4px;
        margin: 0 4px
    }

    .socil img {
        width: 44px;
        height: 44px;
        margin-left: 10px;
    }

    .panel-title {
        font-size: 13px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        color: #3d96ff
    }

    .np {
        padding: 0;
    }

    .sheet {
        border: #bbedf9 solid 1px;
    }

    .sheet ol {
        padding-left: 18px;
    }

    .sheet ol li {
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        color: #495057;
        padding-left: 0px;
        counter-increment: list;
        list-style: none;
        text-indent: -16px;
    }

    .sheet ol li:before {
        content: counter(list) ". ";
        counter-increment: item;
        color: #3d96ff;
        font-size: 16px;
        font-weight: bold;
    }
}

@media screen and (min-width: 760px) {
    .container {
        width: 650px;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }

    p, ul, ul li {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        color: #495057
    }

    .face {
        width: 200px;
        height: 45px;
    }

    .creat {
        background-color: #3d5b9b;
        border-radius: 4px;
        padding: 20px 0;
    }

    .creat {
        background-color: #3d5b9b;
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
        width: 200px;
        height: 45px;
        padding-top: 8px
    }

    .creat a {
        color: #fff;
    }

    /*DECISION*/
    h2 {
        font-size: 40px;
        font-weight: bold;
        color: #3d96ff
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        color: #3d96ff;
    }

    .btnv {
        background-color: #3d5b9b;
        color: #FFFFFF;
        margin: 15px 0;
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
        width: 200px;
        border: none;
        height: 45px;
        text-align: center;
        padding-top: 6px;
        cursor: pointer;
    }

    .btnv:hover {
        color: #fff;
        background-color: #ff730a;
    }

    .btnv.active {
        background-color: #00dddb;
    }

    .btnv input {
        color: #bbedf9;
        font-size: 18px;
        text-align: center;
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }

    .info {
        margin-top: -10px;
        margin-left: 40px;
        color: #9adae5;
        font-size: 16px;
    }

    .boeder {
        border-bottom: #bbedf9 solid 1px;
    }

    .inpu {
        width: 100%;
        border: #bbedf9 solid 1px;
        padding: 15px;
    }

    .decide {
        background-color: #3d5b9b;
        color: #FFFFFF;
        margin: 5px 0;
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
        width: 200px;
        border: none;
        height: 45px;
    }

    .back_btn {
        color: #00dddb;
        background-color: #fff;
        margin: 15px 0;
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
        width: 200px;
        border: #00dddb solid 2px;
        height: 55px;
    }

    .back_btn:hover {
        color: #000;
        background: none !important;
    }

    .back_btn:focus {
        background: none !important;
    }

    .con_btn {
        color: #fff;
        background-color: #00dddb;
        margin: 15px 0;
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
        width: 200px;
        border: #00dddb solid 2px;
        height: 55px;
    }

    .con_btn:hover {
        color: #000;
        background: #00dddb !important;
    }

    .modal-footer {
        border-top: 0;
    }

    .list1 ul li {
        padding-left: 40px !important;
        background-image: url(../img/li.png);
        background-repeat: no-repeat;
        background-position: 10px 20px;
    }

    .succ {
        background-color: #3d96ff;
        height: 270px;
        padding-top: 60px;
    }

    .succ p {
        color: #fff
    }

    .succ button {
        border: #fff solid 2px;
        background: none;
        color: #fff;
        width: 80px;
        height: 35px;
        border-radius: 4px;
        margin: 0 10px
    }

    .socil img {
        width: 44px;
        height: 44px;
    }

    .panel-title {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        color: #3d96ff
    }

    .sheet {
        border: #bbedf9 solid 1px;
    }

    .sheet ol li {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        color: #495057;
        counter-increment: list;
        list-style: none;
        text-indent: -16px;
    }

    .sheet ol li:before {
        content: counter(list) ". ";
        counter-increment: item;
        color: #3d96ff;
    }

    .dis_p {
        padding: 0px !important;
    }
}

.info_cat {
    width: 26px;
    height: 26px;
}

.pro {
    background-color: #3d96ff;
    width: 84px;
    height: 84px;
    border-radius: 50%;
}

::-webkit-input-placeholder {
    color: #9adae5;
}

.list {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #495057;
}

.list ul {
    padding: 0;
    margin: 0;
}

.list ul li {
    list-style: none;
    border-top: #bbedf9 solid 1px;
    padding: 15px 0;
}

.succ button:hover {
    background-color: #fff;
    color: #3d96ff;
}

button:hover {
    background-color: #ff730a;
}

button:focus {
    background-color: #00dddb !important;
}

.panel {
    -webkit-box-shadow: none !important;
    border-radius: 0;
    border-left: none !important;
    border-right: none !important;
    border: #bbedf9 solid 1px;
}

.panel-default > .panel-heading {
    background: none !important;
    border: none !important;
    color: #495057;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: #bbedf9 solid 1px;
    /* background-color: #e0f9ff; */
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #3d96ff;
    font-size: 18px;
    margin-top: 12px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #3d96ff;
}

.q {
    display: none;
}

h3 {
    font-size: large;
}

h4 {
    font-size: x-large !important;
}

.bio {
    margin-bottom: 20px;
    text-align: center;
    font-size: large;
}

.bio img {
    height: 120px;
}

.bio div:first-child {
    text-align: center;
}

.quote {
    color: #ff730a;
}

.header {
    padding-top: 20px;
}

.progre {
    padding: 20px 0 0 0;
}

.footer {
    background-color: #676767;
    color: #cccccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a {
    color: #ddddff;
}

.archetype-name {
    font-size: large;
}

h3 img {
    height: 80px;
    margin-right: 20px;
}

#psp h3 {
    font-size: xx-large;
}

ol ol {
    list-style-type: lower-alpha;
}

.inpu {
    color: #ff730a;
}