<p>
    We all come up with explanations for why something should or should not happen. We call these explanations
    'hypotheses' and sometimes they are true and sometimes they aren't. But how can we tell and make sure that we are
    not making a decision based upon a guess? This exercise can help. It asks you to lay out all of your hypotheses and
    then systematically consider whether or not you have facts to support them to keep from succumbing to bias.
    Note that this exercise doesn't just focus on a favored hypothesis. By laying them all out, you will be able to see
    that some facts can support more than one hypothesis, and therefore those facts may not be as useful as initially
    expected. Look for the hypothesis that has the least evidence against it, not the one with the most evidence for it.
</p>
<ol>
    <li>
        Write down all of your hypotheses about your decision.
    </li>
    <li>
        Make a list of significant facts and arguments for and against each hypothesis.
    </li>
    <li>
        Prepare a chart with hypotheses across the top and the facts down the side and analyze them.
    </li>
    <li>
        Delete evidence and hypotheses that don't make sense and consider how likely each hypothesis is. Again focus on
        the hypothesis that has the least evidence against it.
    </li>
    <li>
        Consider the consequences for your decision if that evidence were wrong, misleading, or subject to a different
        interpretation.
    </li>
    <li>
        Study your conclusions and consider what other work needs to be done to make your decision.
    </li>
</ol>
<p>
    By completing this exercise you are clearly laying out your assumptions and testing whether or not they are
    supported by evidence. You can use your results to guide future research, and analysis to resolve the uncertainty
    around your decision and increase your confidence that you are making an accurate judgment.
</p>