<ol>
    <li> Phone companies. Many have translation calling services, which are very helpful if your target speaks a foreign
        language, as many of John's did.
    </li>
    <li> Freelance reporters. They can help with finding sources and/or conducting interviews. Look on websites such as
        <a href="http://Journalismjobs.com" target="_blank">Journalismjobs.com</a> or
        <a href="http://MediaBistro.com" target="_blank">MediaBistro.com</a>.
    </li>
    <li> Librarians
    </li>
</ol>