<p>
    When confronted with a decision your natural inclination is look to the people around you to talk to about the
    problem you face. AREA inverts the process so that you begin by considering what answers you need to make your
    decision and what types of questions will get you there. It guides you to identify the best people and to formulate
    optimal questions to suss out those answers.
    When you take GP (Good Prospects, or the people you interview) + GQ (Great Questions), you get IQ (Interview
    Quality). So just remember = GP + GQ = IQ.
</p>
<ol>
    <li>
        Consider: What kind of <i>answers</i> do I need? Be targeted on what your vision of a successful outcome would
        be for your decision. Then ask yourself:
        <ol>
            <li>
                What do I want to find out and why?
            </li>
            <li>
                What difference would that information make?
            </li>
        </ol>
    </li>
    <li>
        Consider: How do I expect to use the information I gather? How will it help me make my decision? You want
        answers that help you move forward.
    </li>
    <li>
        Once you are settled on what you want to know, think about what kind of a response you want to elicit. There are
        four major kinds of questions that are commonly asked:
        <ol>
            <li>
                Behavior Questions - what someone does or has done. These kinds of questions will yield descriptions of
                actual experiences, activities, and actions.
            </li>
            <li>
                Opinion Questions - what someone thinks about a topic, action, or event. These questions tell us about
                people’s goals, intentions, desires and values.
            </li>
            <li>
                Feeling Questions - how someone responds emotionally to a topic. These questions elicit information
                about the emotional responses of people to their experiences and thoughts.
            </li>
            <li>
                Knowledge Questions - to find out what factual information the respondent has. These are things that one
                knows about the research target and your Critical Concept’s. While you may argue that all knowledge is a
                set of beliefs rather than facts, the issue here is to find out what the person being questioned
                considers to be factual.
            </li>
        </ol>
    </li>
    <li>
        Now identify Good Prospects. Make a list of the people you know who are best suited to provide you with
        information. Then ask them about the people <i>they</i> know so that you can go outside your easy circle of
        support to get to the best advice-givers.
    </li>
</ol>
<p>
    Now that you've nailed the Interview Formula, write out your questions, reach out to the people on your list and ask
    them if they could connect with you in person, over the phone or via email. With these good Interview Prospects and
    Great Questions, you can be sure to get actionable information.
</p>