<p>
    Back in 1772, Benjamin Franklin was helping his friend solve a problem. He told his friend to make a list of the
    benefits and the risks of the options he had in front of him. Over 200 years later, we're still using "pro" and
    "con" lists to make decisions. In this Problem Solver, you'll look at both sides of your options before making a
    decision.
</p>
<ol>
    <li>
        On a piece of paper or in a blank document, write down the three or four most viable options you have for your
        decision.
    </li>
    <li>
        Now, grab a fresh piece of paper or document. On the top, write down one of your options. Then, write "Pro" on
        one half of the page, and "Con" on the other half of the page.
    </li>
    <li>
        Next, you want to ask yourself this question: "Should I pick this option?" In the "Pro" side of the page, make a
        list of all of the really specific, evidence-based reasons why you <i>should</i> pick that option.
    </li>
    <li>
        On the "Con" side of the page, make a list of all of the really specific, evidence-based reasons why you should
        not pick that option. Don't judge or edit yourself, you want to think about all of the reasons that make this
        decision a good one and a bad one.
    </li>
    <li>
        Repeat steps 2-4 for all of your options.
    </li>
    <li>
        Then, lay all your lists out. Do some options have more Pros than Cons? Which option seems to have the most
        benefits? Are there Pros or Cons that are more meaningful to you than others? Which option uniquely solves for
        what you consider to be a successful outcome?
    </li>
</ol>
<p>
    Once you've made and compared your lists, you can pick a decision based on careful thinking and considering all the
    options. With Pro-Con lists, you take the guessing out of making a decision and use evidence instead!
</p>