<p>
    The Scenario Analysis is a risk-assessment technique that does not try to show one exact picture of the future but
    instead, consciously presents several alternative future developments or key factors that would affect a decision.
    It is not predictive, but meant to manage uncertainty. Scenario Analysis is about understanding the magnitude of
    possible outcomes and the risks involved. First, you’re going to imagine what would happen if the decision you make
    goes perfectly: It's all upside. Then, you’re going to imagine what would happen if the decision you make is a total
    disaster. Third you are going to imagine the base case, where some things go well, but others don't. By exploring
    all three options, you'll be able to see what steps you should take—and what to avoid—to get what you want. Are you
    ready?
</p>
<ol>
    <li>
        We're going to start with the option where your decision goes perfectly. Describe the perfect result.
    </li>
    <li>
        Now think about the kinds of things that happened to get you there. What are the <i>reasons</i> you got to this
        result?
        Write those down.
    </li>
    <li>
        Now, think about the whole story. What happened first? What happened next? Create the complete story of the
        steps you took to arrive at the perfect ending. Record this!
    </li>
    <li>
        Once you've finished the perfect story, it's time to figure out the failure story. Describe what failure would
        look like for your decision.
    </li>
    <li>
        Now, think about the kinds of things that happened to make your decision result in failure. What are the <i>reasons</i>
        you got to this result? Write those down.
    </li>
    <li>
        Next, think about the whole story. What happened first? What happened next? Create the complete story of the
        steps you took that made your decision result in failure. Record this!
    </li>
    <li>
        Now the base case: steps 1-3 but with some things going right and others going wrong.
    </li>
    <li>
        Now you have three stories—one where everything goes right, one where everything goes wrong and a base case.
        Using your story of the base case, think about what is most likely to go right and what is most likely to go
        wrong.
    </li>
    <li>
        Come up with three steps that you can take to avoid the bad and maximize the likelihood that the story where
        everything goes right is the story of your decision.
    </li>
</ol>
<p>
    By applying this Cheetah Sheet, you can identify some of the risks and opportunities that you will face when you're
    making this decision. You can see the potholes in the road before you hit them so that make mistakes before you make
    them.
</p>