<p>
    In this Problem Solver, you're going to imagine two different results for your decision. First, you're going to
    imagine what would happen if the decision you make goes perfectly. Then, you're going to imagine what would happen
    if the decision you make is a total disaster. By exploring both options, you'll be able to see what steps you should
    take—and what to avoid—to get what you want. Are you ready?
</p>
<p style="font-weight: bolder">
    Problem Solver Tip: Try take notes on your story on post its first, then using your phone to make a video about each
    option.
</p>
<ol>
    <li>
        We're going to start with the option where you're decision goes perfectly. Describe the perfect result.
    </li>
    <li>
        Now think about the kinds of things that happened to get you there. What are the reasons you got to this result?
        Write those down.
    </li>
    <li>
        Now, think about the whole story. What happened first? What happened next? Create the complete story of the
        steps you took to arrive at the perfect ending. Record this!
    </li>
    <li>
        Once you've finished the perfect story, it's time to figure out the failure story. Describe what failure would
        look like for your decision.
    </li>
    <li>
        Now, think about the kinds of things that happened to make your decision result in failure. What are the reasons
        you got to this result? Write those down.
    </li>
    <li>
        Next, think about the whole story. What happened first? What happened next? Create the complete story of the
        steps you took that made your decision result in failure. Record this!
    </li>
    <li>
        Now, you have two stories—one where everything goes right, and one where everything goes wrong. Using your story
        of the perfect decision, come up with three steps you want to take that you think will lead to success.
    </li>
    <li>
        Next, using the disaster story, come up with three things you want to avoid doing so that you decision succeeds.
    </li>
</ol>
<p>
    By doing this Problem Solver, you know some of the risks and opportunities that you might face when you're making
    this decision. Now that you know, you can take the good action steps, and avoid the bad ones!
</p>