<p>
    When you've got a few options in front of you, and you've done your research and gathered data, it helps to put that
    data into a visual picture through a <i>business and industry analysis and map</i>. Because learning depends on both
    hemispheres of the brain - left (verbal, logical, sequential, analytical) and right (visual, emotional, non-linear)
    - a great creative exercise is to put your thinking into visual form. That will put your research in context and
    help you to identify important big picture issues.
</p>
<ol>
    <li>
        To get started identify the 1, 2 or 3 factors that really matter to you in the outcome. These are called your
        Critical Concepts. They invert traditional decision making. Instead of focusing on the problem that you need to
        solve, you are laser focused on achieving your picture of success. By figuring out what success would mean for
        your decision, you can more easily create a path toward that goal.
        <div>
            Example: You're thinking about getting EMT Certification. You need to know what EMT programs exist in your
            geographic area. Your have three Critical Concepts that really matter to you in the outcome is to ensure
            that your decision identifies:
            <ol>
                <li>
                    A program that is nearby
                </li>
                <li>
                    A program that you can afford
                </li>
                <li>
                    A program that meets evenings and weekends so that you can work during the day
                </li>
            </ol>
        </div>
    </li>
    <li>
        Consider how you might display your Critical Concepts in a visual map so that you can see the decision's 'big
        picture' and/or details?
        <div>Example: You identify five EMT programs and need to consider your three Critical Concepts for each.</div>
    </li>
    <li>
        Make the industry map of your decision. There are many websites and apps that can turn data into visual
        representations such as Piktochart, Sushi Status and Sway, among others.
    </li>
    <li>
        Looking at the information visually, can you identify questions about your decision that you still need
        answered? While there is no one right way to make an industry or visual map there are many benefits to it
        including fostering creativity, imagination and sparking dialogue with others.
    </li>
</ol>
