{% extends 'base.html' %}
{% load static %}
{% block title %}{% block h1 %}Your PROBLEM SOLVER Action Plan{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block content %}
    <style>
        #cheetah {
            display: inline;
            position: relative;
            border-bottom: 2px dotted #aaaaff;
        }

        #cheetahPopup p {
            font-size: medium;
            line-height: 120%;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#cheetahPopup').dialog({
                autoOpen: false,
                width: "80%",
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('#cheetah').on("click", function () {
                $('#cheetahPopup').dialog("open");
            });
        });
    </script>
    <div>
        <p>
            You are a{% if archetype == 'adventurer' %}n{% endif %}
            <strong>
                {% with 'area_app/img/'|add:archetype|add:'.png' as img_path %}
                    <img src="{% static img_path %}" height="50px"/>
                {% endwith %}
                {{ archetype|title }}
            </strong>!
        </p>
        <p id="decision_text"></p>
        <p>Most important towards a successful decision:
        <ol>
            {% for success in success_ordered|slice:":3" %}
                <li>{{ success.1 }}</li>
            {% endfor %}
        </ol>
        </p>
        <p>Your Personalized {% include "problem_solver.html" %} Tool: Your Cheetah Sheet!</p>
        <p>
            {% if archetype == 'adventurer' %}
                You are an Adventurer and you trust your gut. But that optimism may mean that you don't fully explore
                how
                your actions play out, especially when it comes to downside scenarios. For Adventurers like you the
                Scenario Analysis is a great tool to overcome bias. It asks you to fully imagine and play out different
                results for your decision.
            {% elif archetype == 'detective' %}
                You are a Detective and you like evidence. But collecting data doesn't always mean that you fully
                explore
                how your actions will play out, especially when it comes to weighing both the pros and cons. For
                Detectives like you the Pro/Con Analysis is a great tool to overcome bias. It asks you to lay out the
                data on both sides of the ledger to imagine and play out different results for your decision.
            {% elif archetype == 'listener' %}
                You are a listener! You have people whom you trust to help you make decisions and move forward in your
                life, and you know that you can always turn to them. But sometimes it's difficult to identify the best
                people to help you make your decision and to ask them the right questions, ones that will get you the
                information and analysis that you really need.
            {% elif archetype == 'thinker' %}
                You are a Thinker! You are a thoughtful decision maker who weighs the options before making a decision.
                You like to look at all the possibilities, so it's important for you to gather the right information.
                But how do you do that in a focused and targeted way?
            {% elif archetype == 'visionary' %}
                You are a Visionary! You see possibilities that other people may miss. However, because you are drawn to
                exciting ideas, you often get attached to the most recent or bold information or ideas, even if
                they aren't ultimately the most important. This can lead you to make decisions
                based on superficial information.
                </p><p>
                For Visionaries like you the Pro/Con Analysis is a great tool to overcome bias. It asks you to lay out
                the data on both sides of the ledger to imagine and play out different results for your decision.
            {% endif %}
            </p>
        <div id="cheetahPopup" title="Cheetah Sheets Explained">
            <p>
                Why the cheetah? Because the cheetah's prodigious hunting skills are not due to its speed. Rather, it's
                the
                animals' ability to decelerate quickly that makes them fearsome hunters.
            </p>
            <p>
                Cheetahs habitually run down their prey at speeds approaching 60 miles per hour but are able to cut
                their
                speed by nine miles per hour in a single stride, an advantage in hunting greater than being able to
                accelerate like a race car. This allows the cheetah to make sharp turns, sideways jumps and direction
                changes.
            </p>
            <p>
                As cheetah researcher Alan Wilson, explained in a New York Times article a few years ago, 'The hunt is
                much
                more about maneuvering, about acceleration, about ducking and diving to capture the prey.'
                Like the cheetah's hunt, the AREA Method offers both stability and maneuverability; it doesn't
                consistently
                move forward. Instead, it benefits from calculated pauses and periods of thoughtful deceleration that
                will
                enable you to consolidate knowledge before accelerating again. The reason: a quality research and
                decision
                making process is about depth, flexibility and creativity.
            </p>
            <p>
                The method's cheetah pauses work as 'strategic stops' during and after each part of your research. They
                enable you to chunk your learning, prevent you from going off course, and provide a clear record of your
                work at each stage. But most importantly, they will help you hone in on your motivation for making your
                high
                stakes decision and identify what is most critical to you in the outcome.
            </p>
        </div>
        <p>
            The AREA Method uses
            <a id="cheetah">Cheetah Sheets</a>, graphic organizers that will help
            you gather the information and analyze it to make the best decision for you.
            Here is a Cheetah Sheet for a{% if archetype == 'adventurer' %}n{% endif %} {{ archetype|title }}!
        </p>
        {% for cheetah in cheetahs|slice:":3" %}
            <div class="resource">
                {% if forloop.counter0 > 0 %}
                    <h4 class="showLink">
                        <a href="#"
                           onclick="$(this).closest('.resource').find('.cheetahContent').show();$(this).closest('.showLink').hide();return false;">Show
                            Another Cheetah Sheet...</a>
                    </h4>
                    <div class="cheetahContent" style="display:none">
                {% endif %}
                <h4>{{ cheetah }} <span style="font-size: small; color: lightgray;">{{ weight }}</span></h4>
                <div style="background-color: #eeeeee; padding: 5px;">
                    {% with 'cheetah/'|add:cheetah|add:'.html' as path %}
                        {% include path %}
                    {% endwith %}
                </div>
                {% if forloop.counter0 > 0 %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div style="display:none;">
            <div class="form-group">
                <label for="commitment">I commit to solving my problem by</label>
                <input type="text" name="commitment" class="form-control" id="commitment"
                       placeholder="what will you do?"
                       value="{{ request.session.commitment }}">
            </div>
            <div class="form-group">
                <label for="days">In the next </label>
                <select name="days" id="days">
                    <option value="days"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
                <label> days and sharing my results to create a community of problem solvers.</label>
            </div>
            <div style="margin-top: 50px;">
                <input type="submit" class="btn btn-sm" name="submit" value="Back"/>
                <input type="submit" class="btn btn-lg btn-primary" name="submit" value="Commit!"/>
            </div>
        </div>
            <div style="margin-top: 50px;">
                <a href="/" class="btn btn-lg btn-primary">Continue</a>
            </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var decision_text = get_decision_text('{{ type }}', '{{ decision }}', '{{ options }}', '{{ timeframe }}');
            $('#decision_text').text(decision_text);
            $('#days').val('{{ request.session.commitment_days }}');
        });

        function validate() {
            if (!$('#commitment').val()) {
                alert("Please type in what you will do");
                return false;
            }
            if (!$('#days').val()) {
                alert("Please select when you'll do it");
                return false;
            }
        }
        $('form').submit(validate);
    </script>
{% endblock %}
