{% extends 'base.html' %}
{% block title %}{% block h1 %}Your PROBLEM SOLVER Profile{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block content %}
    {% if archetype %}
        <div>{% with 'archetype/'|add:archetype|add:'.html' as path %}{% include path %}{% endwith %}</div>
    {% endif %}
    <div>
        <div class="clearfix"></div>
        <h3>Secondary Profile</h3>
        <div>Some answers also reflect that you  have attributes of a Listener in your decision making.  Read the
        Listener profile to see for yourself.</div>

        <div style="font-size: larger">See <a href="/archetypes">all {% include "problem_solver.html" %} Profiles</a>?</div>

        <div style="margin-top: 20px">
            <a class="btn btn-large center" href="/decision" style="background-color: #f6653c; color: #ffffff;">
                <div>Make A Decision</div>
            </a>
        </div>
        <div></div>
        <a class="btn btn-lg btn-primary" href="/">Back</a>
    </div>
{% endblock %}
