{% extends 'base.html' %}
{% block title %}{% block h1 %}Your PROBLEM SOLVER Profile{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block content %}
    {% if archetype %}
        <div>{% with 'archetype/'|add:archetype|add:'.html' as path %}{% include path %}{% endwith %}</div>
    {% endif %}
    <div>
        <div class="clearfix"></div>
        <h4>Curious about <a href="/archetypes">other {% include "problem_solver.html" %} Profiles</a>?</h4>
        <a class="btn btn-lg btn-primary" href="/">Back</a>
    </div>
{% endblock %}
