{% extends 'base.html' %}
{% block title %}{% block h1 %}Your {% include "problem_solver.html" %} Profile{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block content %}
    {% if archetype %}
        <div>{% with 'archetype/'|add:archetype|add:'.html' as path %}{% include path %}{% endwith %}</div>
    {% endif %}
    <div>
        <div class="q">Add posting to social media here?</div>
        <div class="clearfix"></div>
        <h4>Curious about <a href="/archetypes" target="_blank">other {% include "problem_solver.html" %} Profiles</a>?</h4>
        <h3>Applying the AREA Method</h3>
        <p>COMING SOON! Use your {% include "problem_solver.html" %} Profile and the AREA Method app to make big decisions better!</p>
        {% include 'buttons.html' %}
    <a href="/archetypes" data-modal-title="Decision-Maker Styles"
   data-modal-description="dd2" data-modal-iframe-scroll="true">
    Overlay
</a>
    </div>
{% endblock %}
