{% extends 'base.html' %}
{% load static %}
{% block title %}{% block h1 %}Cricial Concepts{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
<style>
    .example {
        display: inline;
        position: relative;
        border-bottom: 2px dotted #aaaaff;
    }

    .example:hover:after {
        background: #333;
        background: rgba(0, 0, 0, .8);
        border-radius: 5px;
        bottom: 26px;
        color: #fff;
        content: attr(title);
        left: 20%;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        width: 400px;
    }

    .example:hover:before {
        border: solid;
        border-color: #333 transparent;
        border-width: 6px 6px 0 6px;
        bottom: 20px;
        content: "";
        left: 50%;
        position: absolute;
        z-index: 99;
    }
</style>
    <p style="font-size: larger">
        What are Critical Concepts?
    </p>
    <p>
        They are the one, two or three things that will allow you to achieve your version of success. They answer: 'What am I really solving for?'
    </p>
    <p>
        There's no one right answer.
        <a href="/ccex" target="_blank">
            Two people looking at the same data may well have different Critical Concepts and may make entirely different decisions.
        </a>.
    </p>
    <p>
        List your <span class="example" title="Sarah needs a new car. She's on a tight budget, lives in place with harsh winters and relies upon her car to get to work every day. She's deciding between a used car or a new one. Her personal CCs are: Reliability, all weather performance and price.">Critical Concepts</span> in order of importance.
    </p>
    <div class="container">
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-md-3 col-xs-4 lbl" style="padding-top:12px">
                Critical Concept 1:</div>
            <div class="col-md-9 col-xs-8">
                <input type="text" class="inpu" name="critical_concept1" id="critical_concept1"
                       value="{{ ccs.concept1 }}"/>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-md-3 col-xs-4 lbl" style="padding-top:12px">
                Critical Concept 2:</div>
            <div class="col-md-9 col-xs-8">
                <input type="text" class="inpu" name="critical_concept2" id="critical_concept2"
                       value="{{ ccs.concept2 }}"/>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-md-3 col-xs-4 lbl" style="padding-top:12px">
                Critical Concept 3:</div>
            <div class="col-md-9 col-xs-8">
                <input type="text" class="inpu" name="critical_concept3" id="critical_concept3"
                       value="{{ ccs.concept3 }}"/>
            </div>
        </div>
    </div>

    {% include 'buttons.html' %}

{% endblock %}
