{% extends 'base.html' %}
{% block title %}{% block h1 %}What's your Decision?{% endblock %}{% endblock %}
{% block post_title %}{% include 'crumbs.html' with s=request.session %}{% endblock %}
{% block extra_head %}
    <style class="text/css">
        .tooltip > .tooltip-inner {
            background-color: #73AD21;
            color: #FFFFFF;
            border: 1px solid green;
            padding: 15px;
            font-size: 15px;
            max-width: 320px;
            width: 320px;
            text-align: left;
        }

        @media screen and (max-width: 500px) {
            body {
                cursor: pointer;
            }

            .btnv:hover {
                color: #fff;
                background-color: inherit;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="text-center" style="font-size: x-large">What problem do you want to solve for today?</div>
        </div>
        <div class="row" style="display:none;">
            <div class="text-center">
                <div id="videos_link"><a href="#" onclick="return showVideos()">See Video Examples</a></div>
                <table id="videos" style="display: none; width: 100%;">
                    <tr>
                        <td>Watch Naomi decide if she should skip a day of school</td>
                        <td> &nbsp;</td>
                        <td>Watch Mitch decide if he should go to detention</td>
                    </tr>
                    <tr>
                        <td>
                            <iframe width="180" height="315"
                                    src="https://www.youtube.com/embed/eI18uNKEJyo?rel=0&amp;controls=0&amp;showinfo=0"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </td>
                        <td> &nbsp;</td>
                        <td>
                            <iframe width="180" height="315"
                                    {% if request.session.partner == "apres" %}
                                    src="https://www.youtube.com/embed/AVKZOcV3hIQ?rel=0&amp;controls=0&amp;showinfo=0"
                                    {% else %}
                                    src="https://www.youtube.com/embed/CvkjxEoVKL8?rel=0&amp;controls=0&amp;showinfo=0"
                                    {% endif %}
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <p class="col-md-12">
                Now that you've learned about yourself as a {% include "problem_solver.html" %}, it's time to get clear on the type of
                problem you want to solve. Often, when faced with a complex problem getting started on solving it is
                difficult. AREA will break it down into manageable steps.
            </p>
            <p class="col-md-12">
                On this page let's get clear on the type or problem you are solving, your current options and your
                timeframe. Of course complex problems may fall into a few categories, but focus on the category that
                matters the most to you.
            </p>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div id="decision_types" class="row">
            <div class="decision_group col-md-4 col-sm-6 col-xs-6 text-center">
                <label class="decision_type btnv"><input type="checkbox" name="decision_type[]" value="family"/>
                    Family</label>
                <div class="info" data-toggle="tooltip"><span class="glyphicon glyphicon-info-sign"
                                                              aria-hidden="true"></span> See Example
                </div>
            </div>
            <div class="decision_group col-md-4 col-sm-6 col-xs-6 text-center">
                <label class="decision_type btnv"><input type="checkbox" name="decision_type[]" value="professional"/>
                    Professional</label>
                <div class="info" data-toggle="tooltip"><span class="glyphicon glyphicon-info-sign"
                                                              aria-hidden="true"></span> See Example
                </div>
            </div>
            <div class="decision_group col-md-4 col-sm-6 col-xs-6 text-center">
                <label class="decision_type btnv"><input type="checkbox" name="decision_type[]" value="education"/>
                    Education</label>
                <div class="info" data-toggle="tooltip"><span class="glyphicon glyphicon-info-sign"
                                                              aria-hidden="true"></span> See Example
                </div>
            </div>
            <div class="decision_group col-md-4 col-sm-6 col-xs-6 text-center">
                <label class="decision_type btnv"><input type="checkbox" name="decision_type[]" value="community"/>
                    Community</label>
                <div class="info" data-toggle="tooltip"><span class="glyphicon glyphicon-info-sign"
                                                              aria-hidden="true"></span> See Example
                </div>
            </div>
            <div class="decision_group col-md-4 col-sm-6 col-xs-6 text-center">
                <label class="decision_type btnv"><input type="checkbox" name="decision_type[]" value="money related"/>
                    Money Related</label>
                <div class="info" data-toggle="tooltip"><span class="glyphicon glyphicon-info-sign"
                                                              aria-hidden="true"></span> See Example
                </div>
            </div>
            <div class="decision_group col-md-4 col-sm-6 col-xs-6 text-center">
                <label class="decision_type btnv"><input type="checkbox" name="decision_type[]" value="health"/>
                    Health</label>
                <div class="info" data-toggle="tooltip"><span class="glyphicon glyphicon-info-sign"
                                                              aria-hidden="true"></span> See Example
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                <label class="decision_type btnv"><input type="checkbox" name="decision_type[]" value="other"/> Other:
                </label>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                <input type="text" name="decision_type_other" id="decision_type_other" size="22"
                       style="margin-top: 22px;" value="{{ request.session.decision_type_other }}"/>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-11 col-centered boeder">&nbsp;</div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="text-center" style="font-size: x-large;">
                I am facing a<span id="types_starts_with_vowel" style="display:none">n</span> <span id="types"></span>
                challenge.
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-md-3 col-xs-4" style="padding-top:12px; font-size:large; white-space: nowrap;">I need to decide:</div>
            <div class="col-md-9 col-xs-8">
                <input type="text" class="inpu" name="decision" id="decision"
                       value="{{ request.session.decision }}"/>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-md-3 col-xs-4" style="padding-top:12px; font-size:large; white-space: nowrap;">My options:</div>
            <div class="col-md-9 col-xs-8">
                <input type="text" name="options" id="options" class="inpu"
                       value="{{ request.session.options }}"/>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-md-3 col-xs-4" style="font-size:large; white-space: nowrap;">Decide by end of:</div>
            <div class="col-md-9 col-xs-8">
                <select name="timeframe" class="inpu" id="timeframe">
                    <option value=""></option>
                    <option value="day">day</option>
                    <option value="week">week</option>
                    <option value="month">month</option>
                    <option value="year">year</option>
                    <option value="sometime">sometime</option>
                </select>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        {% include 'buttons.html' %}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#timeframe').val('{{ request.session.timeframe }}');
            var decision_types = '{{ decision_types }}'.split(',');
            for (var i = 0; i < decision_types.length; i++) {
                $('[name="decision_type[]"][value="' + decision_types[i] + '"]').click();
            }
            $('.decision_group').each(function () {
                var val = $(this).find(':checkbox').attr('value');
                var example = type_examples[val];
                $(this).find('.info').attr('title', example);
            });
            $('[data-toggle="tooltip"]').tooltip();
            $('.decision_type').click(function () {
                var btn = $(this);
                var checkbox = $(this).find('input');
                if (checkbox.is(':checked')) {
                    btn.addClass('active');
                } else {
                    btn.removeClass('active');
                }
                checkbox.toggle();
            });
            $('.decision_type').each(function () {
                if ($(this).find('input').is(':checked')) {
                    $(this).addClass('active');
                }
            });
        });

        $('.tooltip').click(function () {
            $(this).hide();
        });

        var type_none = '[select type above]';
        $('#types').text(type_none);

        function showVideos() {
            $('#videos').show();
            $('#videos_link').hide();
            return false;
        }

        function updateTypes() {
            var types = '';
            var some_checked = false;
            $(':checkbox').each(function () {
                if ($(this).is(":checked")) {
                    some_checked = true;
                    var val = $(this).attr('value');
                    if (val) {
                        if (types) {
                            types += ' and ';
                        } else {
                            // an / a for the first one
                            if (val.startsWith('a') || val.startsWith('i')) {
                                $('#types_starts_with_vowel').show();
                            } else {
                                $('#types_starts_with_vowel').hide();
                            }
                        }
                        if (val == 'other') {
                            var other_type = $('#decision_type_other').val();
                            if (!other_type) {
                                other_type = '[type in details for "Other"]'
                            }
                            types += other_type
                        } else {
                            types += val;
                        }
                    }
                }
            });
            if (!types) {
                types = type_none;
            }
            $('#types').text(types);
        }

        $(':checkbox').click(updateTypes);
        $('#decision_type_other').keyup(updateTypes);

        var type_examples = {
            'money related': 'You would like to move to using a budgeting app, so that you can budget your money in real time. Which budgeting app should you use – YNAB or Mint? You get a paycheck in two weeks, and would like to have up and running by then, so you have about ten days to decide.',
            'professional': 'You have been offered an opportunity for an off-site two-day email marketing course, paid for by your employer. Email marketing isn\'t your area of interest, but taking the course will make you the "expert" in your department. Should you go? Your boss wants a decision in 48 hours.',
            'community': 'You have been invited by a friend to join her book group, which meets on a weekday evening, time you usually spend with your children but you never seem to find time for your friends and this is a scheduled way to see a few together regularly. Should you join? Your friend wants an answer by the end of the week. You have five days to decide.',
            'education': 'You are facing an educational challenge. You would like to learn some Spanish before travelling to Mexico in three months. What is the best way to learn a new language with limited time? You want to decide within a week so you can maximize your learning time.',
            'family': 'You are facing a family challenge. You need to decide whether to move your aging mother into a care facility or try to provide care for her in her apartment. A nearby facility has an opening, and you\'ve put down a deposit, which you will lose in two weeks. So you have two weeks to make the decision.',
            'health': 'You are facing a health-related decision. You need braces. The orthodontist offers four different options: metal braces, ceramic braces, lingual braces or invisalign braces. Which should you choose? You have an initial fitting appointment in a week, and have to decide by then.',
        }

        function validate() {
            var type_selected = false;
            $(':checkbox:checked').each(function () {
                var val = $(this).attr('value');
                if (val == 'other' && !$('#decision_type_other').val()) {
                    alert("Please type in the Other type of decision");
                    return false;
                } else {
                    type_selected = true;
                }
            });
            if (!type_selected) {
                alert("Please select one or more types");
                return false;
            }
            if (!$('#decision').val()) {
                alert("Please type in what you need to decide");
                return false;
            }
            if (!$('#options').val()) {
                alert("What are the possible outcomes");
                return false;
            }
            if (!$('#timeframe').val()) {
                alert("Please select when you need to decide");
                return false;
            }
            return true;
        }
        $('form').submit(validate);

    </script>

{% endblock %}
