{% extends 'base.html' %}
{% load socialaccount %}
{% block title %}{% block h1 %}{% endblock %}{% endblock %}
{% block content %}
    <div style="margin-top: 50px; text-align: center;">
        <div style="font-size: xx-large">
            <a href="/archetype">{% include "problem_solver.html" %} Profile:
                {% with 'area_app/img/'|add:archetype|add:'.png' as img_path %}
                    <img src="{% static img_path %}"/>
                {% endwith %}
                {{ archetype|title }}</a>
        </div>
        <div><a href="/questions">Take the quiz again</a></div>
        <div class="text-center" style="margin-top: 20px">
            <a class="btn" href="{% url 'Decision' %}" style="background-color: #f6653c; color: #ffffff;">
                <p style="font-size: x-large">PROBLEM <span style="color:#000000">SOLVED</span></p>
                Make Big Decisions Better
            </a>
        </div>
        {% if problems %}
            <h2>Prior Decisions:</h2>
            <ul>
                {% for problem in problems %}
                    <li>
                        <a href="/decision?pid={{ problem.id }}">{{ problem.decision }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div>
            <a class="btn btn-warning" href="{% url 'account_logout' %}">Sign Out</a>
        </div>
    </div>
{% endblock %}
