{% extends 'base.html' %}
{% load socialaccount static %}
{% block title %}{% block h1 %}{% endblock %}{% endblock %}
{% block content %}
    <div style="margin-top: 50px; text-align: center;">
        <div style="font-size: xx-large">
            Welcome,
            <span style="white-space: nowrap;"><a href="/archetype">
            {% with 'area_app/img/'|add:archetype|add:'.png' as img_path %}
                <img src="{% static img_path %}" height="50px"/>
            {% endwith %}
            {{ archetype|title }}</a></span>
        </div>
        <div style="margin-top: 20px; font-size: larger;">
            Chart a decision path forward into your best future with <a href="http://areamethod.com" target="_blank">The AREA Method</a>
        </div>
        <div style="margin-top: 10px; font-size: larger;">
            <i>Turning Good Ideas into Great Thinking</i>
        </div>
        <div style="margin-top: 20px">
            <a class="btn" href="/archetype" style="background-color: #f6653c; color: #ffffff;">
                <div style="font-size: large">Read Your Full<br/>PROBLEM SOLVER Profile</div>
            </a>
        </div>
        <div style="margin-top: 20px">
            <a class="btn" href="/decision" style="background-color: #f6653c; color: #ffffff;">
                <div style="font-size: large">Make Your Big Decision<br/>Better Now!</div>
            </a>
        </div>
        {% if problems %}
            <div style="font-size: x-large; margin-top: 40px;">Prior Decisions:</div>
            {% for problem in problems %}
                <div style="font-size: larger">
                    <a href="/action_map?pid={{ problem.id }}"><span class="glyphicon glyphicon-file"></span>Decide {{ problem.decision }}</a>
                    &nbsp;
                    <a href="/decision?pid={{ problem.id }}" style="font-size: medium"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                </div>
            {% endfor %}
        {% endif %}
        <div style="margin-top: 50px;"><a href="/questions">Take the quiz again</a></div>
        <div>
            <a href="{% url 'account_logout' %}">Sign Out</a>
        </div>
    </div>
{% endblock %}
