{% extends 'modules/base/intro.html' %}

{% block pre_title %}The{% endblock %}

{% block module_title %}
    <div>
        <span class="green">P</span>
        <span class="yellow">R</span>
        <span class="light-blue">O</span>
        <span class="red">B</span>
        <span class="yellow">L</span>
        <span class="light-blue">E</span>
        <span class="green">M</span>
        &nbsp;
        <span class="red">S</span>
        <span class="green">O</span>
        <span class="yellow">L</span>
        <span class="light-blue">V</span>
        <span class="red">E</span>
        <span class="green">R</span>
    </div>
{% endblock %}

{% block post_title %}PROFILE{% endblock %}

{% block module_subtitle %}
    <p>What kind of a decision-maker are you?</p>
    <p>Find out by using this module.</p>
    <p>Get your {% include 'module0/problem_solver.html' %} (PSP) and learn about you!</p>
{% endblock %}