{% extends 'decisions/base.html' %}
{% load account bootstrap i18n static %}
{% block title %}{% block h1 %}Future Project AREA Method{% endblock %}{% endblock %}
{% block content %}
    <div class="center">
        <div style="margin-top: 50px; margin-bottom: 50px;">
            <img src="{% static 'decisions/img/Homepage_Door.png' %}"/>
        </div>
        <h1 class="module_title">
            <div>
                <span class="green">D</span>
                <span class="yellow">E</span>
                <span class="light-blue">C</span>
                <span class="red">I</span>
                <span class="yellow">S</span>
                <span class="light-blue">I</span>
                <span class="green">V</span>
                <span class="red">E</span>
            </div>
        </h1>
        <h3 style="font-size: 1.6em;">Make Big Decisions Better!</h3>
    </div>
    <hr />
    {% if user.is_authenticated %}
        {% load module_tags %}
        {% get_module_link module0 user %}
        {% get_module_link module1 user %}
        {% get_module_link module2 user %}
        {% get_module_link module3 user %}

        <h3 style="display: none; margin-top: 20px;"><a href="journal">AREA Journal</a></h3>
    {% else %}
        <h3>
            {% blocktrans %}
                Already have an account? Then please <a href="/accounts/login/">Sign In</a>.
            {% endblocktrans %}
        </h3>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|bootstrap }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <div>
                <label>
                    <input type="checkbox" id="terms_conditions" name="terms_conditions" value="1"/> I accept the
                    <a href="terms_conditions" target="_blank">Terms and Conditions</a>.
                </label>
            </div>
            <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
        </form>
    {% endif %}

    <script type="text/javascript">
        function validate() {
            if (!$('#terms_conditions').is(':checked')) {
                alert("Please accept the Terms and Conditions");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
