{% extends 'decisions/base.html' %}
{% load account bootstrap i18n %}
{% block title %}{% block h1 %}Future Project AREA Method{% endblock %}{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div style="float: right; margin-right: -100px;" class="center">
            {{ request.user.email }}<br/>
            {% if user.is_staff %}
                <a href="/admin/decisions/">Admin</a><br/>
            {% endif %}
            <a href="{% url 'account_logout' %}">Sign Out</a>
        </div>
    {% endif %}
    <h2>
        Future Project AREA Method
    </h2>
    <h3>The quality of your decisions determines the quality of your life.</h3>
    <h3>With this app you will learn how to make your big decisions better!</h3>
    <hr />
    {% if user.is_authenticated %}
        <h3>
            {% if module1.completed_on %}
                &#10004;
                <img src="/static/decisions/img/Module1_badge.png" style="float: right; margin-right: -70px;"/>
                Module 1 - Introduction to Decision Making Completed!
                {% if user.is_staff %}
                    (<a href="1/restart">Restart</a>)
                {% endif %}
            {% else %}
                {% if module1.step %}
                    <a href="1/{{ module1.step }}">Module 1 - Introduction to Decision Making</a>
                    {% if user.is_staff %}
                        (<a href="1/restart">Restart</a>)
                    {% endif %}
                {% else %}
                    <a href="1">Module 1 - Introduction to Decision Making</a>
                {% endif %}
            {% endif %}
        </h3>
        <h3>
            {% if module2.completed_on %}
                &#10004;
                <img src="/static/decisions/img/Module2_badge.png" style="float: right; margin-right: -70px;"/>
                Module 2 - Cognitive Bias Completed!
                {% if user.is_staff %}
                    (<a href="2/restart">Restart</a>)
                {% endif %}
            {% else %}
                {% if module2.step %}
                    <a href="2/{{ module2.step }}">Module 2 - Cognitive Bias, You're Not As Open Minded As You Think</a>
                    {% if user.is_staff %}
                        (<a href="2/restart">Restart</a>)
                    {% endif %}
                {% else %}
                    <a href="2">Module 2 - Cognitive Bias, You're Not As Open Minded As You Think</a>
                {% endif %}
            {% endif %}
        </h3>
        <h3 style="display: none; margin-top: 20px;"><a href="journal">AREA Journal</a></h3>
    {% else %}
        <h3>
            {% blocktrans %}
                Already have an account? Then please <a href="/accounts/login/">Sign In</a>.
            {% endblocktrans %}
        </h3>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|bootstrap }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <div>
                <label>
                    <input type="checkbox" id="terms_conditions" name="terms_conditions" value="1"/> I accept the
                    <a href="terms_conditions" target="_blank">Terms and Conditions</a>.
                </label>
            </div>
            <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
        </form>
    {% endif %}

    <script type="text/javascript">
        function validate() {
            if (!$('#terms_conditions').is(':checked')) {
                alert("Please accept the Terms and Conditions");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
