{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Perspective Taking{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <style type="text/css">
        label {
            font-size: large;
            border: 1px solid #dddddd;
            padding: 5px;
            width: 200px;
        }

        :checked + span {
            font-weight: bold;
        }
    </style>

    <h2 class="center">
        More Perspective Taking
    </h2>

    <h3>
        Perspective taking shows you that what you think you know and understand may be different than others. That
        distance builds self-awareness
    </h3>

    <h3>
        {{ sample_student.name|title }} just used Perspective Taking to find facts.
        Now {{ sample_student.pronoun_subject }} can collect opinions and match it up to the
        facts {{ sample_student.pronoun_subject }} has.
    </h3>

    <div class="space"></div>

    <h3>
        Opinions reflect someone's experience, assumption or judgment. Do they reflect reality? Click on your answer:
    </h3>

    <div>
        <label>
            <input type="radio" name="opinions_reality" value="always"/>
            Always
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="opinions_reality" value="sometimes"/>
            Sometimes
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="opinions_reality" value="never"/>
            Never
        </label>
    </div>

    <h3>
        Do they reflect what's important to <i>you</i>? Click on your answer:
    </h3>

    <div>
        <label>
            <input type="radio" name="opinions_important" value="always"/>
            Always
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="opinions_important" value="sometimes"/>
            Sometimes
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="opinions_important" value="never"/>
            Never
        </label>
    </div>

    <p class="center">
        <button id="next" type="submit">Next</button>
    </p>
    {% get_back_link module nav.previousUrl %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if module.opinions_reality %}
                $("input[name='opinions_reality'][value='{{ module.opinions_reality }}']").prop("checked",true);
            {% endif %}

            {% if module.opinions_important %}
                $("input[name='opinions_important'][value='{{ module.opinions_important }}']").prop("checked",true);
            {% endif %}
        });

        function validate() {
            if (!$('input[name="opinions_reality"]:checked').length) {
                alert("Please select whether opinions reflect reality?.");
                $('input[name="opinions_reality"]').focus();
                return false;
            }

            if (!$('input[name="opinions_important"]:checked').length) {
                alert("Please select whether opinions reflect what's important to you.");
                $('input[name="opinions_important"]').focus();
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
