{% extends 'modules/base/intro.html' %}

{% block pre_title %}
    <h1>Introduction to</h1>
{% endblock %}

{% block module_title %}
    <div>
        <span class="green">A</span>
        <span class="yellow">S</span>
        <span class="light-blue">S</span>
        <span class="red">U</span>
        <span class="yellow">M</span>
        <span class="light-blue">P</span>
        <span class="green">T</span>
        <span class="red">I</span>
        <span class="green">O</span>
        <span class="yellow">N</span>
        <span class="light-blue">S</span>

        <br />
        <span class="red">&amp;</span>
        <br />

        <span class="green">J</span>
        <span class="yellow">U</span>
        <span class="light-blue">D</span>
        <span class="red">G</span>
        <span class="yellow">E</span>
        <span class="light-blue">M</span>
        <span class="green">E</span>
        <span class="red">N</span>
        <span class="green">T</span>
        <span class="yellow">S</span>
    </div>
{% endblock %}

{% block module_subtitle %}
    <p>We all make assumptions and judgments.</p>
{% endblock %}