{% extends 'decisions/base/map.html' %}
{% block pins %}
    <img src="/static/decisions/img/Locator_rotated.png" class="pin"
         style="margin-top: 50px; margin-left: -250px;" title="Mental Shortcuts and Bias"/>
    <img src="/static/decisions/img/Locator_rotated.png" class="pin"
         style="margin-top: 10px; margin-left: -160px;" title="Facts Versus Opinions"/>
    <img src="/static/decisions/img/Locator_rotated.png" class="pin"
         style="margin-top: 45px; margin-left: -155px;" title="Perspective Taking"/>
    <img src="/static/decisions/img/Locator_rotated.png" class="pin"
         style="margin-top: 20px; margin-left: -80px;" title="How Facts Beat Bias"/>
{% endblock %}
{% block next %}
    Ready to Make Better Decisions
{% endblock %}
