{% extends 'modules/cheetah/intro.html' %}

{% block cheetah_content %}
    <p>On the next page you’ll find a Cheetah Sheet.</p>

    <p>Why the Cheetah? Because although she accelerates like a race car, she slows down
        up to 9 miles an hour <em>in a single stride</em> making her a fearsome hunter.</p>

    <p>She's <strong>agile and flexible</strong>. Her <em>pause</em> is perfect to give you time for thoughtful
        reflection and turn good ideas into great decision-making!</p>
{% endblock %}