{% extends 'modules/cheetah/sheet.html' %}
{% block cheetah_content %}
    <style type="text/css">
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        .modal-content {
            background-color: #eee;
            margin: auto;
            padding: 20px;
            /* border: 1px solid #888888; */
            width: 70%;
        }

        .pro_con {
            background-color: #eee;
        }

        .pro_con p {
            font-size: 1em;
        }

        .table .cheetahQuestions {
            width: 60%;
            margin-top: 10px;
        }

        .question {
            color: #1e2846;
            font-size: 18px;
            font-weight: 800 !important;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            var minTextLength = 2;

            function validate() {
                var valid = true;

                /* Scan each text field and ensure that it has at least min chars length */
                $('input[type=text]').each(function () {
                    /* console.log($(this).val()); */
                    var fieldValue = $(this).val();
                    var id = $(this).attr('id').split("_");
                    var questionId = id[0].replace("q", "");
                    var answerId = id[1].replace("a", "");

                    if (fieldValue.length <= minTextLength) {
                        alert("Please answer question " + questionId + " with at least " + minTextLength + " characters!");
                        $(this).focus();
                        valid = false;
                        return false;
                    }
                });
                console.log(valid);

                return valid;
            }

            {% for profile in module.profiles %}
            $('.link_{{ profile.id }}').click(function() {
                $('#modal_{{ profile.id }}').css('display', 'block');
                return false;
            });
            {% endfor %}

            $('#closeBtn').click(function () {
                /* Hide modal */
                $('.modal').css('display', 'none');
                return false;
            });

            /* Validate the form and submit */
            $('#completeBtn').click(function () {
                var results = validate();
                if (results) {
                    $('form').submit();
                }
                return results;
            });

            /* Force the redirect back to the previous page */
            $('#back').click(function () {
                window.location.href = $(this).attr('href');
            });

            /* Clicking anywhere outside of the modal closes the modal */
            $(window).click(function (e) {
                $('.modal').css('display', 'none');
                return false;
            });
        })
    </script>

    <div class="space"></div>

    <p>Apply what you’ve learned from your <span class="master_term">Problem Solver Profile</span> (PSP) in your daily
        life. Fill out the questions below
        to challenge yourself to be a better decision-maker and spark dialogue.</p>
    <div class="space"></div>

    {% for profile in module.profiles %}
    <div id="modal_{{ profile.id }}" class="modal pro_con">
        <div class="modal-content">
            <p class="center">
                <button id="closeBtn">Click to Close</button>
            </p>

            <div>{% with 'module0/archetype/'|add:profile.id|add:'.html' as path %}
                {% include path with archetype=profile.id display_mode='all' %}{% endwith %}
            </div>

            <p class="center">
                <button id="closeBtn">Click to Close</button>
            </p>
        </div>
    </div>
    {% endfor %}

    {% include 'module0/cheetah1/form.html' %}

    <div class="center">
        <button id="completeBtn" value="Complete Cheetah Sheet">Complete Cheetah Sheet</button>
    </div>
{% endblock %}