{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load area_tags %}
{% block title %}{% block h1 %}Module {{ module.display_num }} - Practice Critical Concepts{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
        li, td {
            font-size: smaller;
        }
    </style>
    <h2 class="center">
        Practice Critical Concepts
    </h2>
    <ul id="list">
        <li id="2">
            If you had to decide whether to go away to college, how would you answer What am I solving for? What would
            might be your Critical Concepts?
            <div id="and" class="center">
                <button type="button" class="center" onclick="return nextbtn()">Continue</button>
            </div>
        </li>
        <li id="3" class="anim">Remember: There's no one right answer. Think of answers that are "RIGHT" for you
            personally.
        </li>
        <li class="anim">
            <table class="table">
                <thead>
                <tr>
                    <th>Nylah's Answer</th>
                    <th>Your Answer</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1. I'm able to afford it.</td>
                    <td>1. <input type="text" name="cc0" class="cc" value="{{ module.cc0 }}" size="30"/></td>
                </tr>
                <tr>
                    <td>2. I want to study graphic design.</td>
                    <td>2. <input type="text" name="cc1" class="cc" value="{{ module.cc1 }}" size="30"/></td>
                </tr>
                <tr>
                    <td>3. I still want to help out at home.</td>
                    <td>3. <input type="text" name="cc2" class="cc" value="{{ module.cc2 }}" size="30"/></td>
                </tr>
                </tbody>
            </table>

            <div class="center">
                <button type="submit" id="next">Meet The Cheetah</button>
            </div>
        </li>
    </ul>
    {% get_back_link module nav.previous %}
    <script type="text/javascript">
        function validate() {
            var valid = true;
            $('.cc').each(function () {
                if ($(this).val().length < 5) {
                    if (valid) {
                        alert("Please provide 3 answers.");
                    }
                    valid = false;
                }
            });
            return valid;
        }
    </script>
{% endblock %}
