{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% block title %}{% block h1 %}Module {{ module.num }} - {{ module.name }}{% endblock %}{% endblock %}
{% block content %}
    <style type="text/css">
        .map .pin {
            position: absolute;
            cursor: pointer;
        }

        #title {
            position: absolute;
            display: none;
            text-align: left;
            background-color: rgba(255, 255, 255, 0.8);
            padding-left: 5px;
            padding-right: 5px;
            border: 1px dashed #1e2846;
            font-size: 150%;
            cursor: none;
            pointer-events: none;
        }
    </style>
    <script type="text/javascript">
        /**
         * Take a css dimension like "20px" and add to_add pixels to it
         * @param dimension_in_px
         * @param to_add
         */
        function pixel_add(dimension_in_px, to_add) {
            var dim = dimension_in_px.substr(0, dimension_in_px.length - 2);
            return parseInt(dim) + to_add + 'px';
        }

        function pin() {
            var title_text = $(this).attr('title');
            var top = pixel_add($(this).css('margin-top'), -150);
            var left = pixel_add($(this).css('margin-left'), 445);
            $('#title').css('margin-top', top).css('margin-left', left).text(title_text).show();
        }

        $(document).ready(function () {
            $('.pin').click(pin);
        });
    </script>
    <div class="center">
        <h2>Click on each pin to see what you'll learn.</h2>
        <div class="map">
            <img src="/static/decisions/img/Map.png"/>
            {% block pins %}{% endblock %}
            <div id="title"></div>
        </div>
    </div>
    <p class="center start2">
        <a href="instructions">
            <button id="next" type="button">
                {% block next %}Ready to Make Better Decisions{% endblock %}
            </button>
        </a>
    </p>
    <a href="review" id="back">Back</a>
{% endblock %}
